[2022-10-13 20:49] hairyhum opened #3653 "Elixir: refactor session options"
Currently we use `handshake` and `worker_mod` options to configure session workers for handshake and data stages in:
https://github.com/build-trust/ockam/blob/develop/implementations/elixir/ockam/ockam/lib/ockam/session/pluggable.ex
https://github.com/build-trust/ockam/blob/develop/implementations/elixir/ockam/ockam/lib/ockam/session/pluggable/initiator.ex
https://github.com/build-trust/ockam/blob

[2022-10-13 21:01] hairyhum opened #3654 "Elixir: add Ockam.Worker.route/1,2 to generalize sending messages from workers."
Currently when workers send messages they need to create a message and call `Ockam.Router.route/1`

`Ockam.Router.route/1` does not have information about the worker and the worker needs to create a message with all the metadata first to route it.

If we were using something like `Ockam.Worker.route(message, state)` then we could use some generic code to access the state and add metadata to the me

[2022-10-13 21:06] #2012 closed

[2022-10-13 21:43] #3645 closed, assigned to bahelms

[2022-10-14 04:06] #3572 closed, assigned to elliotwutingfeng

[2022-10-14 06:21] #3539 closed, assigned to sanjayts

[2022-10-14 06:33] adrianbenavides commented on #3597
@Abhicodes-crypto all yours! Let us know if you need any help :+1:

[2022-10-14 06:49] adrianbenavides commented on #3562
Hey @divyank-rs , thanks for showing your interest in the project. Let me answer your questions:

We currently have some tests in place in the `tests/commands.bats` file. We don't have an explicit test for this but this command is being tested indirectly by the `"inlet/outlet example with credentials, not provided"` test, for example.

You could write a new test for this command checking that it r

[2022-10-14 11:48] sanjayts commented on #3559
I would be interested in picking this up.

[2022-10-14 12:52] bahelms commented on #3647
I can pick this up :)

[2022-10-14 13:34] divyank-aggarwal commented on #3562
Hey @adrianbenavides ,

Your advice was really helpful and I've written the code. However upon running the tests, half of them including the `inlet/outlet example with credentials, not provided` test requires ockam enroll to have already occurred. What is the process through which I can run these tests?

[2022-10-14 15:00] ronaudinho commented on #3563
I'll give this a try over the weekend.

[2022-10-14 15:07] mrinalwadhwa commented on #3559
@sanjayts awesome! all yours.

[2022-10-14 15:08] mrinalwadhwa commented on #3563
@ronaudinho awesome! let us know if you have questions along the way.

[2022-10-14 15:11] adrianbenavides commented on #3562
You don't need to run those, as they test cloud-related functionalities. You can skip them by setting the `ORCHESTRATOR_TESTS` env variable. Likewise, you'll want to set the `LONG_TESTS` env variable:

[code]

Back to this PR, the `identity show` command only needs a local node to work, so the basic setup would be to create one with the `ockam node create` command. Try this first on your terminal

[2022-10-14 20:27] elpiel opened #3661 "ockam_abac docs build is failing"
It's seems that many if not all Docs.rs builds have failed to build ockam_abac due to missing `alloc`

[INFO] [stderr]  --> src/policy.rs:6:5
[INFO] [stderr]   |
[INFO] [stderr] 6 | use alloc::vec;
[INFO] [stderr]   |     ^^^^^ help: a similar path exists: `std::alloc`

Here's the log from 0.10.0:
https://docs.rs/crate/ockam_abac/0.10.0/builds/633647

I haven't checked the source but I was going t

[2022-10-14 20:42] sanjayts commented on #3559
@mrinalwadhwa @adrianbenavides https://github.com/build-trust/ockam/pull/3662

[2022-10-14 23:55] mrinalwadhwa commented on #3661
@elpiel thank you for reporting this!!

[2022-10-14 23:57] mrinalwadhwa commented on #3661
For anyone looking into why this may be happening, the code of the crate is here
https://github.com/build-trust/ockam/tree/develop/implementations/rust/ockam/ockam_abac

[2022-10-15 00:04] #3644 closed, assigned to Rishav-12

[2022-10-15 00:10] #3647 closed, assigned to nobody

[2022-10-15 02:21] edelauna commented on #3631
Very cool project, hoping to increase my Rust knowledge and contributions to open source community.

Ran the example and posted my feedback: https://github.com/build-trust/ockam/discussions/3663

[2022-10-15 04:29] duttaANI commented on #3626
I am unable to resolve the following issue while running `$ cargo build`-

error: failed to parse manifest at `/home/aniruddha/Desktop/ockam/Cargo.toml`
Caused by:
  missing field `name` for key `package`

I have added the following lines to Cargo.toml -

[package.metadata.cross.target.aarch64-unknown-linux-musl]
dockerfile = "./tools/cross/Cross.Dockerfile.aarch64"
[package.metadata.cross.target.

[2022-10-15 06:15] mrinalwadhwa commented on #3626
@duttaANI if you can create a draft PR with your changes, I can help diagnose why it may not be working.

[2022-10-15 06:30] #3559 closed, assigned to sanjayts

[2022-10-15 06:47] mrinalwadhwa opened #3664 "CI: add commitlint to ockam-builder docker image and change commits github workflow"
Out commits workflow currently installs commitlint as part of the workflow and then uses it:

https://github.com/build-trust/ockam/blob/ac6bbb0e2add3485bd52e8021debf74d486aa2c5/.github/workflows/commits.yml#L76-L82

We want to move it to the ockam-builder docker image instead.
https://github.com/build-trust/ockam/blob/develop/tools/docker/builder/Dockerfile

Once it is part of the image, we'll wan

[2022-10-15 12:09] Rishav-12 commented on #3646
Hey, can I take this one? 😃

[2022-10-15 14:55] michealkeines commented on #3208
Hi @mrinalwadhwa can i work on this?

[2022-10-15 15:10] mrinalwadhwa commented on #3646
@Rishav-12 of course, that would be great!

[2022-10-15 15:22] michealkeines commented on #3661
Hi @mrinalwadhwa i will take this one

[2022-10-15 15:34] mrinalwadhwa commented on #3661
@michealkeines that would be great! Thank you

[2022-10-15 15:38] mrinalwadhwa commented on #3208
@michealkeines thank you for continuing to spend time on our project!!

the configuration layer is in a bit of flux at the moment so I think picking this up will cause code change conflicts. I'll be creating some new issues later today so hopefully you can instead take something from that list that is interesting

[2022-10-15 16:55] michealkeines commented on #3661
@mrinalwadhwa Please review my [PR](https://github.com/build-trust/ockam/pull/3666), Thank you

[2022-10-15 17:51] #3646 closed, assigned to nobody

[2022-10-16 10:26] h20220145 commented on #3595
@adrianbenavides Hey , I'm having a few questions about this issue. Can you let me know who can I contact for some help ?

[2022-10-16 15:52] divyank-aggarwal commented on #3562
Hi @adrianbenavides ,

Thanks a lot for your help. I managed to test it locally by writing a short test in the bats file and it is working as expected.

1) I've added myself as a new contributor [here](https://github.com/build-trust/ockam-contributors/commit/5ca0afa6d43b17f4d65190a61c61efbd4318ccea)
2) I've created a PR for this issue [here](https://github.com/build-trust/ockam/pull/3668)

Please

[2022-10-16 16:03] mrinalwadhwa commented on #3595
@h20220145 please ask the questions here or if it is convenient you can also start a draft PR that way we can help with the code as you work on it

[2022-10-16 18:00] divyank-aggarwal commented on #3562
Hey @adrianbenavides,

I've deleted the unused methods as you requested and here is the test I used to verify the `identity show` command
[code]

[2022-10-17 06:38] elpiel commented on #3661
Always happy to help!

[2022-10-17 06:38] elpiel commented on #3661
Always happy to help!

[2022-10-17 15:12] #3562 closed, assigned to divyank-rs

[2022-10-17 16:46] divyank-aggarwal commented on #3601
Hi @adrianbenavides

Any chance I can take this up? I see that there is already a test for it in the commands.bats test file and that should be sufficient to test a successful refactor.

[2022-10-17 18:23] mrinalwadhwa commented on #3601
@divyank-rs of course. thank you and let us know if you have any questions.

@Abhicodes-crypto sorry, it seems we missed your comment above, are you still exploring https://github.com/build-trust/ockam/issues/3597? let us know if you have any questions.

[2022-10-17 20:09] hairyhum opened #3671 "CLI commands to set ABAC policies for rust nodes."
In order to control ABAC in Rust nodes we need to be able to create policies using this format: https://github.com/build-trust/ockam/pull/3639

Policies should have the rule definition and the action identifier for enforcement point to be able to find policy rules for a particular request.

Command would look something like this:
[code]

@twittner please add more specifics about CLI command format

[2022-10-18 13:12] divyank-aggarwal commented on #3601
Hi @adrianbenavides, I'm almost done with the issue but I ran into a rust problem. I'm initializing an rpc to use for the multiple methods we need to call and get info about the node but when I use the [print_node_info](https://github.com/build-trust/ockam/blob/65a3e23b0785cff93f5ed5897d653d459da908af/implementations/rust/ockam/ockam_command/src/node/show.rs#L54) method to print, the compiler give

[2022-10-19 09:29] divyank-aggarwal commented on #3594
Hi @adrianbenavides

I've refactored the code but is there a test which I can run or write that'd let me check a successful refactor. Would also appreciate it if you can help me with [this](https://github.com/build-trust/ockam/issues/3601#issuecomment-1282365076) issue.

Thanks for the help!

[2022-10-19 10:18] #3563 closed, assigned to ronaudinho

[2022-10-19 10:39] adrianbenavides commented on #3601
Hey @divyank-rs, my bad! I wasn't aware of this detail when creating the issue and I didn't add the proper context.

An `Rpc` instance can only be used to run a **single** request. After you parse a request's response, the rpc instance is consumed and you can't use it again.

What you need here is to create new Rpc's for every request reusing the same TcpTransport to the node. You can achieve this

[2022-10-19 18:54] mrinalwadhwa opened #3683 "Add ockam sub command to create a vault without creating a node"
# Currently

We create a file based vault when a node is created.

[code]

The json file contains serialized vault data.

This is how a simple file based vault can be created and then used to manage identities etc.

https://github.com/build-trust/ockam/blob/4659eed3b84d339d9590f9dca71d64dd62c15b90/implementations/rust/ockam/ockam_api/src/nodes/service/vault.rs#L38-L39

However currently we've set

[2022-10-19 18:57] mrinalwadhwa opened #3684 "Add ockam sub command to create an identity without creating a node"
Related to #3683

# Currently

We create a file based vault when a node is created.

[code]

The json file contains serialized vault and idenity data.

This is how a simple file based vault can be created and then used to manage identities etc.

https://github.com/build-trust/ockam/blob/4659eed3b84d339d9590f9dca71d64dd62c15b90/implementations/rust/ockam/ockam_api/src/nodes/service/vault.rs#L38-L39

[2022-10-19 18:58] mrinalwadhwa opened #3685 "Add ockam sub command to rotate identity keys"
# Currently

The following will create and identity

[code]

The code for it is
- https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/node/create.rs#L278-L284
- https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_api/src/nodes/service/services.rs#L42
- https://github.com/build-trust/ockam/blob/develop/implementations/rust/oc

[2022-10-19 20:26] mrinalwadhwa opened #3688 "Add sub command `ockam authority create`"

[2022-10-19 21:14] JatinSingh08 commented on #3688
Hey @mrinalwadhwa , Can you please assign this to me. I would love to work on this.

[2022-10-20 05:20] elpiel commented on #3588
I want to pick up this one.

[2022-10-20 05:36] mrinalwadhwa commented on #3588
@elpiel awesome, all yours. Let us know if you have any questions.

[2022-10-20 05:40] elpiel commented on #3588
Great, thanks!

- Should I add a config file? (I guess in `tools/shfmt`)
- Are there files that should be excluded?
- I see that #3587 has added this linter in a Dockerfile, however, there is already a Docker image - https://hub.docker.com/r/mvdan/shfmt and I'm not sure where this Dockerfile image from #3587 is used in order to call `shfmt`
- Any particular workflow I should add `shfmt` to or crea

[2022-10-20 06:58] memark commented on #3382
What permissions error was generated by the completions? I find no closed issue on the topic, and no info in the linked PR. (What's the easiest way to reproduce?)

[2022-10-20 07:31] mrinalwadhwa commented on #3382
@memark thank you for looking into this!

The error at the time on @metaclips' machine looked like this. (I was seeing the same)

![image](https://user-images.githubusercontent.com/159583/196884441-a5bcc418-0336-4afc-8acf-60aa299b37c7.png)

which looking at the error doesn't seem like it was the completion scripts but removing them did make everything work.

the easiest way to reproduce may be to

[2022-10-20 08:58] elpiel commented on #3489
I've opened an PR for adding `shellcheck` to the CI.

[2022-10-20 12:23] metaclips opened #3693 "Remove hash bang multiple parameter in script"
Using multiple parameters in hashbang has been indicated as error prone across multiple platforms, more here https://www.shellcheck.net/wiki/SC2096 we should follow due practice across all our scripts. Bash scripts that use multiple parameters are
 https://github.com/build-trust/ockam/blob/01e90778abb6a1c53afc6dcb47feafecfc972c90/tools/scripts/release/crates-to-publish.sh#L1
https://github.com/bui

[2022-10-20 13:30] polvorin opened #3694 "Check the provider okta certificate when making https requests, both on client and server code"
We have the okta' tenant certificate available both on the server side i[dentity provider worker](https://github.com/build-trust/ockam/blob/f454b4a711c19dbb163acee45a1c34274b6be75a/implementations/rust/ockam/ockam_api/src/okta/mod.rs#L20) as well as in[ the client ](https://github.com/build-trust/ockam/blob/f454b4a711c19dbb163acee45a1c34274b6be75a/implementations/rust/ockam/ockam_command/src/servi

[2022-10-20 14:24] metaclips commented on #3588
Hello @elpiel 😁.
- Yes, please do. Thanks.
-  We want to lint all shell script. It's fine if scripts fail `shfmt` format, we will fix failing script in consecutive PRs
- Binary is installed in our latest builder package https://github.com/build-trust/ockam-artifacts/pkgs/container/ockam-builder with SHA `sha256:2b53a00493005871ab31c3e1e4e979fa76e21cd20bbc96773f25bd6b73d2a068`
- We should have a se

[2022-10-20 14:37] memark commented on #3382
Thanks for the repro. Editing back the autocomplete sections to the formula gives me the same error. Now I have something to work with.

[2022-10-20 14:59] noyez commented on #3258
Hello. I was looking at this issue. I created some nicer output for the identity, however I'm not sure I'm capturing your desired output. The only part of the `Identity` data struct that i am displaying is the `change_history`. Before I continue, I wanted to show the output so far so you can offer feedback if you wish.

Below is the output from the modified `ockam identity show --full` command.

A

[2022-10-20 15:23] mrinalwadhwa commented on #3258
@noyez awesome, thank you for spending time on this!!
The output looks great!

* No sensitivity to horizontal length.
* visualizing just change history makes sense.

I created a related issue to add key rotation commands here https://github.com/build-trust/ockam/issues/3685

Looking forward to the PR.

[2022-10-20 16:24] michealkeines commented on #3683
Hi @mrinalwadhwa I will work on this one.

[2022-10-20 16:34] adrianbenavides commented on #3694
Do we know how do we want to do this (@mrinalwadhwa)? Some context here would be really helpful for me :pray:

[2022-10-20 16:50] twittner commented on #3671
https://github.com/build-trust/ockam/pull/3695 has been opened to implement a basic CLI. The syntax is:

[code]
It returns the policy expression or a 404 error.
[code]

Currently the set of possible resources and actions is static: As action only `handle_message` is meaningful and resources are supposed to be either `outlet` or `inlet`. This is an obvious limitation as one can imagine different po

[2022-10-20 17:12] mrinalwadhwa commented on #3683
Awesome thank you! Let me know if you have any questions

[2022-10-20 17:32] #3601 closed, assigned to nobody

[2022-10-20 18:00] mrinalwadhwa opened #3696 "Add github action workflow to test our homebrew formula in multiple architectures / operating systems"
The homebrew formula lives here https://github.com/build-trust/homebrew-ockam

We want to run a workflow on new PRs to that repo that would check that the formula works in all 4 supported arch / os combinations.
https://github.com/build-trust/homebrew-ockam/blob/main/ockam.rb

It would be useful in PRs like this one.
https://github.com/build-trust/homebrew-ockam/pull/41

[2022-10-20 18:11] #3382 closed, assigned to nobody

[2022-10-20 18:35] HyperNova114 commented on #3693
I would like to work on this

[2022-10-20 18:58] elpiel commented on #3588
- There is a `shfmt` docker image and we can remove the install script from the builder.
- There isn't a separate file for config, only editorconfig option
- will add a PR with the builder for now, but if you decide to use the official docker image, we can change that.

[2022-10-20 19:06] mrinalwadhwa commented on #3588
@elpiel great, using the official docker image makes sense. Let's do that 👍

[2022-10-20 19:08] elpiel commented on #3588
Done! And I hope you have a good rest after this long day @mrinalwadhwa :D

[2022-10-20 20:06] mrinalwadhwa commented on #3693
Closed in https://github.com/build-trust/ockam/pull/3697
Thank you @HyperNova114 🥳

[2022-10-20 20:06] #3693 closed, assigned to nobody

[2022-10-20 20:37] hairyhum opened #3701 "Configure Rust nodes to support Elixir ports"
Elixir Ockam nodes sometimes use Rust nodes to fill the gaps in the implementation. For example Identity and Credential Verifier services are delegated to Rust nodes.

Currently this means that there should be TCP-accessible Rust node deployed next to the Elixir node and there needs to be some orchestration to manage them. This if fairly simple if Elixir nodes are deployed with orchestration (like

[2022-10-20 20:43] noyez commented on #3685
Hello -- Do you envision the CLI to be something along the lines of `ockam identity rotate --node n1 --key key-label`? Other ideas:
 * have rotate-key be a subcommand of `ockam node ... `
 * have roate-key be a top-level command, like `ockam rotate ... `

[2022-10-20 21:08] hairyhum commented on #3701
I think the first step would be to add an argument to the `node create` command to make it listen on `STDIN` and terminate after receiving `EOF`, this argument should be probably somehow related to the `foreground` argument since it doesn't make much sense for background nodes.

[2022-10-20 21:21] mrinalwadhwa commented on #3685
@noyez Thank you for looking into this!!
I was thinking of something like this:

[code]

[2022-10-21 06:34] mrinalwadhwa opened #3702 "Change references to new ockam-builder image"
The ockam-builder images is pinned by hash in many places in the code.

- https://github.com/build-trust/ockam/blob/develop/.devcontainer/Dockerfile#L1
- https://github.com/build-trust/ockam/blob/develop/.github/workflows/rust.yml#L45
etc.

There is now a new version of this image with sha256:

[code]

https://github.com/build-trust/ockam-artifacts/pkgs/container/ockam-builder/46609472?tag=latest

[2022-10-21 07:46] memark commented on #3696
I'll jump on this one.

~~Should this be a separate workflow? Or part of an existing? (The workflow structure is not clear to me.)~~
Never mind, it should reside in the other repo of course.

[2022-10-21 14:46] Dark-Knight11 commented on #3702
I would like to work on this issue

[2022-10-21 15:15] mrinalwadhwa commented on #3702
@Dark-Knight11 awesome, all yours! let me know if you have questions.

[2022-10-21 15:32] Dark-Knight11 commented on #3702
I have replaced the `e43dd94652096b03cc472a3c709c7335e8b166cab77b7a7b56f88fa38f3d24cc` hash with `2b53a00493005871ab31c3e1e4e979fa76e21cd20bbc96773f25bd6b73d2a068`

but this [link](https://github.com/build-trust/ockam-artifacts/pkgs/container/ockam-builder/46609472?tag=latest)  shows some other hashes. I'm little confused buy that, so lmk if I have to replace those hashes with some other value

[2022-10-21 18:13] wbadart opened #3707 "Typo on ockam.io"
Hey team- just noticed the [Products section of ockam.io](https://www.ockam.io/#products) describes the open source offering with

I assume this was meant to be "Manually configurable".

Apologies if this is the wrong reporting channel, wasn't sure how better to get in touch.

Looking forward to trying the tool!

[2022-10-21 18:34] mrinalwadhwa commented on #3707
@wbadart thank you so much for reporting this! We appreciate it a lot!

If you would like to contribute a fix to the text we would happily take it https://github.com/build-trust/ockam-website/blob/develop/src/views/homepage/Packages.tsx#L36

[2022-10-21 18:56] wbadart commented on #3707
@mrinalwadhwa thanks for the opportunity to contribute! Just opened build-trust/ockam-website#642.

[2022-10-21 18:57] mrinalwadhwa commented on #3707
Awesome!!

One more quick thing before we can merge please:

- [x] Accept the Ockam [Contributor License Agreement](https://github.com/build-trust/ockam-contributors/blob/main/CLA.md) by adding your Git/Github details in a row at the end of the [CONTRIBUTORS.csv](https://github.com/build-trust/ockam-contributors/blob/main/CONTRIBUTORS.csv) file in a separate pull request to the [build-trust/ockam-

[2022-10-21 19:01] wbadart commented on #3707
build-trust/ockam-contributors#139

[2022-10-21 19:08] elpiel commented on #3554
Is this resolved after the #3608 PR was merged?

[2022-10-21 19:10] elpiel commented on #3231
Should be closed with #3621?

[2022-10-21 19:16] #3707 closed, assigned to nobody

[2022-10-21 19:23] mrinalwadhwa commented on #3707
The fix is deployed https://www.ockam.io/
Thank you @wbadart 🎉

[2022-10-21 20:00] wbadart commented on #3707
Quick turnaround!

[2022-10-21 21:35] polvorin commented on #3694
There is an implementation on https://github.com/build-trust/ockam/pull/3709  , but maybe can use some simplifications @adrianbenavides   (also,  would be ideal to check that all three things are correct `tenant` ,  `client_id`  and  `certificate`  on the config  command,  before sending it to the server,  to help users when configuring their project.  Let a TODO comment for that on the code).
@mr

[2022-10-21 23:32] metaclips commented on #3702
Thanks @Dark-Knight11. The other hashes are used when you want to pull for a specific OS. We do not need to indicate the OS SHA as docker should pull for the right platform automatically.
<img width="688" alt="Screenshot 2022-10-22 at 12 13 18 AM" src="https://user-images.githubusercontent.com/31141573/197303810-b4d91afa-9c59-4098-9f9b-4baffd42438c.png">

[2022-10-22 00:29] #3535 closed, assigned to nobody

[2022-10-22 06:12] mrinalwadhwa opened #3711 "CI: pin import_gpg action to hash"
At these two locations:

https://github.com/build-trust/ockam/blob/e5dcdecf3f83e417a27f1830a19da8d108c561c8/.github/workflows/release-binaries.yml#L34-L35

https://github.com/build-trust/ockam/blob/e5dcdecf3f83e417a27f1830a19da8d108c561c8/.github/workflows/create-release-pull-request.yml#L61-L62

Change

[code]

to:

[code]

[2022-10-22 06:35] mrinalwadhwa opened #3712 "Add new dependabot config to `build-trust/homebrew-ockam` repo"
In https://github.com/build-trust/homebrew-ockam/pull/42

@memark is adding a workflow to test the homebrew formula in CI.
This workflow includes a pinned github actions, so we'll need dependabot to check updates

We have add a new dependabot config file to https://github.com/build-trust/homebrew-ockam repo
with the following content at `.github/dependabot.yml`

https://github.com/build-trust/ocka

[2022-10-22 07:47] elpiel commented on #3664
I'm going to pick this one up, because I'm already warmed up for CI :smile:

[2022-10-22 09:01] duttaANI commented on #3626
Hi @mrinalwadhwa I have made a new review request with required changes [3714](https://github.com/build-trust/ockam/pull/3714)

[2022-10-22 11:25] metaclips commented on #3626
Do you want #3665 closed @duttaANI?

[2022-10-22 12:45] duttaANI commented on #3626
Hi @metaclips . I have created a new PR request [3714](https://github.com/build-trust/ockam/pull/3714) with the changes that you requested since 3665 was not up do date. Hence we can merge 3714 if this meets the requirements and close it.

[2022-10-22 16:19] #3626 closed, assigned to nobody

[2022-10-22 19:30] michealkeines commented on #3683
Hi @mrinalwadhwa Please review my [PR](https://github.com/build-trust/ockam/pull/3716)

[2022-10-22 20:55] memark commented on #3576
Which tests are we talking about here? All the tests [in here](https://github.com/build-trust/ockam/blob/develop/.github/workflows/rust.yml#L125)?

Also, do note that `ubuntu-latest` == `ubuntu-20.04` (that will change later this year).

[2022-10-22 21:37] memark commented on #3619
I'll take a look at this, based off of that existing branch.

[2022-10-22 21:51] mrinalwadhwa commented on #3619
That would be great. Thank you. Let me know if you have questions

[2022-10-23 04:21] #3696 closed, assigned to nobody

[2022-10-23 07:57] elpiel commented on #3566
I can look into this but which one is the preferred one in this case?

[2022-10-23 12:10] neil2468 commented on #3566
Hi @elpiel. Thanks for reaching out :wave:

I'd vote for options (the 2nd case). I feel it makes the commands more descriptive and allows flexibility in ordering vaules. However, I don't know the bigger picture (ie. how the commands are used in practice or the UX Ockam would prefer across the board).

@mrinalwadhwa, any thoughts?

Thanks!

[2022-10-23 22:04] #3712 closed, assigned to nobody

[2022-10-24 02:38] #3711 closed, assigned to nobody

[2022-10-24 08:31] adrianbenavides commented on #3554
Yes, that's right! Thanks for pointing that out @elpiel

[2022-10-24 08:31] #3554 closed, assigned to michealkeines

[2022-10-24 08:32] adrianbenavides commented on #3231
Correct, thanks again!

[2022-10-24 08:32] #3231 closed, assigned to nobody

[2022-10-24 10:33] adrianbenavides commented on #3594
Hey @divyank-rs, you could write a simple test with the following commands:

[code]

[2022-10-24 11:33] metaclips opened #3722 "Format all bash scripts using `shfmt`"
Bash scripts in our repositories currently fail [`shfmt`](https://github.com/mvdan/sh), we should properly format all script files. A working command is
[code]
This should format all files automatically

[2022-10-24 11:38] #3702 closed, assigned to nobody

[2022-10-24 16:49] twittner commented on #3671
https://github.com/build-trust/ockam/pull/3727 allows listing policies of a resource.

[2022-10-24 20:46] hairyhum opened #3731 "Secure channel workers termination"
Currently secure channel responders stay alive even if initiator terminates. This means that a node which runs a secure channel listener spawning responders will have a lot of stale responders after a while.
Initiators may also stay around if responders terminate, but it's usually the node with responders which keeps accumulating them.

This is not too expensive resource-wise, but still uses some

[2022-10-25 07:29] adrianbenavides opened #3732 "Fix `node_name` argument value on `ockam_command`"
## Current

The `NodeOpts`'s `api_node` argument has the `id` attribute set, which also modifies the value name. Currently, a command's help using this argument looks like this:

[code]

## Desired

We want to set the `value_name` to `NODE` so it's consistent with the rest of the arguments. To do that, we must add the `value_name` attribute to the `api_node` argument of the `NodeOpts` struct so it

[2022-10-25 10:53] Ashish0z commented on #3732
I can work on this issue

[2022-10-25 11:33] adrianbenavides commented on #3732
All yours @Ashish0z !

[2022-10-25 17:54] #3694 closed, assigned to adrianbenavides, polvorin

[2022-10-26 04:01] adrianbenavides opened #3739 "Show "help" output when no args passed on `subscription show` command"
## Current

The `subscription show` command panics when no argument is passed. This happens because the arguments are optional and the `group` attribute is configured so that it doesn't require any of them.

There are two possible solutions to this:
1. Configuring the `group` so it requires either of the arguments
2. Showing the help output when no arguments are passed

## Desired

We want to appl

[2022-10-26 04:09] adrianbenavides opened #3740 "Show "help" output when no args passed on `tcp connection` commands"
## Current

The `tcp connection` commands throw an error when no argument is passed showing to the user the missing fields.

## Desired

We want every command to be consistent and show the help output when no arguments are passed. To do that, the following attribute must be added to the [tcp-connnection commands](https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_co

[2022-10-26 04:24] adrianbenavides opened #3741 "Hide `ExportCommandArgs` on short help output"
## Current

The arguments from `ExportCommandArgs` are always printed in the "help" output. These arguments may be of interest only under certain circumstances, so they end up cluttering the output most of the time.

## Desired

We want to reduce the amount of information shown in the short "help" output. To do that. the `hide_short_help(true)` must be added to all [`ExportCommandArgs`](https://gi

[2022-10-26 06:46] adrianbenavides opened #3742 "Extract function to process `MultiAddr` on `forwarder|inlet create` commands"
## Current

On both [`forwarder create`](https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/forwarder/create.rs#L58-L71) and [`inlet create`](https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/tcp/inlet/create.rs#L65-L82) commands, we have a duplicated section of the code that modifies the `to` argument. This p

[2022-10-26 07:27] #3593 closed, assigned to nobody

[2022-10-26 09:34] Dark-Knight11 commented on #3722
I'll like to work on this

[2022-10-26 10:46] Ill1 commented on #3741
Hi @adrianbenavides , I'm looking into this one.

[2022-10-26 10:53] mushahidq commented on #3740
Hi!

I would like to work on this. Do I need to just add the attribute to all the commands as shown in the example?

[2022-10-26 13:21] metaclips commented on #3722
Thanks @Dark-Knight11. This issue already has a PR https://github.com/build-trust/ockam/pull/3726. Can you look into other CI issues?

[2022-10-26 17:23] #3722 closed, assigned to nobody

[2022-10-26 17:45] Abhicodes-crypto commented on #3597
@adrianbenavides I need help , in line 61 https://github.com/Abhicodes-crypto/ockam/commit/00cb0597c127c2e551912bf83d27b094b78a63ee Should I use embedded or background and with which function should I replace connect_to (I tried using `route_impl` but it is private and I tried `request` but it needs parameter `req` which I don't have)
Also please check rest of the code if I am going in right direc

[2022-10-26 18:23] hairyhum commented on #3582
Addressed in https://github.com/build-trust/ockam/pull/3580

[2022-10-26 18:23] #3582 closed, assigned to hairyhum

[2022-10-26 18:24] hairyhum commented on #3579
Addressed in https://github.com/build-trust/ockam/pull/3580

[2022-10-26 18:24] #3579 closed, assigned to hairyhum

[2022-10-26 20:24] hairyhum opened #3749 "Elixir workers: replace `create/1` with `start_link/1` and remove `create/1`"
In earlier prototypes of Elixir workers we were using `create/1` function in workers which would start a worker under the Ockam.Node dynamic supervisor.

This is not so useful for the real world scenarios where workers need to be run in application controlled supervisor and/or link to each other.

Since then quite a few worker integrations were made to use `start_link/1` instead of `create/1` for

[2022-10-26 20:58] noyez commented on #3685
Hello -- I've been looking at this issue and I have a few questions.

 * What is the end result of rotating the keys? should I be seeing a different set of keys with the `ockam identity show --full` output? Or is the only observable effect in the `default_value.json` file?
 * To rotate the keys, it seems I need to create an `Identity` struct. I think i can piece that together by getting the `Ident

[2022-10-27 04:40] Mo-Fatah commented on #3742
Hi, can I work on this ?

[2022-10-27 04:41] Mo-Fatah commented on #3742
Can I work on this ?

[2022-10-27 05:13] mrinalwadhwa commented on #3742
@Mo-Fatah of course, all yours. Let us know if you have any questions.

[2022-10-27 05:26] mrinalwadhwa opened #3754 "CI - Fix shellcheck errors"
In #3689 @elpiel added a shellcheck workflow. This is workflow is merged but currently disabled because it returns a lot of errors.

We want to fix this

[code]

outputs:

https://github.com/build-trust/ockam/actions/runs/3334646032/jobs/5517818354

[2022-10-27 10:29] Abhicodes-crypto commented on #3684
I would like to work on this issue.

[2022-10-27 10:33] adrianbenavides commented on #3740
That's right! All yours :+1:

[2022-10-27 11:44] #3741 closed, assigned to Ill1

[2022-10-27 12:45] #3739 closed, assigned to nobody

[2022-10-27 13:27] #3258 closed, assigned to nobody

[2022-10-27 13:33] #3595 closed, assigned to h20220145

[2022-10-27 13:52] adrianbenavides commented on #3597
This command creates a new listener on an existing node (the `at` argument). Therefore, you'll want to use the `Rpc::background` variant to connect to that node. Also note that you won't need the node's `port`.

The request itself is happening in the `create_listener` function. The internals of this function is what you can replace with the `rpc` abstraction. Check out this PR as an example: https

[2022-10-27 14:06] h20220145 commented on #3594
Hey @adrianbenavides , can i be assigned this issue ?

[2022-10-27 14:08] adrianbenavides commented on #3594
All yours! Take this PR as a reference: https://github.com/build-trust/ockam/pull/3753

And you can add a new test to the commands.bats file with the contents I posted in my previous comment.

Let me know if you need any help!

[2022-10-27 15:42] #3596 closed, assigned to Abhicodes-crypto

[2022-10-28 06:46] adrianbenavides opened #3763 "Add tests for `vault create` command when `vault_name` arg is passed"
## Current

We have some tests covering the command when creating a vault for a given node (passing the `node` argument). We recently added a new argument `vault_name` that creates a vault that is not attached to any node.

## Desired

We want to add a test on the [commands.bats](https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/tests/commands.bats#L150) fi

[2022-10-28 07:09] miles170 commented on #3763
Shouldn't `ockam vault create --vault-name` throw an error if a vault with the same name exists?

https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/vault/create.rs#L61

[2022-10-28 07:22] #3393 closed, assigned to nobody

[2022-10-28 07:52] adrianbenavides commented on #3763
I've just saw your changes on your PR, it makes total sense to return that error :+1:

[2022-10-28 08:11] #3763 closed, assigned to nobody

[2022-10-28 14:12] SanjoDeundiak commented on #3685
Hey @noyez . You don't need to create a new Identity, we want to be able to rotate a key inside an already existed Identity instance. That instance can be found in `NodeManager` struct. New key will be automatically added to the Vault. But Identity itself should be resaved to the `NodeConfig`. Do not hesitate to ask more questions if you need

[2022-10-29 08:17] #3588 closed, assigned to nobody

[2022-10-29 19:40] Abhicodes-crypto commented on #3597
Hi @adrianbenavides , I've raised a PR as you said, I need help in how to get baseroute and multiaddr and alternative to route_to_mulitaddr function.

[2022-10-29 19:50] davidag commented on #3653
Hello! I was working on this issue but I'd like to make sure that you want to rename `worker_mod` to `data_mod`. I was wondering if `data_worker_mod` could be a better fit. I'm not familiar with the code, so I'll go with the option that you prefer @hairyhum. Thanks

[2022-10-30 10:27] #3740 closed, assigned to mushahidq

[2022-10-30 19:18] #3597 closed, assigned to Abhicodes-crypto

[2022-10-31 17:51] davidag commented on #3450
I've been doing some research on using keepalive in Elixir/Erlang and I'd like to share with you my findings and ask some questions:

- First of all, I'm wondering if heartbeat code should be kept as it already supports being disabled by setting the `heartbeat` option to `0`.
- Wrt to using keepalive, I believe it could be done using `:inet.setopts(socket, keepalive: true)` [right after successful

[2022-11-01 17:02] #3578 closed, assigned to twittner

[2022-11-01 17:02] #3671 closed, assigned to twittner

[2022-11-01 17:04] #3581 closed, assigned to twittner

[2022-11-01 17:09] hairyhum opened #3782 "Elixir: OpenTelemetry instrumentation"
As a first step to implement https://github.com/build-trust/ockam/discussions/2319
Elixir nodes can start sending opentelemetry events for message tracing.

To carry the span IDs, messages can use `local_metadata`, but it should update it for each forward step and wrap/unwrap step.

At the transport layer telemetry metadata can be removed with the rest of the local metadata for now, but we need to

[2022-11-02 20:26] hairyhum opened #3790 "CLI command to healthcheck a node"
Ockam nodes communicate with each other using secure channels over transports. To be accessible it's not enough for a node to just be running, it should allow secure channels to be established and messages to be routed through.

To check that a node is fully initialized and ready to process messages we can use a simple Ockam program which will connect via secure channel and then call some special

[2022-11-03 19:25] #3631 closed, assigned to nobody

[2022-11-03 19:48] hairyhum opened #3797 "Implement Ockam.Worker.stop/1,2"
Currently there is no idiomatic way to stop an ockam worker.
There is an `Ockam.Node.stop/1`, but it only works for the workers started with `Ockam.Worker.create/1` and that should be deprecated with https://github.com/build-trust/ockam/issues/3749

Workers are GenServers and can be stopped with `GenServer.stop/1,2,3`, but is uses pids and it would me more convenient to be able to stop workers usi

[2022-11-04 02:44] noyez commented on #3685
Got it. i was *hoping* my code path was loading the existing identity and not creating a new one, but it probably was creating a new one.

Please correct me if i'm wrong in my understanding. There is a `NodeManager` and that gets paired with `NodeManagerWorker` and for those sturcts to be useful, they need to be "started". However in order to start `NodeManager`, it gets consumed by `NodeManagerWo

[2022-11-04 18:01] phillyphil91 commented on #3701
hey @hairyhum is this a rust only issue? if so, I would like to work on this

[2022-11-04 18:44] mrinalwadhwa commented on #3701
@phillyphil91 yes the following part is Rust only:

I think the simple solution is when `ockam node create --foreground` then start reading from on STDIN and stop the node if `EOF` is received. We may not need an additional argument.

[2022-11-04 18:50] phillyphil91 commented on #3701
thanks @mrinalwadhwa that sounds doable. let me have a look :smile:

[2022-11-05 03:26] mrinalwadhwa opened #3801 "Investigate "warning: ...Cargo.toml: unused manifest key: ockam_command""
https://github.com/build-trust/ockam/blob/develop/Cargo.toml

[code]

[2022-11-05 11:49] h20220145 commented on #3594
Hey, @adrianbenavides, I'm having some trouble running the commands.bats tests, compilation using cargo went fine. I need to run the tests to see if my work is okay. I tried the solution given in (https://github.com/build-trust/ockam/discussions/3733#discussion-4502666),

Sorry if it's a dumb question, but do I need to be on windows to run a .bats test? Currently using a macOS(arm) system.

Also,

[2022-11-05 12:34] metaclips commented on #3594
Hello 👋. What error(s) do you get when running the bats test?

[2022-11-05 19:30] memark commented on #3619
Just updating that I'm still working on this.

[2022-11-05 19:45] mrinalwadhwa commented on #3619
@memark Thank you for continuing to spend time on this.

[2022-11-05 20:07] h20220145 commented on #3594
tarunsingh@Taruns-MacBook-Pro ~ % OCKAM=“~/Desktop/ockam/target/debug/ockam” bats ~/Desktop/ockam/implementations/rust/ockam/ockam_command/tests/commands.bats
commands.bats

 ✗ create a node without a name
   (from function `setup' in test file Desktop/ockam/implementations/rust/ockam/ockam_command/tests/commands.bats, line 63)
     `setup() {' failed
   bats_load_safe: Could not find '/opt/homebr

[2022-11-05 21:57] h20220145 commented on #3594
Figured it out , removing the "" from the ockam binary directory fixed it.

[2022-11-06 15:53] mrinalwadhwa commented on #3594
@h20220145 no need to apologize. Its awesome that you figured out the problem 👏 👏
Looking forward to the PR!

[2022-11-07 13:37] #3742 closed, assigned to Mo-Fatah

[2022-11-07 17:06] hairyhum opened #3808 "Ockam command man page generation"
`ockam_command` is using `clap` for command line parsing. There is a tool to generate man files from `clap` config https://crates.io/crates/clap_mangen

With some improvements around https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/lib.rs to explain environment variables it can be used to produce decent enough documentation to existing commands.

[2022-11-07 20:52] #3650 closed, assigned to nobody

[2022-11-07 22:32] h20220145 commented on #3594
Can you please look at this and see if this is okay ?
(https://github.com/h20220145/ockam/commit/4c6b8f1310e92596afc647fd0164c0f57127c589).
I tried to replace std::process::exit  with an Err, but couldn't find out an appropriate if condition, I left that part in comments in run_impl.

[2022-11-08 10:01] adrianbenavides commented on #3808
I can take a look into this.

My main concern is about how to integrate it with our CI pipeline: maybe adding the man page generation in the `build.rs` will slow it down too much. And I never heard of the proposed alternative ([xtask](https://github.com/matklad/cargo-xtask)) Any preference/idea here @metaclips ?

[2022-11-08 11:47] adrianbenavides commented on #3594
I think it looks great @h20220145! Feel free to submit a PR with those changes after cleaning up the comments :+1:

[2022-11-08 11:49] h20220145 commented on #3594
So , I should remove the commented code , right ?

[2022-11-08 12:52] adrianbenavides commented on #3594
Yeah, that's right. Also, make sure to run `cargo clippy --all-targets` and `cargo fmt --all` to fix any potential lint error.

[2022-11-08 21:08] #3653 closed, assigned to nobody

[2022-11-09 14:22] metaclips opened #3829 "Test ockam draft-binaries before they are released"
We should test ockam binaries after they are released as a draft release across all supported platform (macos-latest and ubuntu-18.04). This would require us creating a workflow that
- Gets a `tag name` as input (name of the tag to test as draft release
- Download the binaries for the supported platform
- Test the binaries against our Bats example in `implementations/rust/ockam/ockam_command/tests

[2022-11-09 18:41] #3801 closed, assigned to nobody

[2022-11-10 06:59] #3594 closed, assigned to h20220145

[2022-11-10 07:51] miles170 commented on #3790
Can't we use the `echo` service to do the same thing?

[code]

[2022-11-10 09:38] #3683 closed, assigned to nobody

[2022-11-11 15:10] vildapavlicek commented on #3186
If noone's working on this, I'd like give it a try.

[2022-11-11 17:11] Ill1 commented on #3749
Hi @hairyhum - Taking a look at this one - here's a starting [branch](https://github.com/Ill1/ockam/tree/develop_%233749). It calls `start_link/1` where there used to be `create/1` calls.
Those method calls have different return types, so each call is adapted to use the returned `{:ok, pid, address}` instead of `{:ok, address}`.

It seems that `create/1`, from a behavioural standpoint, is somewher

[2022-11-11 18:52] #3829 closed, assigned to nobody

[2022-11-15 10:14] adrianbenavides commented on #3808
I've done a bit of research on this. Here are the main findings:
- Trying to generate the man page from ockam_command's `build.rs` is not feasible as it needs to depend on itself to generate the docs. I've tried it and failed miserably
- The proper approach would be to have a separate package with the sole purpose of building the man page. The building process can then be automated with [cargo xta

[2022-11-16 12:17] SanjoDeundiak commented on #3685
@noyez yes, NodeManagerWorker is a worker, it's running asynchronously in the background. In this case you don't need to access its internal state from the outside, because rotate command should be handled by the NodeManagerWorker itself. Please explore how Identity create command is handled as an example:
Request from the CLI is sent [here](https://github.com/build-trust/ockam/blob/24e6726bdd2e1d

[2022-11-16 15:40] vildapavlicek commented on #3186
So I've create draft PR #3837
I'm not sure how to handle the default node Identity so for now I just use first Identity as a default and cache it's Identifier.
One thing I'm not sure how should be handled is the [`IdentityOverride`](https://github.com/vildapavlicek/ockam/blob/1bbb968ba7ad2a64587ff3b3acc74022a04f379c/implementations/rust/ockam/ockam_api/src/nodes/service.rs#L144-L147) could you ple

[2022-11-17 18:13] neil2468 opened #3840 "CHANGELOGs appear to contain duplicated lines"
At first glance, it looks like `CHANGELOG.md` files contain duplicate comments.

For example, below is a snippet from `ockam_vault/CHANGELOG.md` where it looks like lines newer releases are being copied from previous releases (e.g. `Switch to arch agnostic integers for secret length`).

[code]

This appears to happen in multiple `CHANGELOG.md` files, for example in `ockam_command` and `ockam_core`

[2022-11-17 19:18] noyez commented on #3685
@SanjoDeundiak ooooooh, of course! thank you! 🤦  Your last comment resonated and really helped me comprehend the interactions, and now it seems so simple.

I have a PR Draft (https://github.com/build-trust/ockam/pull/3841). It is marked as a Draft because i'm observing errors when rotating a key only after `identity show` commands are run. For example, if i spin up a fresh node, then rotate keys,

[2022-11-18 00:00] mrinalwadhwa commented on #3840
@neil2468 Thank you for reporting this.

[2022-11-21 18:05] #3576 closed, assigned to nobody

[2022-11-21 18:20] metaclips commented on #3840
Thanks @neil2468.
Our tags after `ockam_v0.63.0` diverge from `develop` branch due to `Mergify` changing commit SHA after PRs are merged, this causes git to assume our last release tag was `ockam_v0.63.0 ` from develop (running `git describe --tags --abbrev=0`).  I have added a workflow that updates commit SHA to that created by Mergify.

[2022-11-21 19:18] memark commented on #3576
@metaclips How was this implemented? (I wanted to help out, but never got any answer to my question.)

[2022-11-21 19:33] metaclips commented on #3576
Thanks @memark. I created a more detailed issue [here](https://github.com/build-trust/ockam/issues/3829) that test binaries when they are draft instead of production as I thought that makes more sense. Apologies for not responding 🙏

[2022-11-21 19:36] memark commented on #3576
Ok, no worries!

[2022-11-22 18:51] hargut commented on #3808
Hi @hairyhum,
Hi @adrianbenavides,

I've looked into the topic and started to implement a subcommand that generates the man pages.

The PR adds a `manpages` subcommand, which when called, writes the man page files to one of the following directories:
- value from user provider `--dir|-d` option
- `~/.local/share/man/man1`
- current working directory `$PWD/ockam_man_pages` in case `$HOME` cannot be

[2022-11-23 17:03] adrianbenavides commented on #3234
As I commented on https://github.com/build-trust/ockam/pull/3832#issuecomment-1324680687, the code related to this issue is being heavily refactored and probably this issue will be solved when we finish that task.

I'll keep this thread updated as we progress.

[2022-11-24 19:03] #3189 closed, assigned to nobody

[2022-11-26 05:40] pinkforest opened #3864 "Missing crate repository for `signature_bls`"
Re: https://github.com/fission-codes/fission-cli/issues/21

I was looking for crate `signature_bls` repository

Crate repository points here:
https://github.com/build-trust/ockam/tree/develop/implementations/rust/ockam/signature_bls

But this gives:
The 'build-trust/ockam' repository doesn't contain the 'implementations/rust/ockam/signature_bls' path in 'develop'.

I suspect the crate name has cha

[2022-11-26 05:42] pinkforest commented on #3864
It still mentioned in some docos:

foobar@foobar-MS-7C77:~/play/ockam$ grep -R signature_bls *
[code]

$ grep -R bls *
[code]

It seems that the `signature_bls` crate has been abandoned going by "Remove bls support" ?

[2022-11-26 06:17] mrinalwadhwa commented on #3864
@pinkforest sorry about that confusion .. we didn't realize someone downstream was depending on it. As I mentioned https://github.com/decentralized-identity/did-key.rs/issues/38 and https://github.com/fission-codes/fission-cli/issues/21#issuecomment-1327989430 ... we're not maintaining it currently, what would be the best way to help you and your team?

[2022-11-26 06:33] pinkforest commented on #3864
Thanks - I've circled back at did-key: https://github.com/decentralized-identity/did-key.rs/issues/38#issuecomment-1327989962

[2022-11-29 20:59] hairyhum commented on #3808
Thanks @hargut for your contribution.
@BeenzSyed we can now plan to add this to the release pipeline to create publish man pages on release.

[2022-11-29 20:59] #3808 closed, assigned to nobody

[2022-11-29 21:46] hairyhum commented on #3749
Hi @Ill1, thanks for you contribution.

I think if you replace `{:stop, :shutdown, state}` with `{:stop, :normal, state}` that should fix the issue, but it would be better to replace `Call.call/1` usage with `Call.call_on_current_process/2` because it makes more sense in the contexts where it's used except for `Test.Services.TracingTest`.

Also some changes needed in the PR:

Rename create and cre

[2022-11-30 18:39] hairyhum opened #3871 "Elixir: simplify services configuration"
Service providers for Elixir implementations were supposed to configure specific workers. Most of them end up just calling `start_link` in the worker module.

Providers may be simplified by allowing to configure specific module or child spec to start as a service. This also lets us start services as supervisors to contain multiple workers and processes.