[2022-07-30 02:12] tmuro17 commented on #3063
Would love to take a crack at this one

[2022-07-30 02:17] mrinalwadhwa commented on #3063
@tmuro17 awesome, thank you .. a few quick notes:

We can't simply change the value to `127.0.0.1:0`
https://github.com/build-trust/ockam/blob/ee3919eaf07ed0bb6c02171cfa05e9970101a3d8/implementations/rust/ockam/ockam_command/src/util/mod.rs#L16

since the TCP listen is done by the spawned node and the command embedded node needs to know the address to speak with the spawned node

https://github.co

[2022-07-30 02:19] tmuro17 commented on #3063
@mrinalwadhwa You answered the question before I had time to look at the code and ask it.  And I like your solution to find an open port.

[2022-07-30 04:30] mrinalwadhwa commented on #3063
added in https://github.com/build-trust/ockam/pull/3064

[2022-07-30 04:30] #3063 closed, assigned to nobody

[2022-07-30 04:51] mrinalwadhwa commented on #3051
added in https://github.com/build-trust/ockam/pull/3062

[2022-07-30 04:51] #3051 closed, assigned to nobody

[2022-07-30 07:44] mrinalwadhwa opened #3067 "Make `ockam secure-channel create` output only the address"
Here's an example session:

[code]

Let's focus on the last two commands, we want to combine them as::

[code]

#3053 will replace `ockam message send /ip4/127.0.0.1/tcp/6001...` with `ockam message send --node n1...`

#3068 will make `ockam message send ...` support `-` to represent STDIN in its addr argument.

# Desired Behaviour:

We want `ockam secure-channel create ...` to print only the addr

[2022-07-30 07:50] mrinalwadhwa opened #3068 "Make `ockam message send ...` support `-` to represent STDIN in its addr argument"
## Current Behaviour:

Here are two example commands:

[code]

then:

[code]

## Desired Behaviour:

We want the following to work (note the hyphen)

[code]

also

[code]

`ockam message send ...` should inspect `addr` (its first argument) to see if contains `-`, if it does, replace the hyphen with piped input read from STDIN

This will allow us to chain various `ockam` commands

The code for this

[2022-07-30 09:19] selectiveduplicate commented on #3053
Hi!
Been looking at this; the desired behavior seems to be working:

[code]
I only added a `NodeOpts` member to the `SendCommand` struct; is that all or am I missing something? 😅
The previous way of doing it still works though:

[code]
Do we deprecate that?

Thanks.

[2022-07-30 09:33] justinvzyl commented on #3053
Can you perhaps create a PR then we can have a look?

[2022-07-30 10:40] mrinalwadhwa commented on #3053
Ah, I should've been more clear about the desired behavior.

The desired behavior is

e --> n1 --> n2 --> n3

e here is the command embedded node. We want an api request from e to n1 asking n1 to send a message

What would work without any changes is

e --> n2 --> n3

Which is what you see above.

(If this still seems confusing, I'll draw a better explanation in my morning)

[2022-07-30 14:15] #3058 closed, assigned to nobody

[2022-07-30 15:27] mrinalwadhwa commented on #3053
@selectiveduplicate @justinvzyl thank you both for thinking about this. Maybe this picture will help better understand the behavior we're going for. (The picture is a simplification but I hope it helps get the idea across.)

We want an api request from e to n1 asking n1 to send a message instead of e sending the message directly (which is the current behavior.)

[code]

This request/response code

[2022-07-30 15:49] mrinalwadhwa opened #3070 "Make homebrew install instructions in Release a one liner"
When we publish a release, we include instructions to install ockam command using brew.
for ex: https://github.com/build-trust/ockam/releases/tag/ockam_v0.67.0

Releases are created using this github workflow.

https://github.com/build-trust/ockam/blob/5903b5b9c9a39a40bcea46a5044e49b1f8401135/.github/workflows/release-binaries.yml#L63-L66

We want to change the instruction to instead be:

[code]

[2022-07-30 16:16] edbastelli commented on #2990
Hi @tmuro17, @mrinalwadhwa, yes I am working on it. thanks

[2022-07-30 16:25] mrinalwadhwa commented on #2990
Awesome! looking forward to it!

[2022-07-30 16:41] mrinalwadhwa opened #3071 "Creating secure channels to /api with default identity"
This currently doesn't work

[code]

It would be nice if all node (embedded, n1 and n2) assumed the same `default` identity and then authorized that identity to establish channels at the /api endpoint.

@SanjoDeundiak thoughts?

[2022-07-30 16:45] SanjoDeundiak commented on #3071
Unfortunately, it should be secure-channel create connector

[2022-07-30 16:52] mrinalwadhwa commented on #3071
See this issue and corresponding PR which landed yesterday evening.
https://github.com/build-trust/ockam/issues/3051
https://github.com/build-trust/ockam/pull/3062

[2022-07-30 17:23] mrinalwadhwa commented on #3071
This works so there is no secure-channel listener started at "api" but default.

[code]

I think we need the following things:

1. [Start a default secure channel listener at "api"](https://github.com/build-trust/ockam/issues/3101)
2. Make all nodes share a default identity that is created the first time a command is run
3. Make all secure channel listeners in all nodes at address "api" authorize

[2022-07-30 17:59] pro465 commented on #2996
@SanjoDeundiak it does seem to be the case. however it seems like Executor is not correctly waiting for the Worker to actually get dropped before returning?

https://github.com/pro465/ockam/runs/7593023573?check_suite_focus=true#step:6:488

perhaps its because the WorkerRelay sends stop ACK **BEFORE** dropping, while the `.await` makes the tokio context-switch to the Executor, drop it, and then co

[2022-07-30 23:28] mrinalwadhwa commented on #2990
Closed in https://github.com/build-trust/ockam/pull/3073

[2022-07-30 23:28] #2990 closed, assigned to nobody

[2022-07-31 03:48] mrinalwadhwa opened #3076 "Refactor `ockam transport ...` commands into `ockam tcp-...` commands"
# Create

We currently have

[code]

We want to change to:

[code]

Without changing their behavior.

# List

We currently have

[code]

This will list both tcp listeners and tcp connection.

We want to change it to

[code]

to list connections, and

[code]

to list listeners

# Delete

We currently have

[code]

which will delete either connections or listeners.

We want to change it to:

[code]

[2022-07-31 03:55] mrinalwadhwa opened #3077 "Refactor `ockam portal ...` commands into `ockam tcp-...` commands"
We currently have:

[code]

We want to change these to:

[code]

Without changing their behavior.

These commands are defined here:
https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/portal/create.rs

---
Related: #3076 #3078

---

_We love helping new contributors!_
_If you have questions or need help as you work on your first Ockam contribution, please

[2022-07-31 03:59] mrinalwadhwa commented on #3076
@spacekookie what are your thoughts on the above?

[2022-07-31 03:59] mrinalwadhwa commented on #3077
@spacekookie what are your thoughts on the above?

[2022-07-31 04:04] mrinalwadhwa opened #3078 "Refactor `ockam secure-channel create-listener` into `ockam secure-channel-listener create`"
We currently have

[code]

defined here https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/secure_channel/create.rs#L28-L38

we want to change it to:

[code]

to align with the `ockam NOUN VERB ...` form.

---
Related: #3076 #3077

[2022-07-31 06:03] selectiveduplicate commented on #3053
Ok I understand the desired behavior. But I'm not sure where and how to start changing stuff for it.
Btw the following works?! (unless I'm doing something stupid):

[code]

[2022-07-31 13:16] pro465 commented on #2996
@mrinalwadhwa i think i've found the problem

[2022-07-31 16:15] mrinalwadhwa commented on #2996
@pro465 very interesting! I'm back at work tomorrow, I'll ask more people on the team to share thoughts/ideas on a gaining confidence in that hypothesis and possible fixes. In the meantime, do you have thoughts on what a fix might look like?

[2022-07-31 16:42] pro465 commented on #2996
im not sure if it will work, but i'll share a potential solution:
[code]

(and removing the `send_stop_ack` call in the `run` fn, of course)

[2022-07-31 16:47] mrinalwadhwa commented on #3053
Awesome.

I think it looks something like this:

1. Add `send_message_request` and `send_message_response` CBOR schemas to [this document](https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_api/schema.cddl).
2. Define a `message` service [here](https://github.com/build-trust/ockam/tree/develop/implementations/rust/ockam/ockam_api/src) and [here](https://github.com/b

[2022-07-31 17:10] pro465 commented on #2996
i think the change, if it works, should also be applied to similiar places, such as `ProcessorRelay`.

[2022-07-31 17:19] mrinalwadhwa commented on #2996
If you want to send a quick PR with that change .. I'm happy to test it and see if the problem goes away for the cases were with a few repetitions I can reproduce the problem. Like the `node list` case above.

[2022-07-31 17:36] Retamogordo commented on #3054
Hi, I would like to take this.

[2022-07-31 17:38] pro465 commented on #2996
i'm sorry to say i won't be able to do that right now, because i am feeling quite sleepy and it's nighttime here.

[2022-07-31 17:43] mrinalwadhwa commented on #2996
of course, no rush at all, thank you for exploring this!
I'll try to gather more ideas/inputs on this over the next day or so.

[2022-07-31 18:10] mrinalwadhwa commented on #3054
@Retamogordo That would be awesome! Thank you, all yours.

[2022-07-31 22:44] lameferret commented on #3078
Meanwhile #3080, can I do this too?

[2022-07-31 22:45] mrinalwadhwa commented on #3078
Of course, go for it!

[2022-07-31 22:58] lameferret commented on #3078
@mrinalwadhwa Sorry, I should have asked earlier. As this is a `noun verb` refactor, that means creating a new `noun` `secure_channel_listener`, separating it from `secure_chanel`, or it implies something else?

[2022-07-31 23:00] mrinalwadhwa commented on #3078
yes, that's exactly what I wanted to convey
also, please ask as many questions as you needs.

[2022-08-01 03:42] pro465 commented on #2996
thank you!

question: since we are moving the `ctx` into `relay`, we need to somehow clone the `ctx` before dropping the `relay`, to be able to call `ctx.send_stop_ack().await`. does cloning a `ctx` have unintended consequences?

[2022-08-01 05:01] pro465 commented on #2996
i think we can use `&mut Context` (or even `&Context`) for WorkerRelay to avoid this.

edit: oh wait that means `Context` won't still be dropped before `ctx.send_stop_ack()`

[2022-08-01 05:10] pro465 commented on #2996
so basically, problem: we can't call `ctx.send_stop_ack()` after dropping `ctx`, because Rust.

[2022-08-01 06:09] pro465 commented on #2996
so it seems detached contexts also have the problem:

https://github.com/pro465/ockam/runs/7605174163?check_suite_focus=true#step:6:106

but im not sure how to solve that, because the fields are dropped AFTER the struct's Drop impl is called, but we need to drop the fields BEFORE notifying the AsyncDrop. perhaps `Option<Arc<Runtime>>` and `self.rt.take();` in drop?

[2022-08-01 07:03] #3078 closed, assigned to nobody

[2022-08-01 11:27] SanjoDeundiak commented on #3071
@mrinalwadhwa oh, right. We don't start a listener by default. We can do that.
I have questions about "default identity", I don't really get the logic behind it. In your example, should n1's identity become a default identity that every other node knows about? And we share only identity_id, right?

[2022-08-01 11:30] SanjoDeundiak commented on #3076
@mrinalwadhwa @spacekookie
How about
[code]

[2022-08-01 11:35] SanjoDeundiak commented on #3053
@mrinalwadhwa I'm not sure we need a dedicated service to do the job here. Or maybe you confused services (identity, authenticated, vault) with functionality that `NodeManager` provides. I think send message behaviour could be achieved by adding another endpoint to `NodeManager`

[2022-08-01 11:44] adrianbenavides commented on #3076
This looks cleaner/simpler to me.

I'd also add:
[code]

To list connectors and listeners we could either:
[code]

or to keep it more similar to what we have:
[code]

Just throwing a couple of ideas!

[2022-08-01 13:15] mrinalwadhwa commented on #3076
I think the structure we want to have is consistently `ockam NOUN VERB` otherwise discovery of sub commands becomes a challenging UX... for example in the suggestion from @SanjoDeundiak above the fact that `create` has sub commands becomes not so obvious

[2022-08-01 13:22] adrianbenavides commented on #3054
To add more details about what needs to be done.

We use the `ockam_macros::test`(or `ockam::test`) to write async tests that need to set up a node - i.e. tests that need to use a `Context` instance to create transports, workers, send/recv messages, etc.

We have tests that use that macro that randomly hangs from time to time, but we don't know exactly why. @SanjoDeundiak has been investigating th

[2022-08-01 14:12] Retamogordo commented on #3054
So, at first glance, the procedure to fix it is like so:
1) rewrite ockam_node/src/delayed.rs and ockam/ockam_node/src/tests.rs and possibly, some other files, to rely ockam_macros::test
2) witness that  tests indeed hang upon panic
3) modify the proc macro, so it catches panicking
?

[2022-08-01 14:20] SanjoDeundiak commented on #3054
@Retamogordo I think `3` is the key here. You can recheck that panic hangs tests, but that behaviour is what I verified and that is what lead me to creating this issue. `1` would be the cherry on top if you could do that. Tnx!

[2022-08-01 14:48] SanjoDeundiak commented on #3076
Is it better this way?
[code]

[2022-08-01 14:52] mrinalwadhwa commented on #3076
In that suggestion, how would we delete/stop connection/listener?

[2022-08-01 14:54] SanjoDeundiak commented on #3076
Ok, I see your point, what about
[code]

[2022-08-01 15:30] mrinalwadhwa commented on #3076
Both of these have pluses and minuses - `ockam NOUN VERB` or `ockam NOUN_CATEGORY NOUN VERB`.

1. `ockam NOUN VERB` is more verbose in the top level help. `ockam NOUN_CATEGORY NOUN VERB` is less verbose
1. `ockam NOUN VERB` is more intuitive/consistent in structure. So people would have to check help less often
1. Supporting `ockam NOUN_CATEGORY NOUN VERB` means we'll have some commands that are 1

[2022-08-01 16:48] adrianbenavides commented on #3054
Regarding `3`, you have here some tips that might be helpful: https://github.com/build-trust/ockam/tree/develop/implementations/rust/ockam/ockam_macros#develop

The macro itself has decent documentation, but let me know if you need help with anything!

[2022-08-01 23:46] mrinalwadhwa commented on #3043
Closed in https://github.com/build-trust/ockam/pull/3080
Thank you @anuvratsingh

[2022-08-01 23:46] #3043 closed, assigned to nobody

[2022-08-01 23:51] mrinalwadhwa commented on #3042
Closed in https://github.com/build-trust/ockam/pull/3090 by @leonzchang. Thank you.

@kpagacz if you would like to pick a different issue, I would love to help you find one. https://github.com/build-trust/ockam/labels/good%20first%20issue. Please let me know.

[2022-08-01 23:51] #3042 closed, assigned to nobody

[2022-08-02 12:25] adrianbenavides commented on #2836
This issue can be closed after the following issues are solved:
* https://github.com/build-trust/ockam/issues/2996
* https://github.com/build-trust/ockam/issues/3054

[2022-08-02 12:27] adrianbenavides commented on #2860
Solved at https://github.com/build-trust/ockam/pull/3001

[2022-08-02 12:27] #2860 closed, assigned to adrianbenavides

[2022-08-02 14:39] #2994 closed, assigned to nobody

[2022-08-02 15:08] #2996 closed, assigned to nobody

[2022-08-02 15:12] mrinalwadhwa commented on #2996
Thank you @pro465 👏

[2022-08-02 15:16] antoinevg commented on #2996
Awesome work @pro465! 🏅

[2022-08-02 15:50] pro465 commented on #2996
@antoinevg and @mrinalwadhwa thank you so much! especially many thanks to @SanjoDeundiak who helped me in the internal details of how ockam works, and @twittner who actually fixed the issue!

[2022-08-02 22:20] mrinalwadhwa opened #3100 "Display a node's default identifier in output of `ockam node create | show | list` commands"
# Current Behaviour

Currently if you run `ockam node create | show | list` you see status output that looks like this:

[code]

When a node is created it also gets a default identity, which you can display as follows:

[code]

# Desired Behavior

We would like to change this to:

[code]

Code for this is here https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_comma

[2022-08-02 22:53] mrinalwadhwa opened #3101 "Start a secure channel listener at address `api` when a command node is created"
# Current Behaviour

[code]

[code]

# Desired Behaviour

[code]

[2022-08-03 02:07] mrinalwadhwa commented on #3071
I added an issue for 1. [here](https://github.com/build-trust/ockam/issues/3101)

I'm thinking of a setting it up so that, in the simple case ... all nodes have the same identity and authorize that same identity's identifier at the secure channel listener on `/api`. So the same identity is at the two ends of the secure channel.

The benefit of this simple default is that new users get a mutually a

[2022-08-03 05:22] #3067 closed, assigned to nobody

[2022-08-03 11:50] SanjoDeundiak commented on #3071
@mrinalwadhwa We want to avoid sharing Vault across different nodes

[2022-08-03 13:41] mrinalwadhwa commented on #3071
In a slack thread, @SanjoDeundiak and I came up with this as the approach to sharing default identities

1. Generate embedded node identity on first run
2. Copy it to new node on node create
3. Authorize it as allowed to connect with /api secure channel listener - on node create

[2022-08-03 16:22] lameferret commented on #3101
So here the requirement is to merge `secure-channel-listener create` into `node create`, but what about `secure-channel-listener` in itself, should be removed or left as it is?

[2022-08-03 17:03] mrinalwadhwa commented on #3101
@anuvratsingh thank you for looking into it.

That command stays as is.

The listener should be started here https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_api/src/nodes/service.rs#L171-L181

[2022-08-03 23:58] Retamogordo opened #3105 "Dangling channel receiver in Router"
emerged while resolving #3054
- Reproduce
[code]
or just stop context twice:
[code]

- Possible cause
	When stopping context a shutdown request is headed to Router, as a result the Router exits its event loop sending ack back to the context.
	For the second stopping, there is no longer a listening receiver on the routers end, however the receiver has not been dropped.
	Tokio mpsc channel's docs sa

[2022-08-04 00:05] mrinalwadhwa commented on #3105
@Retamogordo thank you for creating an issue.

[2022-08-04 10:30] spacekookie commented on #3105
Hello @Retamogordo, thank you for investigating this! I've just looked into the cause of this and yea, it looks like the Router can shut down, but because it's still owned by the Executor the receiver stays open.

Probably the best thing to do here would be to drop the `RouterReceiver` in-place (i.e. swap it for a `None` Option). I'm not _sure_ this is related to #3054, my understanding was that w

[2022-08-04 11:46] Retamogordo commented on #3105
Hi @spacekookie !
So it's cool, now I close the issue ?

[2022-08-04 11:54] spacekookie commented on #3105
Leave the issue open for now. It'll be automatically closed once that PR gets merged

[2022-08-04 17:06] pro465 commented on #3068
would like to take this up tomorrow after exams

[2022-08-04 17:52] mrinalwadhwa commented on #3068
@pro465 that would be awesome!!
good luck with your exams.

[2022-08-04 18:07] SkoogJacob commented on #3100
Tried submitting a pull request for the issue here
https://github.com/build-trust/ockam/pull/3113

[2022-08-04 19:02] mrinalwadhwa commented on #3100
Merged, thank you @SkoogJacob 🙏

[2022-08-04 19:02] #3100 closed, assigned to nobody

[2022-08-04 21:58] lameferret commented on #3101
I have added [create_secure_channel_listener_impl](https://github.com/build-trust/ockam/blob/d7e4041eb5a101254ee032c3c60b73b5ecd7882b/implementations/rust/ockam/ockam_api/src/nodes/service/secure_channel.rs#L88) in [initialize_defaults](https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_api/src/nodes/service.rs#L171-L181).

Now, how can I test if `secure channel lis

[2022-08-04 22:23] mrinalwadhwa commented on #3101
Awesome, here's a test.
Note the comment in this code snippet

[code]

Yes

Currently it can't mutate it. It is possible delete the listener but I think we have some work to do to make it easy to get that information. i.e channel worker need some kind of management api.

This is a bit all over the place, sorry about that. We're planning a docs refresh soon. The content in this guide should offer s

[2022-08-05 05:37] mrinalwadhwa commented on #3068
In https://github.com/build-trust/ockam/pull/3116 @leonzchang added support for this. However we learnt that clap confuses `-` at the beginning of the string with an option. So we have to say:

[code]

Instead of what we were going for:

[code]

Since it's okay for us to do this replace across commands for multaddr/route values .. I wonder if there is a way to replace `-/` or `/-` in the entire st

[2022-08-05 06:18] mrinalwadhwa commented on #3068
Some more improvements to explore:

Currently, this works:

[code]

but this fails:

[code]

we should make that less fragile

[2022-08-05 07:00] mrinalwadhwa opened #3117 "Change <ADDR> positional argument of `ockam message send ...` command to `--to <ROUTE>` required option"
Currently

[code]

We want to change this to:

[code]

The `--to` argument is required.

The code for this is here
https://github.com/build-trust/ockam/blob/bf385e33e8d008b98de318218f399cb86bf4c1cb/implementations/rust/ockam/ockam_command/src/message/send.rs#L10-L14

[2022-08-05 07:20] mrinalwadhwa opened #3118 "Change`ockam secure-channel create ...` command for `--from <NODE>` and `--to <ROUTE>`"
Currently

[code]

We want rename `--node` and add `--to`

[code]

Code for this is here https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/secure_channel/create.rs#L17-L26

[2022-08-05 08:04] mrinalwadhwa opened #3119 "Change `ockam secure-channel-listener create` command for `--at <NODE>` and <ADDRESS>"
Currently

[code]

We want to:

- [ ] Rename `-n, --node <node>` to `--at <NODE>`
- [ ] Rename <BIND> positional argument to <ADDRESS>
- [ ] Change <AUTHORIZED_IDENTIFIER> help value to <IDENTIFIER>

[code]

The code for this is her https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/secure_channel_listener/create.rs#L15

[2022-08-05 08:35] leonzchang commented on #3068
@mrinalwadhwa I fix this in [#3120](https://github.com/build-trust/ockam/pull/3120)

[2022-08-05 08:50] adrianbenavides commented on #3068
Another improvement we could do here is to encapsulate this string parsing behavior in a struct, so we can reuse it on other commands. Maybe it could be called `HyphenatedMultiAddr`, or something like that? I'm thinking about something along these lines:

[code]

[2022-08-05 08:57] mrinalwadhwa commented on #3068
To deal with the problem from [this comment](https://github.com/build-trust/ockam/issues/3068#issuecomment-1206063564).

I'm wondering if we could use `parse_from` https://docs.rs/clap/latest/clap/trait.Parser.html#method.parse_from
Instead of `parse` here https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/lib.rs#L245

and give parse_from std::env::args

[2022-08-05 09:07] pro465 commented on #3068
working on a fix using `parse_from`..

[2022-08-05 09:12] mrinalwadhwa commented on #3061
@pro465 since you were looking for an issue to pick up today and you recently spent some time with the `ockam_node` crate. This issue may be a good one for you to take on. What do you think?

The router being discussed is here https://github.com/build-trust/ockam/tree/develop/implementations/rust/ockam/ockam_node/src/router

@SanjoDeundiak could you add a small failing test snippet?

[2022-08-05 09:14] mrinalwadhwa commented on #3068
@pro465 Awesome 🥳

[2022-08-05 09:26] pro465 commented on #3061
@mrinalwadhwa well i guess i got busy before you asked me to lol! but my other PR should not take much time, so i will be able to work in this in.. i guess 1-2 hours?

[2022-08-05 09:30] mrinalwadhwa commented on #3061
Awesome, we're not in a rush. Whenever you have time.

[2022-08-05 09:37] pro465 commented on #3068
sorry i messed up the branch, it it showing it is 446 commits ahead of bouild-trust:patch-1 branch

[2022-08-05 09:39] mrinalwadhwa commented on #3068
I can fix it for you if you want ... look like I have access to it. Should I?

[2022-08-05 10:37] leonzchang commented on #3068
@adrianbenavides thank you for the advice, I have refactored it in [#3123](https://github.com/build-trust/ockam/pull/3123)
@mrinalwadhwa I will dive into [it](https://github.com/build-trust/ockam/issues/3068#issuecomment-1206213038)

[2022-08-05 10:46] pro465 commented on #3068
@leonzchang oh well now one of us will have to fix merge conflicts

[2022-08-05 11:17] pro465 commented on #3061
question: how do we check if the address already exists? do we have to just check if it exists in `router.map.{internal, addr_map}`? or do we have to send requests?

[2022-08-05 11:25] pro465 commented on #3068
@mrinalwadhwa perhaps. I don't seem to be able to install `gpg`, so...

[2022-08-05 12:27] #3054 closed, assigned to nobody

[2022-08-05 12:30] SanjoDeundiak commented on #3061
@pro465 I think you should check the Router's map and send an error back

[2022-08-05 12:54] Retamogordo opened #3125 "Lazy initialization and thread safety for executor"
### Discussed in https://github.com/build-trust/ockam/discussions/3110

<div type='discussions-op-text'>

<sup>Originally posted by **Retamogordo** August  4, 2022</sup>
Hello,
I came across some TODOS in
/ockam/implementations/rust/ockam/ockam_executor/src/executor.rs.
Does it make sense if I take look at it ?</div>

[2022-08-05 13:00] Retamogordo commented on #3125
Good morning !
I made a couple of changes in executor code for thread safety.
The changes were just minimal to drive compilation to success.
I didn't test the changes (it looks like this code is not yet very much used ?).
Should I create a pull request for code review ?

[2022-08-05 13:04] pro465 commented on #3061
@SanjoDeundiak should the error be `NodeError::Address(primary_addr).already_exists()`?

[2022-08-05 13:27] pro465 commented on #3061
#3126 should fix this 🎉 , although the tests are not running as of typing this, I'm confident they will pass, because any test should not depend on the overwriting to pass.

[2022-08-05 13:46] antoinevg commented on #3125
`ockam_executor` is only used in `no_std` environments, for example on embedded systems or wasm.

To test the build under a `no_std` environment you can do:

[code]

We also have an example project if you have `qemu` installed on your system and want to test execution:

[code]

Cargo assumes your qemu executable is called `qemu-system-arm`, if it's called something else on your system you can chan

[2022-08-05 13:55] Retamogordo commented on #3125
Hi @antoinevg !
Thank you for response.
Yes, I was wondering if this code was a placeholder for "embedded tokio", I think I have qemu installed, although I think my machine had issues with KVM.
I will try the procedure you suggested, thank you !

[2022-08-05 14:14] Hwatwasthat commented on #3077
Hi I'd be interested in trying to do this. Would this require reworking the portal subcommand (by removing it?) would this mean creating tcp-inlet and tcp-outlet folders in the ockam_command/src folder? as the portal subcommand is being removed (as the only enum is used to point to the create command for these two right now).

[2022-08-05 15:13] mrinalwadhwa commented on #3077
@Hwatwasthat thank you for taking this on 🥳

Yes

Let's create:

[code]

We want to keep the folders because we'll add other commands soon.
Keeping them under a `tcp/` folder would be nice because we want to in the near future make TCP functionality a plugin so all of them living in one folder would be helpful.

this also applied to `tcp-connection` and `tcp-listener` in https://github.com/build-t

[2022-08-05 15:40] Retamogordo commented on #3125
Hi @antoinevg !
I'm trying to run no_std build, I have just merged the latest upstream and I face multiple error messages in curve25519-dalek crate.
I found only one reference to it in Ockam which refers to v.3.1, but in my cargo registry I see that version referred is v3.2.0.
I tried to clean everything up, to no avail.
Maybe there are other libraries using a newer version of curve25519-dalek tha

[2022-08-05 15:51] antoinevg commented on #3125
Are you getting these errors with a clean checkout from the `develop` branch?

Also make sure you're running `cargo build --no-default-features --features 'no_std alloc software_vault'` from the `implementations/rust/ockam/ockam` directory.

There are some limitations with the way rust workspaces interact with cargo features that will cause the errors you're seeing from `curve25519-dalek` if you t

[2022-08-05 15:59] Retamogordo commented on #3125
Fixed !
I was trying to build from "implementations/rust/ockam" folder instead of "implementations/rust/ockam/ockam".
Thank you!

[2022-08-05 16:50] mrinalwadhwa commented on #3068
@leonzchang @pro465 Thank you both!!
That was awesome open source collab on making the feature work 🏆

[2022-08-05 16:50] #3068 closed, assigned to nobody

[2022-08-05 17:19] lameferret opened #3131 "Removing `.local/share/ockam-cli` directly, results in `encountered an error in command handler code` for most CLI commands."
This is more of a misuse by me and this issue is for documenting it as I wasn't able to find it.

TLDR: Use `ockam node delete --all` rather than deleting files.

Ockam creates two folders; `/.local/share/ockam-cli` for storing node data and `/.config/ockam-cli` for `config.json` storing details about all nodes.

Trying to debug, I had a lot of nodes and was out of colour name. Rather than reading

[2022-08-05 17:27] mrinalwadhwa opened #3132 "Add the `-f, --force` option to `ockam node delete ...` command"
Currently there is a `ockam node delete <NODE> --sigkill`. We can make that a part of `-f, --force`.

But `--force` should do more things like clean up config and state directories even when they are partially consistent state - see https://github.com/build-trust/ockam/issues/3131 as an example

`ockam node delete --all --force` should get rid of all node processes, config directory and state dire

[2022-08-05 17:28] mrinalwadhwa commented on #3131
@anuvratsingh thank you for reporting this.
We should show a better error here. I also added https://github.com/build-trust/ockam/issues/3132 which will help cleanup.

[2022-08-05 17:51] lameferret commented on #3101
@mrinalwadhwa

Returns: error: Invalid value "/ip4/127.0.0.1/tcp/6002/ockam/api!" for '<ADDR>': unregistered protocol prefix "ockam"
anything after 6002 returns with same error

Returns: encountered an error in command handler code

Feels like "Works on my machine".

IMO, docs for structs like `MultiAddr` should contain some examples.

[2022-08-05 17:58] mrinalwadhwa commented on #3101
@anuvratsingh things are changing quickly in this area :)
`/ockam/` was changed to `/service/` earlier today https://github.com/build-trust/ockam/pull/3121

Please try:

[code]

---

💯 agree.

[2022-08-05 17:59] mrinalwadhwa commented on #3101
If you can create a draft PR, I can help test as well

[2022-08-05 18:04] lameferret commented on #3101
Is there a more synchronous channel to keep up with it, unlike discussions?

[2022-08-05 18:18] mrinalwadhwa commented on #3101
no, just github for the time being.

[2022-08-05 20:04] #3117 closed, assigned to nobody

[2022-08-05 20:04] #3118 closed, assigned to nobody

[2022-08-05 20:04] #3119 closed, assigned to nobody

[2022-08-05 20:25] #3101 closed, assigned to nobody

[2022-08-06 11:40] Retamogordo commented on #3125
Hi @antoinevg !
I managed to build no_std.
As for qemu example, I have updated rust toolchains and installed the required target, however
while trying to build I get errors of kind 'core crate not found' and others.
There is no much information regarding these issues on the web,
maybe you can suggest anything ?
Thank you !

[2022-08-06 15:34] #3061 closed, assigned to nobody

[2022-08-06 19:03] mrinalwadhwa commented on #3076
@anuvratsingh as you look into this, please note this comment about structure
https://github.com/build-trust/ockam/issues/3077#issuecomment-1206568753

[2022-08-06 19:08] mrinalwadhwa commented on #3076
https://github.com/build-trust/ockam/issues/3077#issuecomment-1206568753

So we're going for:

[code]

[2022-08-06 19:17] lameferret commented on #3076
Thanks @mrinalwadhwa. I will follow the given dir structure, and sorry for confusion. Also.
- Can I get some test, as I'm not able to figure out what kind of address `transport` supports (like `/ip4/127.0.0.1/tcp/6001/{w or w/o(service/api)}` doesn't work).
- IMO rather than using a bland error([example](https://github.com/build-trust/ockam/blob/abd49a5da516c30aa567e92d3633ec911798bd2c/implementat

[2022-08-06 19:20] mrinalwadhwa commented on #3076
Sure, give me 15 mins or so, I'll write some notes with example.

[2022-08-06 19:41] mrinalwadhwa commented on #3076
Here's an example that will currently work:

[code]

there is lot of improvements possible in this but let's start with getting this to work:

[code]

[2022-08-06 19:46] mrinalwadhwa commented on #3076
That's a great idea. I think each command should have examples defined in a const and then we can show them on error and we can add them to the HELP_TEMPLATE. I'll create a new issue for it. In the issue we can collect some examples to add and then sure, would love a PR ❤️

[2022-08-06 19:54] mrinalwadhwa commented on #3076
We should rename them for consistency to be like the other commands
https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/node/create.rs#L30
https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/node/delete.rs#L26

Repetition here is okay as these will evolve to have somewhat separate implementations.

[2022-08-06 19:56] mrinalwadhwa commented on #3076
[code]

Yes absolutely!!

[2022-08-06 21:24] lameferret commented on #3076
"""

@mrinalwadhwa These are `ockam_api`'s Create/Delete Transport, you might be confusing them with `ockam_command`'s Create/Delete Transport
[code]
So `tcp_listener/connection` both uses this function. But Transport in the name will create confusion, having two functions with different names, but exact same functionality in the same file wouldn't cut it, so what it should be renamed into?

[2022-08-06 21:32] #3076 closed, assigned to nobody

[2022-08-06 21:39] mrinalwadhwa commented on #3076
Ah yes, I did confuse them.

I think what you did here is okay for the time being 👍
https://github.com/build-trust/ockam/blob/a71ee8c3e930a056d4e6bf6f12167117baa6f0f6/implementations/rust/ockam/ockam_command/src/util/api.rs#L31-L86

[2022-08-06 21:42] #3132 closed, assigned to nobody

[2022-08-06 21:45] mrinalwadhwa opened #3141 "Show examples in command on error and in help"
In a conversation with @anuvratsingh here: https://github.com/build-trust/ockam/issues/3076#issuecomment-1207273150

A sketch of what this may look like ...

[2022-08-06 22:40] mrinalwadhwa commented on #3076
@anuvratsingh I realized you were suggesting something different from what I was:

If you want to, please go ahead and create PRs for errors like [this one](https://github.com/build-trust/ockam/issues/3076#issuecomment-1207274351) in all commands. That would be a great improvement in errors.

I'll separately think about how to make errors friendlier with examples.

[2022-08-07 00:09] lameferret commented on #3076
@mrinalwadhwa, I created #3143 to further discus this.

[2022-08-07 00:12] mrinalwadhwa commented on #3076
Awesome! Thank you for starting the discussion.
I'll leave some notes on it soon.

[2022-08-07 00:27] mrinalwadhwa commented on #3077
@Hwatwasthat note in https://github.com/build-trust/ockam/pull/3140 for https://github.com/build-trust/ockam/issues/3076 @anuvratsingh started the `ockam_command/src/tcp/*` directory structure.

The `inlet` & `outlet` directories for `tcp-inlet` & `tcp-outlet` command will live there as well. Let me know in case you have any questions.

[2022-08-07 01:45] mrinalwadhwa opened #3145 "Show only connections in output of `ockam tcp-connection list`"
Currently:

[code]

We want to change it to:

[code]

Listeners should not be shown.

The code for this is here: https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/tcp/connection/list.rs

[2022-08-07 01:48] mrinalwadhwa opened #3146 "Show only listeners in output of `ockam tcp-listener list ...`"
Currently:

[code]

We want to change it to:

[code]

Connections should not be shown.

The code for this is here: https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/tcp/listener/list.rs

Related #3145

[2022-08-07 01:59] mrinalwadhwa opened #3147 "Change `ockam tcp-connection create` for `--from <NODE>` and `--to <ADDRESS>`"
Currently:

[code]

We want to change it to:

[code]

`--to` would be a required option.

Code for this is here https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/tcp/connection/create.rs

[2022-08-07 04:44] mrinalwadhwa opened #3149 "Rename `ockam tcp-listener create` command arguments to `--at <NODE>` and `<ADDRESS>`"
---

_We love helping new contributors!_
_If you have questions or need help as you work on your first Ockam contribution, please leave a comment on [this discussion](https://github.com/ockam-network/ockam/discussions/1081)._
_If you're looking for other issues to contribute to, checkout [this discussion](https://github.com/build-trust/ockam/discussions/3206) and labels -  https://github.com/build

[2022-08-07 05:46] pro465 commented on #2849
this seems to be fixed, albeit using different name than `--listen`:

https://github.com/build-trust/ockam/blob/696e3da5fec8c992ae3c47f0838647ceb0a96e3a/implementations/rust/ockam/ockam_command/src/node/create.rs#L43-L45

[2022-08-07 05:53] pro465 commented on #2849
(made in [this commit](https://github.com/build-trust/ockam/commit/ee3919eaf07ed0bb6c02171cfa05e9970101a3d8) by @Handschrift)

[2022-08-07 05:56] mrinalwadhwa commented on #2849
Yes it is. Thank you for pointing it out. Closing.

[2022-08-07 05:56] #2849 closed, assigned to nobody

[2022-08-07 05:57] mrinalwadhwa commented on #2849
There's some good ongoing discussion about tcp-listener command UX here https://github.com/build-trust/ockam/discussions/3143

[2022-08-07 06:13] mrinalwadhwa opened #3151 "Change node create `-a, --api-address` option to `-t, --tcp-listener-address`"
Currently `ockam node create` command takes `-a, --api-address <API_ADDRESS>` option.
We want to change this to `-t, --tcp-listener-address <ADDRESS>`

This will keep vocabulary consistent with the new `ockam tcp-listener create <ADDRESS>` command.

The code for this is here https://github.com/build-trust/ockam/blob/6b23f237e76ad9cd6dad0836a63e2e0d3243952f/implementations/rust/ockam/ockam_command/

[2022-08-07 13:35] lameferret commented on #3145
Can I take this?
Also, cam fixing [get_transports](https://github.com/build-trust/ockam/blob/365f91191b2ce35228a10d5932fa08099b1f6fb8/implementations/rust/ockam/ockam_api/src/nodes/service/transport.rs#L11) to return `ResponseBuilder` be part of this PR, if I'm able to fix it?

[2022-08-07 14:08] mrinalwadhwa commented on #3145
@anuvratsingh of course, yes and yes.

[2022-08-07 14:45] mrinalwadhwa commented on #3070
Closed in https://github.com/build-trust/ockam/pull/3148

[2022-08-07 14:45] #3070 closed, assigned to nobody

[2022-08-07 15:36] mrinalwadhwa commented on #3151
Closed in https://github.com/build-trust/ockam/pull/3153 & https://github.com/build-trust/ockam/pull/3153 by @zzztimbo. Thank you for another awesome contribution.

[2022-08-07 15:36] #3151 closed, assigned to nobody

[2022-08-07 16:41] adrianbenavides opened #3159 "Improve secure channels to cleanup any spawned workers"
When [creating a secure channel](https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_identity/src/channel.rs#L35), multiple workers are spawned but only the address of the top-level worker is returned, making it impossible to remove all used resources.

We use "temporary secure channels" in [`ockam_api/src/cloud`](https://github.com/build-trust/ockam/tree/develop/imp

[2022-08-07 17:01] mrinalwadhwa opened #3160 "`ockam --version` should show git hash and timestamp of when it was compiled"
Currently version display is handled automatically by clap
https://github.com/build-trust/ockam/blob/365f91191b2ce35228a10d5932fa08099b1f6fb8/implementations/rust/ockam/ockam_command/src/lib.rs#L72-L73

and shows

[code]

We want `ockam -V` to stay the same but `ockam --version` should be enhanced to something like this:

[code]

We'll likely need a build.rs in [ockam_command crate](https://github

[2022-08-07 17:39] lameferret opened #3162 "`ockam command wrongoption` should output error with correct options"
## Current Behaviour
[code]

## Should Be
[code]
Future goal for suggestion is like `create <NODENAME> --api-address <IPV4/6 ADDRESS>`, but right now design isn't fixed, so this will create extra baggage.

Suggestions are welcome #3143

PR's can be submitted in sections.

[2022-08-07 17:51] lameferret opened #3163 "`ockam command option` should output missing arguments with their format where applicable"
## Current Behaviour
[code]

## Should Be
[code]

Suggestions are welcome #3143
PR's can be submitted in sections.

[2022-08-07 19:18] mrinalwadhwa commented on #3147
Landed in https://github.com/build-trust/ockam/pull/3165. Thank you @zzztimbo 🎉

[2022-08-07 19:18] #3147 closed, assigned to nobody

[2022-08-07 20:05] lameferret commented on #3077
Hey @mrinalwadhwa, there is a [TODO: Add delete, list, show subcommands](https://github.com/build-trust/ockam/blob/9ba3e4e7ea179f182e029620d8e6b27f802207cb/implementations/rust/ockam/ockam_command/src/portal/mod.rs#L4), which I might be able to do, so should I do that in `tcp inlet/outlet` or in portal which would be refactored later on?

[2022-08-07 20:18] mrinalwadhwa commented on #3077
@anuvratsingh I think if you create them directly under tcp/inlet and tcp/outlet then it would lead to less conflicts irrespective of the order in which the PRs are created

[2022-08-08 06:06] #3160 closed, assigned to nobody

[2022-08-08 06:38] mrinalwadhwa commented on #3053
@adrianbenavides added this in https://github.com/build-trust/ockam/pull/3154
@selectiveduplicate @justinvzyl Thank you, sorry this turned out to be more elaborate than I expected.

[2022-08-08 06:38] #3053 closed, assigned to nobody

[2022-08-08 09:59] lameferret opened #3167 "Add delete, list, show subcommands for tcp inlet and outlet"
[code]
Is this structure alright?

[Inlet/Outlet Documentation](https://github.com/build-trust/ockam/tree/develop/documentation/use-cases/end-to-end-encrypt-all-application-layer-communication) for general understanding

~~I used [example/inlet.rs](https://github.com/build-trust/ockam/blob/develop/examples/rust/tcp_inlet_and_outlet/examples/02-inlet.rs) for requirements.~~

~~1. `ockam node create

[2022-08-08 18:42] BeenzSyed commented on #3014
@spacekookie, should this be reassigned to someone else on the team? I remember you had completed the Rust side of starting and stopping a node and it's unblocked for it to be added to the Ockam CLI.

[2022-08-08 19:10] polvorin opened #3171 "Make identity show output to STDOUT instead of STDERR"
`identity show` currently is writing to stderr instead of stdout,  making scripting/pipelining. This makes pipelining/scripting a bit harder than it should be.

The code for this is here https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/identity/show.rs#L34

Sidenote: Should also review the rest of the commands and check we are not doing the same on oth

[2022-08-08 20:40] lameferret commented on #3171
[`Line 51`](https://github.com/build-trust/ockam/blob/ff33156d541624d38a7c9edea221024bfae2bb69/implementations/rust/ockam/ockam_command/src/identity/show.rs#L51) and [`Line 71`](https://github.com/build-trust/ockam/blob/ff33156d541624d38a7c9edea221024bfae2bb69/implementations/rust/ockam/ockam_command/src/identity/show.rs#L71) should be `println!` to output it to STDOUT?.

What about [`vault::creat

[2022-08-08 21:39] #3171 closed, assigned to nobody

[2022-08-09 00:37] mrinalwadhwa opened #3177 "Make services information displayed with `ockam node create | show` command more dynamic."
After https://github.com/build-trust/ockam/pull/3176

`ockam node create` displays:

[code]

This is also displayed on `node show` and `node list`

A part of this info is currently hardcoded so various demos become more easy to understand for new users:
https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/node/show.rs#L66-L88

and roughly maps to services

[2022-08-09 00:42] polvorin opened #3178 "creating node with --skip-defaults exit with error"
Trying to startup different nodes, with _different_ identities.    Guess the way to go now is to start the nodes with `--skip-defaults` and then create the vault, the  identitiy and then  startup the services manually.

Trying that, creating the node with  `--skip-defaults`  complains and exit with error code:
[code]
Although the node *is* created.   We can't list it neither:

[code]

Error in  _n

[2022-08-09 02:36] mrinalwadhwa commented on #3056
Merged in https://github.com/build-trust/ockam/pull/3157 Thank you @leonzchang 🙏

[2022-08-09 02:36] #3056 closed, assigned to nobody

[2022-08-09 05:07] mrinalwadhwa opened #3180 "CI - Investigate why Rust nightly tests take almost double the time of regular Rust tests"
Here's an example run

https://github.com/build-trust/ockam/actions/runs/2822798599

<img width="282" alt="Screen Shot 2022-08-08 at 10 03 56 PM" src="https://user-images.githubusercontent.com/159583/183568975-b4316e24-85e9-4d26-beae-4d5fbe3bcf36.png">

[2022-08-09 08:40] antoinevg commented on #3125
Weird, the qemu build should get checked during CI so it should always be working if you're using a clean checkout from the `develop` branch.

Can you please paste your commands and output for me?

[2022-08-09 10:31] metaclips opened #3181 "Update README files of each crate to show usage with `cargo add`"
All crates in this folder have readme files https://github.com/build-trust/ockam/tree/2ea26c64036e61669181f17c92b0906a6a434a79/implementations/rust/ockam

We currently update our Readme files using [cargo-readme](https://github.com/livioribeiro/cargo-readme) readme generator. To generate/update readme files across all crates,
- [We have a template](https://github.com/build-trust/ockam/blob/develop

[2022-08-09 16:07] spacekookie commented on #3014
I think this issue is basically done, see #3111

[2022-08-09 17:13] Retamogordo commented on #3125
Hi @antoinevg !
Thank you for reply,
it was false alarm from my side, I didn't notice that I installed the target for stable and not nightly, eventually I was able to build.
I tried to wrap the executor with cortex's Mutex inside a critical session, but this means that polling must be performed with interrupts disabled, what immediately led to a deadlock. At least, this was how I interpreted the s

[2022-08-09 18:12] #3033 closed, assigned to neil2468

[2022-08-09 18:47] Retamogordo commented on #3159
Hi,
a noob question: is it about delete_secure_channel(...) ?
Context that sends a graceful shutdown request to the router ?
And spawned workers are supposed to follow the same shutdown procedure ?

[2022-08-09 19:41] mrinalwadhwa commented on #3159
@Retamogordo yes, create_secure_channel spawns a few workers .. there is delete_secure_channel [here](https://github.com/build-trust/ockam/blob/ad0f26bbdd9aa9c5899f63145b297bcf5291b3d4/implementations/rust/ockam/ockam_api/src/nodes/service.rs#L231-L237) which naively just stops the worker at the address being used to send messages to the channel.

We need a control protocol that will tell the secu

[2022-08-09 19:53] mrinalwadhwa opened #3184 "Fix `ockam node start` on a running node makes it DOWN"
[code]

The code for this is here https://github.com/build-trust/ockam/tree/develop/implementations/rust/ockam/ockam_command/src/node

---

_We love helping new contributors!_
_If you have questions or need help as you work on your first Ockam contribution, please leave a comment on [this discussion](https://github.com/ockam-network/ockam/discussions/1081)._
_If you're looking for other issues to

[2022-08-09 20:18] Retamogordo commented on #3159
Hi @mrinalwadhwa,
it looks like that the "parent" context needs a mechanism of keeping track its "children" entities ? Does it refer to secure_channel only or to general case of any kind of context ?
It looks like the way the router functions now assumes that only one graceful shutdown with ack is possible, while all others that share the same  cloned sender will get an error because of dropped re

[2022-08-10 03:19] mrinalwadhwa opened #3186 "Change `ockam identity` commands to support multiple identities."
Currently:

[code]

creates a default identity for the newly created node

we can see it with

[code]

Even thought we have an `identity create` command `SHOW_HIDDEN ockam identity create --help`

We can't create a new identity because a node configuration can currently only have one identity.

[code]

We have to modify NodeManager and its configuration here to support multiple identities
https://

[2022-08-10 08:43] antoinevg commented on #3125
The existing code is an okay-ish placeholder for now but we do want to move progressively towards:

1. Having the executor be interrupt-safe so we can support peripheral access via an async interface.
2. Supporting multi-core processors.

Quite fiddly but a fun problem to work on for learning about async execution! :-)

Also, since this executor was written there's been a bit more movement with mo

[2022-08-10 15:06] mrinalwadhwa opened #3188 "Implement the `ockam secure-channel list` command"
# Currently:

[code]

Since `n2` gets a secure channel listener at `/ip4/127.0.0.1/tcp/6002/service/api`
We can create secure channels from n1 to this listener

[code]

[code]

[code]

These secure channels are stored in a service registry when they are created:
https://github.com/build-trust/ockam/blob/c397c97078dc4962d29d0180d32e579d3ca633c3/implementations/rust/ockam/ockam_api/src/nodes/service

[2022-08-10 18:24] hairyhum opened #3189 "TypedCBOR: `encode` wrapping exception does not return `{:ok ...}` tuple"
There are two functions defined in `Ockam.TypedCBOR` for encoding: `encode` and `encode!`.

Former is calling `wrap_exception(&encode!...` which will return `{:error, reason}` if there is an exception in `encode!` instead of throwing the exception.

But if there is no exception, the return value is `binary()` and not `{:ok, binary()}` and the function return value is used directly in the code.

Th

[2022-08-10 18:41] lameferret commented on #3188
Can I give this a shot?

[2022-08-10 18:45] mrinalwadhwa commented on #3188
Of course, all yours 🙏

[2022-08-10 22:36] mrinalwadhwa opened #3190 "Implement the `ockam secure-channel delete` command"
# Currently:

[code]

Since `n2` gets a secure channel listener at `/ip4/127.0.0.1/tcp/6002/service/api`
We can create secure channels from n1 to this listener

[code]

[code]

[code]

These secure channels are stored in a service registry when they are created:
https://github.com/build-trust/ockam/blob/c397c97078dc4962d29d0180d32e579d3ca633c3/implementations/rust/ockam/ockam_api/src/nodes/service

[2022-08-10 22:58] mrinalwadhwa opened #3191 "Implement the `ockam secure-channel show` command"
# Currently:

[code]

Since `n2` gets a secure channel listener at `/ip4/127.0.0.1/tcp/6002/service/api`
We can create secure channels from n1 to this listener

[code]

The created secure channel has the following properties:

1. an address /service/9a87006896ec1920da7fdbb233449d24
2. a route to the secure channel listener that it connects to /ip4/127.0.0.1/tcp/6002/service/api
3. the identifier i

[2022-08-10 22:58] Retamogordo commented on #3125
Hi @antoinevg !
Thank you for reply and for the link, I'm going to look at it,
I have just found RTIC framework, it is interrupt driven, not async, but they employ nice tricks there. Sure you already know about it.
It looks even much trickier when multi-core processors are involved, isn't it ?
Are there any papers I could read on Ockam project in general and its design so I can form a more compreh

[2022-08-10 23:22] mrinalwadhwa opened #3192 "Implement `ockam secure-channel-listener list` command"
# Currently:

[code]

Both nodes get a default secure-channel-listener at `/service/api` but we can also create a new one:

[code]

We can then create a secure channel from n1 to either secure channel listener on n2

[code]

[code]

These secure channel listeners are stored in a service registry when they are created:
https://github.com/build-trust/ockam/blob/c397c97078dc4962d29d0180d32e579d3ca633

[2022-08-10 23:27] mrinalwadhwa commented on #3184
Fixed in https://github.com/build-trust/ockam/pull/3187, thank you @leonzchang 🎉

[2022-08-10 23:27] #3184 closed, assigned to nobody

[2022-08-11 00:58] mrinalwadhwa opened #3193 "Rename `ockam forwarder create` arguments to `--at <NODE>` and `--for <NODE>`"
# Currently:

[code]

# Desired:

We want:
1. The <ADDR> positional argument to be `--at <ROUTE>`
2. The `-n, --node <node>` argument to be `--for <NODE>`
3. <ALIAS> should be an optional positional argument renamed to <FORWARDING_ADDRESS>

The help for address should read:

[code]

---

_We love helping new contributors!_
_If you have questions or need help as you work on your first Ockam contrib

[2022-08-11 05:20] mrinalwadhwa commented on #3167
@anuvratsingh sorry about taking a few days to reply to this:

Here's a simpler working example of a tcp portal

[code]

[2022-08-11 05:23] mrinalwadhwa commented on #3077
@Hwatwasthat 👋 checking back to see if you need help with this or have any questions about the issue? If you don't have time to work on it, that's okay too, we'll open it up for others to explore.

[2022-08-11 05:50] lameferret commented on #3188
Hey @mrinalwadhwa, I have some questions:
1. Would `list` return one node's secure listeners or all the secure listeners like `node list`.
2. What should be `SecureChannelList` model?
      - Right now I have it like this(heavily inspired from [TransportList](https://github.com/build-trust/ockam/blob/85d766acf47d5f199a721d1ef6fe2bcdb361def3/implementations/rust/ockam/ockam_api/src/nodes/models/tra

[2022-08-11 05:58] mrinalwadhwa commented on #3188
@anuvratsingh great question. One node's secure channels. So it should be:

[code]

_Sidenote: Secure Channels and [Secure Channel Listeners](https://github.com/build-trust/ockam/issues/3192) are different things - Secure Channels are like clients, Secure Channel Listeners are like servers._

[2022-08-11 06:57] #3149 closed, assigned to nobody

[2022-08-11 08:15] antoinevg commented on #3125
`RTIC` is great and [`embassy`](https://github.com/embassy-rs/embassy) plays nicely with it if you want to add `async` support!

The main reason we have our own mini async executor is that these projects provide firmware-level execution environments. i.e. The assumption is that they provide the entry-point for your entire firmware.

However we also need to support arbitrary firmware environments,

[2022-08-11 09:47] #3105 closed, assigned to nobody

[2022-08-11 17:09] #2836 closed, assigned to adrianbenavides

[2022-08-11 17:12] polvorin opened #3199 "Make cli command use exit code to signal success/failures"
In most/all of the commands, there are cases where the command fail,  we print the error,  but we return with a success code anyway., like here:
https://github.com/build-trust/ockam/blob/b80b36bcb407a2b23cdf54618e9ac8f4162fffe3/implementations/rust/ockam/ockam_command/src/secure_channel/create.rs#L98-L103
(in that case,  the exit code will come from the last  `stop_node(ctx).await`  result)-

Inst

[2022-08-11 17:51] lameferret commented on #3199
Hey, which of the [suggestion](https://rust-cli.github.io/book/in-depth/exit-code.html) should be used, personally [exitcode](https://docs.rs/exitcode/latest/exitcode/) looks the easiest and cleanest, but would it be alright to add another dependency?

[2022-08-11 18:37] mrinalwadhwa commented on #3199
@anuvratsingh we would avoid an external dependency here.

Since https://docs.rs/exitcode/latest/exitcode/ is Apache licensed let's [copy parts of this file that we need](https://github.com/benwilber/exitcode/blob/master/src/lib.rs) into our repo and give the authors attribution in our [NOTICE](https://github.com/build-trust/ockam/blob/develop/NOTICE) file for their work.

[2022-08-11 20:23] lameferret commented on #3199
This look simple enough, can I try it? Also, would it be alright to just copy [`exitcode::lib.rs`](https://github.com/benwilber/exitcode/blob/master/src/lib.rs) or I have to use it as "inspiration" or something?

[2022-08-11 20:51] mrinalwadhwa commented on #3199
Great! please do!

You can simply copy it.
We'll give them proper attribution. This approach is allowed under the Apache license.

[2022-08-12 04:20] mrinalwadhwa opened #3202 "Improve `ockam message send` command for graceful errors when sending to destinations that don't exist"
# Current Behaviour

I recorded a quick video to describe the current state:

https://user-images.githubusercontent.com/159583/184283962-7e22a8cc-fa99-44e3-b68b-d842b64bea9e.mp4

[code]

# Desired Behaviour

We want to improve `ockam message send` command for graceful errors when sending to destinations that don't exist

1. There should be a --timeout on `ockam message send` command with some defa

[2022-08-12 04:47] mrinalwadhwa opened #3203 "Improve `ockam message send` to support `--from /node/NAME` syntax"
# Currently

This works:

[code]

# Desired

We want to change it to also support:

[code]

[2022-08-12 05:00] mrinalwadhwa opened #3204 "Output only listener service address in output of `ockam secure-channel-listener create...`"
# Currently

[code]

# Desired

[code]

Sow we can pipe the output to other commands.

[2022-08-12 05:04] mrinalwadhwa opened #3205 "Improve `ockam secure-channel create` to support` --from /node/NAME` syntax"
# Currently

[code]

# Desired

We also want to support `--from /node/n1`

[code]

The code for the `ockam secure-channel create` is:
https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/secure_channel/create.rs

[2022-08-12 10:33] Hwatwasthat commented on #3077
Hey, yeah I've gotten a bit busier than expected! I'll keep an eye on it
and do out anyway for the practice but open it up so it might get done
faster if I can't find the time to do it.

On Thu, 11 Aug 2022, 06:23 Mrinal Wadhwa, ***@***.***> wrote:

[2022-08-12 10:46] mrinalwadhwa commented on #3077
Thank you, when you have time to do some for practice / get familiar with the code. Have a look at the new issue in the https://github.com/build-trust/ockam/labels/good%20first%20issue label.

[2022-08-12 13:44] mrinalwadhwa opened #3207 "Forwarding Service in command node"
# Currently

This works:

[code]

but it route to an elixir node running the [our elixir forwarding service](https://github.com/build-trust/ockam/blob/develop/implementations/elixir/ockam/ockam_services/lib/services/forwarding.ex).

There is a Rust implementation of the forwarding service here
https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam/src/forwarder.rs

The

[2022-08-12 14:33] spacekookie opened #3208 "Setup configuration storage for projects, spaces, etc"
In #3197 we added a configuration module for looking up aliases and mapping them to more complex values ([ockam_api/src/config/lookup.rs](https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_api/src/config/lookup.rs)). Additionally we have a [cleanup function](https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_api/src/util.rs#L14-L38) w

[2022-08-12 14:35] spacekookie opened #3209 "Space and project create commands should generate names if none was provided"
Currently the `name` argument is required for both `ockam space create` and `ockam project create`. This should be changed to be optional and generate a random UUID name if none was provided.

[2022-08-12 14:37] spacekookie opened #3210 "Enroll command should create project and space if they don't exist"
When enrolling an identity with the controller of the orchestrator the `enroll` command should create a project and space if they don't already exist.

The enroll command should also add the project ID and access route into the configuration lookup table (via a `/project/default` key) for future use

[2022-08-12 14:39] spacekookie opened #3211 "Improve node list output"
The output of `ockam node list` is currently very static and can't dynamically display services running on a node.

Ideally we should have an abstraction for communicating this type of information from the `NodeManager` and displaying it in the CLI, not just for nodes.

[2022-08-12 17:32] BeenzSyed opened #3216 "Modify `ockam identity show -n blue` to `ockam identity show blue`"
# Current

When a user would like to see the identity of a node, they have to specify the node with the option `-n <node>` or `--node <node>`.

Ex. `ockam identity show -n blue`

The current help for `ockam identity show -h` looks like this:
[code]

# Desired

When a user would like to see the identity of the node, they can write the name of node without using the -n or --node option.

Ex. `ockam

[2022-08-12 17:48] BeenzSyed opened #3217 "Add error information to 'node create' when using --tcp-listener-address option"
# Current

When a user would like to create a node using the -t or --tcp-listener-address option and enter an option that returns an error, I see only that the node is DOWN.

Ex. Under status, I see that it's down but I don't know why or what to do from here.
[code]

# Desired

When a user would like to create a node using the -t or --tcp-listener-address option and enter an option that returns an

[2022-08-12 18:03] #3216 closed, assigned to nobody

[2022-08-12 18:03] BeenzSyed commented on #3216
Closing for now since the UX is not optimal for this.

[2022-08-12 22:13] mrinalwadhwa commented on #3211
Duplicate #3177

[2022-08-12 22:13] #3211 closed, assigned to nobody

[2022-08-13 02:10] mrinalwadhwa opened #3220 "`ockam completion --shell {bash|zsh|fish}` command for shell completion"
# Current Behaviour

Users have to type the full `ockam` commands

# Desired Behaviour

Generate shell completion scripts for various shells

[code]

This would require adding the completion command here:
https://github.com/build-trust/ockam/tree/develop/implementations/rust/ockam/ockam_command/src

Clap Complete seems to have everything we need for this.
https://github.com/clap-rs/clap/tree/maste

[2022-08-13 03:25] #3199 closed, assigned to nobody

[2022-08-13 07:30] #3145 closed, assigned to nobody

[2022-08-13 07:30] #3146 closed, assigned to nobody

[2022-08-14 17:49] #3077 closed, assigned to nobody

[2022-08-14 19:54] lameferret commented on #3181
Hey, I was looking into other major rust projects like tokio, most of them use current format:
[code]

This format also allows better representation of features used (if any), and rust book also uses it.

[2022-08-14 20:00] mrinalwadhwa commented on #3181
@anuvratsingh Interesting point about features.
@metaclips Maybe we should stay with the old format for now. Just add the places where the instructions are missing.

At the top level when introducing new people, in examples/guides etc, we can start with `cargo add`.

[2022-08-14 20:27] lameferret commented on #3177
What does dynamic means here?
I imagine something like:
[code]
*memory allocations can be improved

[2022-08-14 20:36] mrinalwadhwa commented on #3177
Thank you for looking into this.

I meant to say that, this list displayed here is populated from what is in the registry. So as we add new services they are all displayed. Instead of this hardcoded output.

https://github.com/build-trust/ockam/blob/f12c604bb2d31482104be97cdf02324fe2822509/implementations/rust/ockam/ockam_command/src/node/show.rs#L39-L61

Your output sketch looks good.

[2022-08-14 20:46] lameferret commented on #3181
For examples: `cargo run --example <example-name>` doesn't help, it just shows how to run the example.
Better approach would be: [Tokio example](https://github.com/tokio-rs/tokio#example).

[2022-08-14 21:07] lameferret commented on #3177
Alright then, I would create a PR based on the sketch in `ockam_commad/util`.

[2022-08-15 10:23] michealkeines commented on #3204
Hi, I have created a PR https://github.com/build-trust/ockam/pull/3226

[2022-08-15 12:24] lameferret commented on #3186
- What is the reasoning behind multiple identities?
    - Is it for multiple services (other nodes) to talk to the same node with their own unique ID?
- Can `Vec<Vec<u8>>` be used for storing multiple identities? Is there a better way to store them?
- How can identity be overridden? I couldn't find the command to do so.

[2022-08-15 13:49] michealkeines commented on #3205
Hi @mrinalwadhwa

I am assuming the input `node name` will always be in end of the protocol

Eg:
`/node/n1`
`/node/test_node`

If this is true,

## sample code

![image](https://user-images.githubusercontent.com/38526063/184646212-949172a2-c7ab-46e4-917a-57adcad914d6.png)

## output:

![image](https://user-images.githubusercontent.com/38526063/184645799-b388e1fe-9e9c-4f01-b282-20c057a0a49b.png)

d

[2022-08-15 14:50] mrinalwadhwa commented on #3186
@anuvratsingh thank you for looking into this.

The underlying `ockam` library supports the idea of a node/application using different identities in different privacy and authorization contexts. But we haven't surfaced that in ockam command yet. So I may communicate with remote service 1 using identity 1 and with remote service 2 using identity 2.

@SanjoDeundiak may be the best person to add some

[2022-08-15 15:31] mrinalwadhwa commented on #3205
@michealkeines thank you for looking into this!

Your approach above is a great place to start 👍
Could you turn this into a helper function and place it [here](https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/util/mod.rs)

Multiple other commands have options that take NODE values and we'll want to update all of them to support the /node/n1 syntax.

I'

[2022-08-15 16:06] #3014 closed, assigned to spacekookie

[2022-08-15 16:33] metaclips commented on #3181
Thanks @anuvratsingh . `Cargo add` also has the [feature options](https://doc.rust-lang.org/nightly/cargo/commands/cargo-add.html#dependency-options). I'm in support to stay with the old format till `cargo add` is widely known. As @mrinalwadhwa stated, we should ensure all crates readme include in them, `usage instructions`.

[2022-08-15 16:57] adrianbenavides opened #3231 "`node` subcommands that create new nodes should hide the `node_name` default value"
## Current

`node` subcommands have `node_name` as the first argument. The commands that create new nodes assign a default random value when this argument is not set. This value should be hidden.

Currently, this is only done correctly in the `node create` command.

## Desired

The following commands should have the `hide_default_value = true` attribute in the `node_name` argument (take the `node

[2022-08-15 16:59] adrianbenavides opened #3232 "Create a `default` pointer in command configuration that stores the first created node."
We want to add the first created node as `default: {node: NODE_NAME}` to the config file and layer read that value when executing any command.

We also want to add new commands to modify that value (`ockam configuration set-default-node {NODE_NAME}` and `ockam configuration get-default-node`).

[2022-08-15 17:00] adrianbenavides opened #3233 "Rename `kill` argument to `force` on `node stop` command"
https://github.com/build-trust/ockam/blob/45562b90685bf62171741febe9e649183b64aba1/implementations/rust/ockam/ockam_command/src/node/stop.rs#L8-L16

[2022-08-15 17:02] adrianbenavides opened #3234 "Node fails to restart after stopping"
The following works:

[code]

But if we stop and start the same node again, it fails and the node never starts.

[2022-08-15 18:30] #3204 closed, assigned to nobody

[2022-08-15 20:39] SanjoDeundiak commented on #3186
@anuvratsingh I think Vec<Vec<u8>> is good to store identities `NodeManConfig`, note that `NodeManConfig` is the format for `NodeManager` persistence. So, `NodeManager` fields should now instead of storing one `Identity`, switch to multiple identities, I would consider `Map<IdentityIdentifier, Identity>` + default `IdentityIdentifier` to indicate which one to use if no argument is provided to a co

[2022-08-15 21:57] SanjoDeundiak opened #3237 "Error while shutting down a node"
This test prints error in the log
[code]

[code]

[2022-08-15 23:42] BeenzSyed opened #3238 "Ockam enroll should work without having to specify the node or Ockam Controller URL"
Ockam enroll enrolls the identity of a node to the Ockam Orchestrator. It should work without having to specify the node as an argument or the Controller URL.

# Current behavior

```ockam enroll --auth0 $CONTROLLER -n blue```

$CONTROLLER will be hard coded into the Ockam Command binary and the identity of the node will be a global known identity so both of those values can be derived and do not

[2022-08-15 23:53] BeenzSyed opened #3239 "Block when in space create, project create or ockam enroll"
Currently, when `ockam space create`, `ockam project create` and `ockam enroll` are run, the command immediately returns after sending a request to the Orchestrator even though the space/project is not created or the enrollment has not completed. Any further commands that are run during this time won't succeed.

To not run into this issue, we should block until `ockam space create`, `ockam project

[2022-08-16 06:39] adrianbenavides opened #3241 "Unify error handling, node req/res handling, and output"
* [x] Develop a set of helpers to simplify commands logic ([PR](https://github.com/build-trust/ockam/pull/3168))
* [x] Apply to `configuration` commands
* [x] Apply to `enroll` commands
* [x] Apply to `forwarder` commands
* [x] Apply to `identity` commands
* [x] Apply to `message` commands
* [ ] Apply to `node` commands
* [x] Apply to `project` CRUD commands
* [x] Apply to `project` enroller/membe

[2022-08-16 07:23] mrinalwadhwa commented on #3207
Closed in #3224

[2022-08-16 07:23] #3207 closed, assigned to nobody

[2022-08-16 07:24] mrinalwadhwa commented on #3193
Closed in #3224

[2022-08-16 07:24] #3193 closed, assigned to nobody

[2022-08-16 13:54] michealkeines commented on #3205
Hi @mrinalwadhwa,
- Created the helper function
- Updated secure-channel create command to use the helper function

Please review my PR https://github.com/build-trust/ockam/pull/3243

[2022-08-16 14:07] mrinalwadhwa opened #3244 "Improve `ockam tcp-connection create` to support --from /node/NAME syntax"
Similar to #3205

[code]

[2022-08-16 14:08] mrinalwadhwa commented on #3203
Similar to #3205

[2022-08-16 14:11] mrinalwadhwa opened #3245 "Improve ockam tcp-listener create to support --at /node/NAME syntax"
Similar to #3205

`--at <NODE>` should support `--at /node/NAME` syntax

[code]

[2022-08-16 14:13] mrinalwadhwa opened #3246 "Improve ockam tcp-inlet create to support --at /node/NAME syntax"
Similar to https://github.com/build-trust/ockam/issues/3205

`--at <NODE>` should support `--at /node/NAME` syntax

[code]

[2022-08-16 14:14] mrinalwadhwa opened #3247 "Improve ockam tcp-outlet create to support --at /node/NAME syntax"
Similar to https://github.com/build-trust/ockam/issues/3205

--at <NODE> should support --at /node/NAME syntax

[code]

[2022-08-16 14:16] mrinalwadhwa opened #3248 "Improve `ockam forwarder create` to support --for /node/NAME syntax"
Similar to https://github.com/build-trust/ockam/issues/3205

--for <NODE> should support --for /node/NAME syntax

[code]

[2022-08-16 14:18] mrinalwadhwa commented on #3205
@michealkeines Thank you, while I look into merging https://github.com/build-trust/ockam/pull/3243.

Issues https://github.com/build-trust/ockam/issues/3244, https://github.com/build-trust/ockam/issues/3203, https://github.com/build-trust/ockam/issues/3245, https://github.com/build-trust/ockam/issues/3246, https://github.com/build-trust/ockam/issues/3247 and https://github.com/build-trust/ockam/is

[2022-08-16 14:19] lameferret commented on #3177
Hey @mrinalwadhwa, what is the scope of this issue? Should it be limited to `node create | list` or be a companion to #3241 's output, part and replace `println!` usage for output?

[2022-08-16 14:22] michealkeines commented on #3205
Sure, I will add them, separate PRs for all issues or should i add them all in one?

[2022-08-16 14:28] mrinalwadhwa commented on #3205
In the same PR should good 👍

[2022-08-16 14:52] lameferret commented on #3186
Thanks, @mrinalwadhwa and @SanjoDeundiak for the input.

[2022-08-16 15:09] mrinalwadhwa commented on #3177
@anuvratsingh I suggest we keep this issue decoupled from the bigger refactor in https://github.com/build-trust/ockam/issues/3241. This one can just be about the output.

What you have in https://github.com/build-trust/ockam/pull/3223 seems close enough to land. I think another interesting piece of this is getting the list of services from the node api.

[2022-08-16 17:15] adrianbenavides commented on #3238
Shouldn't this be just `ockam enroll`. Currently, the default enrollment method is email, but AFAIR we wanted to switch the default to auth0.

[2022-08-16 17:50] spacekookie opened #3250 "Replace /project alias values via configuration lookup"
When using a `/project/default` (or similar) key in the `ockam forwarder` or `ockam secure-channel` commands to construct a message to the project access route with the correct identifier.

[2022-08-17 02:05] mrinalwadhwa commented on #3248
Added in https://github.com/build-trust/ockam/pull/3254

[2022-08-17 02:05] #3248 closed, assigned to nobody

[2022-08-17 02:05] mrinalwadhwa commented on #3247
Added in https://github.com/build-trust/ockam/pull/3254

[2022-08-17 02:05] #3247 closed, assigned to nobody

[2022-08-17 02:05] mrinalwadhwa commented on #3246
Added in https://github.com/build-trust/ockam/pull/3254

[2022-08-17 02:05] #3246 closed, assigned to nobody

[2022-08-17 02:06] mrinalwadhwa commented on #3245
Added in https://github.com/build-trust/ockam/pull/3254

[2022-08-17 02:06] #3245 closed, assigned to nobody

[2022-08-17 02:06] mrinalwadhwa commented on #3244
Added in https://github.com/build-trust/ockam/pull/3254

[2022-08-17 02:06] #3244 closed, assigned to nobody

[2022-08-17 02:10] mrinalwadhwa commented on #3205
Added in https://github.com/build-trust/ockam/pull/3243

[2022-08-17 02:10] #3205 closed, assigned to nobody

[2022-08-17 02:10] mrinalwadhwa commented on #3203
Added in https://github.com/build-trust/ockam/pull/3254

[2022-08-17 02:10] #3203 closed, assigned to nobody

[2022-08-17 05:04] pro465 commented on #3234
hi @adrianbenavides! could you tell what error does it fail with?

[2022-08-17 05:12] mrinalwadhwa commented on #3234
@pro465 thank you for looking into this.
I think there are multiple things that are broken / not-yet-handled in this area.

Here's one example I can reproduce. But I suspect there are more cases.

[code]

[code]

[code]

[code]

This hangs:

[code]

[code]

[2022-08-17 06:37] #3192 closed, assigned to nobody

[2022-08-17 07:00] mrinalwadhwa opened #3257 "Add examples section to `ockam message send` command's help"
# Current Behaviour

[code]

does not display any examples

# Desired Behaviour

As part of the help show the following examples section:

[code]

# References

Here's an example of command that currently shows examples

[code]

Here's the code for the `ockam node create` command
https://github.com/build-trust/ockam/blob/498198251ecac0336041c06cc7f1a2e5785ad06d/implementations/rust/ockam/ockam_com

[2022-08-17 07:26] mrinalwadhwa opened #3258 "Visualize identity change history in `ockam identity show --full` command"
# Currently

[code]

The above hex value is a serialized form of the identity.

An Ockam Identity is a series of change events that capture signed rotation and revocation of keys.
https://github.com/build-trust/ockam/blob/fdb22e2e4bef556d558aca2876d1ef75e7ce6f80/implementations/rust/ockam/ockam_identity/src/identity.rs#L22-L30

https://github.com/build-trust/ockam/blob/fdb22e2e4bef556d558aca2876d1

[2022-08-17 07:26] pro465 commented on #3234
@mrinalwadhwa trying to reproduce this in GA led to:
https://github.com/pro465/ockam/runs/7873283378?check_suite_focus=true#step:8:403
so `startup::stop` somehow is failing in GA, while in your machine it is not?

[2022-08-17 07:34] mrinalwadhwa commented on #3205
@michealkeines I wanted to show your change in a demo so I ended up making all the changes I suggested up. If you're interested in picking something else, have a look at some of the new issues we [posted today](https://github.com/build-trust/ockam/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22).

Thank you for send the above PR!

[2022-08-17 07:58] mrinalwadhwa commented on #3234
@pro465 interesting, I just tried again and it didn't happen on my machine.

[2022-08-17 07:59] pro465 commented on #3234
so, it seems `kill` call is succeeding:

https://github.com/pro465/ockam/runs/7873805002?check_suite_focus=true#step:8:403

that means there is a bug in the check in `StartCommand::run`

[2022-08-17 08:25] pro465 commented on #3234
@mrinalwadhwa perhaps you have an older version of ockam or nix?

[2022-08-17 11:11] pro465 commented on #3234
`ockam node show n1` correctly shows that the node is down, however somehow `kill` still succeeds:
https://github.com/pro465/ockam/runs/7877043154?check_suite_focus=true#step:7:725

it's puzzling me, how is this even possible?

[2022-08-17 22:47] Retamogordo commented on #3237
Tried to reproduce, no errors obtained:
[code]

[2022-08-18 00:25] #3071 closed, assigned to nobody

[2022-08-18 00:34] mrinalwadhwa commented on #3159
@Retamogordo exactly, the long term plan is to model something similar to Erlang's Supervision Trees
https://www.erlang.org/doc/design_principles/des_princ.html#supervision-trees
https://www.erlang.org/doc/man/supervisor.html
https://elixir-lang.org/getting-started/mix-otp/supervisor-and-application.html
https://hexdocs.pm/elixir/Supervisor.html

@spacekookie had a prototype of this some time ago

[2022-08-18 00:50] Retamogordo commented on #3237
Hi, I saw that the error emerges more or less sporadically,
but here there is a dump which looks like the secure channel initialization started, but not finished before the context is stopped, eventually fails due to the router entered its stopping state:
[code]

[2022-08-18 01:54] mrinalwadhwa commented on #3190
@Retamogordo offered to work on this.

[2022-08-18 03:34] michealkeines commented on #3202
Hi, @mrinalwadhwa

correct me if i am wrong...

`ockam message send --to /node/n4/service/uppercase`

for invalid node name (n4), we could check internally if the node exists before sending the message right?

`ockam message send --to /node/n1/service/upper`

for invalid service name(upper), your timeout option would be the solution

[2022-08-18 04:00] mrinalwadhwa commented on #3202
@michealkeines thank you for looking into this.
Yes on both your questions.

[2022-08-18 05:43] datdhruv commented on #3220
Hi!, Can this be assigned to me?

[2022-08-18 05:46] mrinalwadhwa commented on #3220
@datdhruv of course, all yours. Looking forward to the pull request. Let us know if you have questions along the way.

[2022-08-18 06:58] mrinalwadhwa opened #3265 "Add examples section to `ockam secure-channel create` command's help"
# Current Behaviour

[code]

does not display any examples

# Desired Behaviour

As part of the help show the following examples section:

[code]

# References

Here's an example of command that currently shows examples

[code]

Here's the code for the `ockam node create` command
https://github.com/build-trust/ockam/blob/498198251ecac0336041c06cc7f1a2e5785ad06d/implementations/rust/ockam/ockam_com

[2022-08-18 07:00] mrinalwadhwa opened #3266 "Add examples section to `ockam secure-channel-listener create` command's help"
# Current Behaviour

[code]

does not display any examples

# Desired Behaviour

As part of the help show the following examples section:

[code]

# References

Here's an example of command that currently shows examples

[code]

Here's the code for the `ockam node create` command
https://github.com/build-trust/ockam/blob/498198251ecac0336041c06cc7f1a2e5785ad06d/implementations/rust/ockam/ockam_com

[2022-08-18 12:22] Retamogordo commented on #3190
Hello !
What would be the signature of the command ?
Is it like
[code]
or
[code]
or something else ?

[2022-08-18 14:12] mrinalwadhwa commented on #3190
It would be:

[code]

Also please note @adrianbenavides's simplification in this PR as an example to simplify some of the interaction with services from commands https://github.com/build-trust/ockam/pull/3267

[2022-08-18 15:19] michealkeines commented on #3202
Hi @mrinalwadhwa

Could you please review this, i have sample code to check whether the node exists before sending message

[code]

Output:

![image](https://user-images.githubusercontent.com/38526063/185431598-aa7b864d-8d8f-4cb1-94e2-10a614b46314.png)

[2022-08-18 15:28] mrinalwadhwa commented on #3202
@michealkeines that looks great 👍

[2022-08-18 20:51] Retamogordo commented on #3190
Hi @mrinalwadhwa !
Could you enlight me about how do you guys debug spawned nodes ? Are there log files anywhere ?

[2022-08-18 21:02] mrinalwadhwa commented on #3190
@Retamogordo sure.

There are two ways.

1. Run a node in the foreground with verbose traces:
[code]

2. Nodes that are spawned and run in the background write logs to
[code]
On macos

On linux this would be in $XDG_CONFIG_HOME or ~/.config

[2022-08-18 21:12] Retamogordo commented on #3190
Awesome, thank you !

[2022-08-18 23:11] Retamogordo commented on #3190
@mrinalwadhwa, a couple of questions:
1) I came to this command syntax eventually:
[code]
is this ok with you ?
2) if the channel is not in registry, I return "not found 404", which I doubt is the most suitable choice here
3) I only delete the channel from the registry of "from" node, should be the "to" node be somehow notified about ?

[2022-08-19 00:17] Retamogordo commented on #3159
Hi @mrinalwadhwa !
Thank you for the links, I took a brief glance on them, soon I'm going to explore them  more thoroughly.
Is it an option to use third party code for this pattern implementation ?
I came across  [bastion](https://crates.io/search?q=bastion) which looks promising, they support both tokio and async_std and even claim that it could be compatible with no_std.

[2022-08-19 05:05] mrinalwadhwa commented on #3190
@Retamogordo great!

1. `--at {node}` would be better.
2. lets start with something like "channel with address `a8187fd55c8a4281ee33e365acc04592` not found"
3. also do a `ctx.stop_worker(channel_address)` although that is less that ideal as mentioned in https://github.com/build-trust/ockam/issues/3159#issuecomment-1220100953

[2022-08-19 07:59] michealkeines commented on #3202
Hi, @mrinalwadhwa I have created PR(https://github.com/build-trust/ockam/pull/3278) for both the changes, please review it.

[2022-08-19 08:49] mrinalwadhwa commented on #3159
@Retamogordo Thank you for spending time on this.

It's an option but depending on bastion would be a major change/discussion since we have specific thoughts on how we want to evolve workers and routing for message flow authorization etc. For now it may be better to explore small incremental improvements to the current worker design.

[2022-08-19 09:07] mrinalwadhwa opened #3279 "Refactor `ockam message send` command to use the new simpler utility functions."
In https://github.com/build-trust/ockam/pull/3168 @adrianbenavides introduced some simplifications to how various ockam commands interact with other ockam nodes.

We would like to change `ockam message send` to use this newer style.
The code for `ockam message send` is here https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/message/send.rs

Here's a PR t

[2022-08-19 14:47] Retamogordo commented on #3190
Hi @mrinalwadhwa,
I took a chance to modify also channel creation code as required by #3267,
if you think it's ok, I could proceed with further testing and hopefully pull requesting.

[2022-08-19 17:35] mrinalwadhwa commented on #3190
@Retamogordo that sounds great, looking forward to the PR

[2022-08-20 01:15] mrinalwadhwa commented on #3190
Fixed in https://github.com/build-trust/ockam/pull/3287
Thank you @Retamogordo 🎊

[2022-08-20 01:15] #3190 closed, assigned to nobody

[2022-08-20 01:28] mrinalwadhwa commented on #3202
We merged https://github.com/build-trust/ockam/pull/3278 that adds timeouts and node existence check. Thank you @michealkeines 🥳

However in https://github.com/build-trust/ockam/pull/3289 I remove the node check since it made certain cases fail like this one ...

[code]

We'll have to find a better place of doing that check.

[2022-08-20 02:09] #3188 closed, assigned to nobody

[2022-08-20 06:13] michealkeines commented on #3202
I tried that same scenario

[code]

It works in my feature branch

![error handling-notwork](https://user-images.githubusercontent.com/38526063/185731669-59c70943-3c00-4e62-a635-c10c23442ba2.gif)

do you have any other suggestion on where to place it?, i can work on that

[2022-08-20 06:33] mrinalwadhwa commented on #3202
Hmm, let me run some more tests and report back.

[2022-08-20 08:47] michealkeines commented on #3279
Hi @mrinalwadhwa

I checked the new Rpc abstraction,

[code]

[code]

The `rpc.request` method is using `send_and_receive()`, this defaults to `30 sec` timeout, for our `ockam message send` command we need the timeout feature right?

can i add extra methods to that Rpc or do you have any suggestions?

[2022-08-20 10:40] adrianbenavides commented on #3279
I'll be landing a PR soon with that functionality. It should be ready in the next couple of days!

[2022-08-20 12:26] Retamogordo commented on #3279
Hi,
is this a right place to comment on Rpc struct api and implementation details?

[2022-08-20 15:10] mrinalwadhwa commented on #3279
@Retamogordo sure, go for it.

[2022-08-21 13:15] michealkeines commented on #3217
Hi, @mrinalwadhwa  I am not sure if this issue is open for contributors,

I was checking the code

currently, we have a check to if the provided port is used by other nodes before creating the new Node and if there is no other node registered with the port, we proceed to create the new node, but in case if some other service was using the same port we wouldn't know it, the newly created node will

[2022-08-21 15:31] mrinalwadhwa commented on #3217
@michealkeines Thank you for looking into this. The change looks great! We would love a pull request!

I think we should also add the same check to `tcp-listener create`, `tcp-inlet create` and `tcp-outlet create` in addition to `node create` so best would be add that function to the util module and call in all these commands.

[2022-08-21 21:58] chrischiedo commented on #3257
Hi @mrinalwadhwa,

I've just submitted a [draft PR](https://github.com/build-trust/ockam/pull/3291) addressing this issue.

A few things to note:

- This is my very first contribution to the project. Any feedback, especially on the general quality of the PR would be much appreciated.
- If this PR satisfies your quality bar, then I can go ahead and work on the other two issues that are closely rela

[2022-08-21 22:12] mrinalwadhwa commented on #3257
@chrischiedo welcome to the project and congratulations on your very first contribution!! Left a suggestion on your [draft](https://github.com/build-trust/ockam/pull/3291) after that we can merge!

[2022-08-21 23:16] #3257 closed, assigned to nobody

[2022-08-22 10:42] #3265 closed, assigned to nobody

[2022-08-22 10:42] #3266 closed, assigned to nobody

[2022-08-22 14:34] michealkeines commented on #3217
Hi, @mrinalwadhwa  I have a doubt

This bind check will only work for local private IPs, is it possible to pass remote IPs to `tcp-inlet create or tcp-outlet create` commands?

I am not exactly sure about the use cases of `tcp-inlet` and `tcp-outlet`

[2022-08-22 15:01] mrinalwadhwa commented on #3217
@michealkeines great question.

In `tcp-outlet` it could be any IP:PORT so we shouldn't do the check there (I was wrong to mention that in my above comment).

`node create`, `tcp-listener create`, `tcp-inlet create` are all binding to a local IP:PORT

[2022-08-22 15:35] michealkeines commented on #3217
Please review the PR(https://github.com/build-trust/ockam/pull/3298)

[2022-08-22 22:45] polvorin opened #3303 "Error on enroll, wait for default project creation"
On enroll

`Project created. Waiting until it's operative.........thread 'tokio-runtime-worker' panicked at 'Project should have identity set', implementations/rust/ockam/ockam_command/src/enroll/auth0.rs:327:14
`
https://github.com/build-trust/ockam/blob/a5ac07e3c6185346eee1c85df64d2cf166cee871/implementations/rust/ockam/ockam_command/src/enroll/auth0.rs#L327

(it _is_ waiting for the project' ro

[2022-08-23 06:28] adrianbenavides commented on #3303
Fixed here: https://github.com/build-trust/ockam/pull/3300

[2022-08-23 06:50] #3303 closed, assigned to adrianbenavides

[2022-08-23 13:32] michealkeines commented on #3232
Hi, can i work on this issue? @mrinalwadhwa

[2022-08-23 16:43] lameferret commented on #3167
Sorry @mrinalwadhwa for being so late, notifications were turned off. I will look into it asap.

[2022-08-23 17:41] mrinalwadhwa commented on #3167
Oh no problem at all, thank you for spending time on it!

[2022-08-23 17:49] mrinalwadhwa commented on #3232
@michealkeines of course, thank you for spending time on it.
I just updated the description above for more clarity and specifics.

Please let me know if you have any questions.

[2022-08-24 07:38] mrinalwadhwa commented on #3220
@datdhruv checking in to see if you still have time to work on this issue or do you have any questions.

If you're busy that's completely okay. We can open this issue for someone else to pick up and then whenever you're available again I'd be happy suggest other issues you could contribute to.

[2022-08-24 07:55] mrinalwadhwa opened #3311 "Add syntax highlighting to examples in `ockam` command help."
# Currently

In the help for various ockam command we're adding examples.

For example `ockam`

<img width="893" alt="Screen Shot 2022-08-24 at 7 49 59 AM" src="https://user-images.githubusercontent.com/159583/186450078-862d8964-6b03-4018-808e-dbe71d54293f.png">

Also try:

[code]

# Desired

The examples section, which is usually made of shell commands, we want to make it have colors.
Syntect see

[2022-08-24 08:11] datdhruv commented on #3220
Hey, should be ready with a commit today

[2022-08-24 14:37] mrinalwadhwa commented on #3220
Awesome, looking forward to the PR 🐰

[2022-08-24 15:28] mrinalwadhwa opened #3317 "Add examples section to `ockam tcp-inlet create` command's help"
# Current Behaviour

[code]

does not display any examples

# Desired Behaviour

As part of the help show the following examples section:

[code]

# References

Here's an example of command that currently shows examples

[code]

Here's the code for the `ockam node create` command
https://github.com/build-trust/ockam/blob/e6813de8c0cd5c10b438a7b1ff11d40b97d39c40/implementations/rust/ockam/ockam_com

[2022-08-24 15:33] mrinalwadhwa opened #3318 "Add examples section to `ockam tcp-outlet create` command's help"
# Current Behaviour

[code]

does not display any examples

# Desired Behaviour

As part of the help show the following examples section:

[code]

# References

Here's an example of command that currently shows examples

[code]

Here's the code for the `ockam node create` command
https://github.com/build-trust/ockam/blob/e6813de8c0cd5c10b438a7b1ff11d40b97d39c40/implementations/rust/ockam/ockam_com

[2022-08-24 15:38] datdhruv commented on #3220
One question,

clap_complete has a method generate which expects the shell, a reference to a Clap::App, the name of the bin file and output stream.
[code]
From what i gather we dont use a clap::App in the classical sense

(classic sense => something like this)
[code]
from https://github.com/rust-lang/mdBook/blob/4c303c3b1dde1cbdf2f593b05687340915b93417/src/cmd/init.rs#L12

How would I create a ref

[2022-08-24 15:42] mrinalwadhwa opened #3319 "Add examples section to `ockam forwarder create` command's help"
# Current Behaviour

[code]

does not display any examples

# Desired Behaviour

As part of the help show the following examples section:

[code]

# References

Here's an example of command that currently shows examples

[code]

Here's the code for the `ockam node create` command
https://github.com/build-trust/ockam/blob/e6813de8c0cd5c10b438a7b1ff11d40b97d39c40/implementations/rust/ockam/ockam_com

[2022-08-24 17:23] mrinalwadhwa opened #3320 "Change `ockam node delete` command to always require the node_name argument"
Currently the node name argument of `ockam node delete` has a default value.

https://github.com/build-trust/ockam/blob/43a041ab65b18b80eae66ac104d108ab39e21aa1/implementations/rust/ockam/ockam_command/src/node/delete.rs#L8-L25

[code]

We want the command to be more explicit.

The code for it is here https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/no

[2022-08-24 17:51] lameferret commented on #3167
Updated instructions.
1. `python3 -m http.server --bind 127.0.0.1 5000`
2. `for i in (seq 1 3); ./target/debug/ockam node create "n$i" --tcp-listener-address "127.0.0.1:600$i"; end`
3. `./target/debug/ockam tcp-outlet create --at n3 --from blue --to 127.0.0.1:5000`
4. `./target/debug/ockam tcp-inlet create --at n1 --from 127.0.0.1:3000 --to /ip4/127.0.0.1/tcp/6002/ip4/127.0.0.1/tcp/
6003/service/b

[2022-08-24 17:52] mrinalwadhwa opened #3322 "Make `ockam node delete --all --force` command more forceful"
Make `ockam node delete --all --force` more aggressive so a user can get to a usable state even if for some reason deleting a node is failing.

1. One of the things we can do is regardless of other failure always delete the config directory which currently doesn't happen if delete_node fails and exits. We should also do this when no nodes exist.

https://github.com/build-trust/ockam/blob/45562b906

[2022-08-24 17:59] mrinalwadhwa commented on #3167
@anuvratsingh This now works too.

    python3 -m http.server --bind 127.0.0.1 5000

    for i in {1..3}; do ockam node create "n$i"; done

    ockam tcp-outlet create --at /node/n3 --from /service/outlet --to 127.0.0.1:5000
    ockam tcp-inlet create --at /node/n1 --from 127.0.0.1:6000 --to /node/n2/node/n3/service/outlet

    curl 127.0.0.1:6000

[2022-08-24 18:17] mrinalwadhwa commented on #3220
@datdhruv I found this on the Clap discussions group https://github.com/clap-rs/clap/discussions/3671#discussioncomment-2672374

[2022-08-24 18:52] lameferret commented on #3167
Hey @mrinalwadhwa, how should I submit PR, for [add inlet/outlet to registry](https://github.com/build-trust/ockam/blob/43a041ab65b18b80eae66ac104d108ab39e21aa1/implementations/rust/ockam/ockam_api/src/nodes/service/portals.rs#L81), inlet/outlet show, and similar smaller issues.
1. One PR with multiple commits, which can individually be merged into main.
2. Multiple PRs

[2022-08-24 18:54] mrinalwadhwa commented on #3167
I PR with multiple commits would be great 👍

[2022-08-24 18:55] mrinalwadhwa commented on #3167
Multiple smaller PRs are faster to land - so either way is okay.

[2022-08-24 19:08] lameferret commented on #3167
Sorry, but can I get some help with option 2: Multiple smaller PR's

- Let's say in PR1 I add inlet and outlet to registry, and I push this branch

- Then in PR2 I want to use the things I did in PR1, so what would I do
    - If I create a PR2 branch with PR1 as base, wouldn't this mess thing up when pushing (some rebase issues)?.
    - I have to wait for PR1 to merge to prod (develop) and then wo

[2022-08-24 19:22] mrinalwadhwa commented on #3167
Happy to answer such questions so keep them coming.

My workflow in that situation would be to create two branches. feat1 branch is based on develop. feat2 branch is based on feat1 branch. When ready create two PRs - one for each feature. In PR2's comment mention that it is stacked on PR1.

Now someone starts reviewing PR1 and gives some suggestions to fix. When you fix and change feat1, you also

[2022-08-24 19:23] mrinalwadhwa opened #3323 "Improve handling of command configuration files across versions"
If a config file from a previous version exists, using it with a new version often fails:

[code]

[2022-08-24 20:26] #3210 closed, assigned to nobody

[2022-08-24 20:26] #3239 closed, assigned to nobody

[2022-08-24 20:26] #3250 closed, assigned to nobody

[2022-08-24 20:26] #3279 closed, assigned to nobody

[2022-08-24 20:49] mrinalwadhwa opened #3325 "Diagnose error in `ockam configuration get-default-node`"
In https://github.com/build-trust/ockam/pull/3321 [michealkeines](https://github.com/michealkeines) added `get-default-node` and `set-default-node` but there maybe some issue there

[code]

[2022-08-25 07:08] mrinalwadhwa opened #3332 "CI - Write github action workflow to automate running ockam command bats tests"
https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/tests/commands.bats

[code]

Would be good to run these in a matrix of - macos and linux

Our action workflows live here
https://github.com/build-trust/ockam/tree/develop/.github/workflows

[2022-08-25 10:29] datdhruv commented on #3220
#3326 and #3327 should take care of this, so we can close this

[2022-08-25 13:12] michealkeines commented on #3325
Hi @mrinalwadhwa, I have added the fix in this PR(https://github.com/build-trust/ockam/pull/3337), Please review it

[2022-08-25 13:47] #3220 closed, assigned to nobody

[2022-08-25 15:12] #3325 closed, assigned to nobody

[2022-08-25 16:32] michealkeines commented on #3323
Hi @mrinalwadhwa

Currently we try to parse the contents of the config file using `serde_json::from_str(&buf)` this will fail if all the fields in the struct is not present in the json file

Possible solutions:

- check if it has all the fields and set default values for fields that not present
- discard that config and set default values for all fields

 do you have any expected solution or sugge

[2022-08-25 19:36] mrinalwadhwa commented on #3323
@michealkeines thank you for looking into this.

I think this would be the better solution here:

[2022-08-26 15:51] michealkeines commented on #3323
@mrinalwadhwa

serde provides a default value option

[code]

Here, while parsing json to struct, if the `default` field is not present it will take the default value

can we go with this solution?

only problem is that the config file will only be updated with default value when the user set the default node again, until then it will default to None

## output:

![default parsing](https://user-im

[2022-08-26 15:55] mrinalwadhwa commented on #3323
Nice! that sounds like a good solution 👍

[2022-08-26 16:24] michealkeines commented on #3323
Please review my PR(https://github.com/build-trust/ockam/pull/3356)

[2022-08-26 18:26] #3322 closed, assigned to adrianbenavides

[2022-08-27 09:33] mrinalwadhwa commented on #3319
Addressed in https://github.com/build-trust/ockam/pull/3350
Thank you @chrischiedo

[2022-08-27 09:33] #3319 closed, assigned to nobody

[2022-08-27 09:34] mrinalwadhwa commented on #3318
Addressed in https://github.com/build-trust/ockam/pull/3350
Thank you @chrischiedo

[2022-08-27 09:34] #3318 closed, assigned to nobody

[2022-08-27 09:34] mrinalwadhwa commented on #3317
Addressed in https://github.com/build-trust/ockam/pull/3350
Thank you @chrischiedo

[2022-08-27 09:34] #3317 closed, assigned to nobody

[2022-08-27 15:43] #3320 closed, assigned to nobody

[2022-08-28 00:03] Retamogordo commented on #3159
Hi @mrinalwadhwa !
I'm trying to wrap my head around the workers/router machinery..(still far from being there).
However a code snippet attracted my attention:
[code]
Apparently there is a potential condition where the worker is rejected by the router or even the router is shutting down.
At this point the function returns an error, but the worker relay has been already launched its loop.
As far as

[2022-08-28 00:23] mrinalwadhwa commented on #3159
@Retamogordo Thank you for digging into this. Interesting 🤔 .. we're working toward a release this coming week. I'll think about this a bit over the next day or two. Could you try to come up with a failing test case along with your fix.

@SanjoDeundiak @antoinevg @twittner may have thoughts.

[2022-08-28 00:36] Retamogordo commented on #3159
Oh, maybe I was unclear, I didn't find this thing by running anything, I just was looking how the system is built.
I mean, I ran all the tests after I introduced the code modification just to see I didn't screw anything.
But still don't have a failing test written for this case.
But I can think of how to test something relevant about it, if this is what you mean.

[2022-08-28 00:40] mrinalwadhwa commented on #3159
That was exactly what I was trying to covey.
A simple test that we know will fail would be very helpful.

[2022-08-28 00:41] Retamogordo commented on #3159
Ok

[2022-08-28 01:08] Retamogordo commented on #3159
Ah, if you are to look at this, please check also:
[code]
At this snippet:
[code]
when channel is gone, recv() returns None, and this case is not covered.
If I'm not wrong this could mean that the router is down ? So, the same thing, no return from the loop.

[2022-08-28 14:51] Retamogordo commented on #3159
Hi @mrinalwadhwa,
I think at least one scenario with stopped router is a false alarm, it is covered by the break statement in the worker_relay loop, sorry for trouble.
I'll still check what happens on rejection, though.

[2022-08-28 14:59] mrinalwadhwa commented on #3159
Oh no trouble at all, this kind of thinking and exploration is incredibly valuable feedback!! Thank you.

[2022-08-28 16:50] #3233 closed, assigned to nobody

[2022-08-28 16:57] #3323 closed, assigned to nobody

[2022-08-28 16:57] mrinalwadhwa commented on #3311
Added in https://github.com/build-trust/ockam/pull/3364
Thank you @jlucktay 🥁

[2022-08-28 16:57] #3311 closed, assigned to nobody

[2022-08-28 17:11] mrinalwadhwa opened #3370 "Rename `ockam project add-member` command to `ockam project enroll`"
Without changing any of the logic/arguments we want to change `ockam project add-member ...` to `ockam project enroll ...`

The source for the command is here:
https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/project/add_member.rs

[2022-08-29 00:02] Retamogordo commented on #3159
Hi @mrinalwadhwa,
I must retire my statements regarding a possible issues in that code, I didn't notice that there is a significant timeout before the node shutdown that must suffice for cleanup. The only potential race condition could only emerge with usage of stop_now with a multi-threaded executor. I don't know how to emulate such an environment, so I can't produce a comprehensive test for my c

[2022-08-29 01:30] mrinalwadhwa commented on #3159
This may have been a hack to hide some errors while we focused on other pieces. So revising and fixing race conditions and aiming for a more graceful node shutdown I think is a worthy cause to pursue. I think this will also help us as we explore implementing supervision trees and recovery strategies.

[2022-08-29 01:57] Retamogordo commented on #3159
As for supervision trees, do you guys have an ongoing discussion on the topic ? This was why I started to explore your code, I was wandering about how that thing about supervision trees could be applied in practice. It looks like the "router" is a good candidate for a root supervisor ? Maybe it could be possible to leverage Rust's scopes and oneshot channels in order to simplify the protocol of sh

[2022-08-29 10:54] antoinevg commented on #3159
I don't think there's been much discussion yet around the implementation of supervision trees in the runtime apart from @spacekookie 's [PR](https://github.com/build-trust/ockam/pull/968/files).

I agree with you that using worker channel lifetimes to manage shutdown is the correct approach though implementation may be non-trivial with the way the code is currently organized.

As I understand it `

[2022-08-29 17:50] Retamogordo commented on #3159
@antoinevg, thank you for the reply,
yes, I think that yet I only understand a tiny tip of the system design,
I just imagined that the router was the main loop in the node's lifecycle that received commands from outer world for workers control.
 I also realized from the code that my vision was possibly just upside down :)
I also noticed that, as you mention, there was no a closed circuit of messag

[2022-08-29 19:57] mrinalwadhwa opened #3379 "Rename `--node` argument of `ockam secure-channel list` to `--at`"
Currently

[code]

We want it to be

[code]

So it is consistent with other secure channel commands

This should work:

[code]

The code for the command is here
https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/secure_channel/list.rs

---

_We love helping new contributors!_
_If you have questions or need help as you work on your first Ockam contributio

[2022-08-29 20:00] mrinalwadhwa opened #3380 "Make `ockam secure-channel delete` accept inputs of form `/service/3c54b81...`"
Make `ockam secure-channel delete` accept inputs of form `/service/3c54b81...`

so it is consistent with other commands

[code]

The code for the command is here
https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/secure_channel/delete.rs

[2022-08-30 06:06] mrinalwadhwa opened #3382 "Investigate why shell completion scripts in homebrew formula show a permissions error on macos"
We had to remove the completions scripts from the formula
https://github.com/build-trust/homebrew-ockam/pull/34/files

[2022-08-30 17:19] michealkeines commented on #3380
Hi, @mrinalwadhwa

do you mean like `ockam node delete /service/3c54b81` should delete the service running in any node or a particular node?

and what is the use case in passing a service address to `node delete`?

[2022-08-30 17:54] michealkeines commented on #3370
Hi, @mrinalwadhwa

Please review my PR(https://github.com/build-trust/ockam/pull/3386)

[2022-08-30 21:19] Retamogordo commented on #3234
Hi,
I inserted a few printouts into the code, I could see something that perhaps is kind of a relevant thing.
This code
[code]
searches for a start up config json, which on my machine looks like so:
[code]
So on the surface, it looks like there is no command to run upon the node startup.
And the printout after a list (or send) command, for example:
[code]
Just to try something dirty I explicitly c

[2022-08-31 01:54] mrinalwadhwa commented on #3370
@michealkeines thank you 🥳

[2022-08-31 01:54] #3370 closed, assigned to nobody

[2022-08-31 06:26] mrinalwadhwa commented on #3380
@michealkeines sorry I miss typed the issue .. I meant `ockam secure-channel delete` instead of ~`ockam node delete ..`~ sorry about that confusion

[2022-08-31 14:12] mrinalwadhwa opened #3391 "Improve output of `ockam secure-channel list` command for formatting, color, and json"
# Current:

To see the current outputs run:

[code]

# Desired:

We want the output of `secure-channel list` it to be similar to the output from [secure-channel create](https://github.com/build-trust/ockam/blob/e74fe2d40a0aa6af548606850058da7c83949251/implementations/rust/ockam/ockam_command/src/secure_channel/create.rs#L85-L141)

on stdout, if tty

[code]

on stderr

[code]

And also handle json

[2022-08-31 15:31] mrinalwadhwa opened #3392 "Improve output of `ockam tcp-connection create` command for formatting, color, and json"
Current:

[code]

Desired:

We want the output of secure-channel list it to be similar to the output from [secure-channel create](https://github.com/build-trust/ockam/blob/e74fe2d40a0aa6af548606850058da7c83949251/implementations/rust/ockam/ockam_command/src/secure_channel/create.rs#L85-L141)

[code]

So it output for `tcp-connection create` should look like:

[code]

And also handle json and color

[2022-08-31 16:24] BeenzSyed opened #3393 "Reduce the amount of information that we show at Project Creation"
# Currently we see

[code]

# Desired

Under the Project information, we can remove Identity Identifier, Authority access route and Authority Identity.

[code]

The code for the project create is here https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/project/create.rs

---

_We love helping new contributors!_
_If you have questions or need help as you w

[2022-08-31 19:18] Retamogordo commented on #3191
Hi @mrinalwadhwa,
is this still active ?

[2022-08-31 21:22] mrinalwadhwa commented on #3191
@Retamogordo yes and all yours if you would like to spend time on it.

[2022-08-31 21:58] Retamogordo commented on #3191
Nice, thank you,
I would like to know what is meant by
3. the identifier it uses for itself
As for
4. a list of identifiers that are authorized to be presented by the secure channel listener.
This data is now consumed by the DecryptorWorker, I would probably need to slightly modify some signatures which are not directly related to the this task. I think this would not lead to a major impact on the

[2022-08-31 23:05] Retamogordo commented on #3191
Hi @mrinalwadhwa,
one more thing, I face troubles on creating a channel:
[code]
it hangs with the output on the n1 node side:
[code]
I think I succeeded to create a channel once, since then I'm stuck on this thing. Maybe I need to clean up some file somewhere ?

[2022-09-01 07:07] mrinalwadhwa commented on #3191
This identity is of type [Identity](https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_identity/src/identity.rs#L25) which has an [identifier](https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_identity/src/identity.rs#L26)
https://github.com/build-trust/ockam/blob/c397c97078dc4962d29d0180d32e579d3ca633c3/implementations/rust/ockam/oc

[2022-09-01 07:11] mrinalwadhwa commented on #3191
This data is now consumed by the DecryptorWorker, I would probably need to slightly modify some signatures which are not directly related to the this task. I think this would not lead to a major impact on the existing code though.

Could you share a bit more about your approach.
I was thinking we could remember this Vec that we have before the channel is created
https://github.com/build-trust/ocka

[2022-09-01 07:16] mrinalwadhwa commented on #3191
This error that you saw above `SecureChannelTrustCheckFailed` has to do with authorized identities. Could you try this simpler example. Does it work?

[code]

In the above case we assume the same shared identity in all nodes and all nodes and their default secure channel listeners at /api trust this shared identity.

[2022-09-01 12:31] Retamogordo commented on #3191
Hi @mrinalwadhwa,
yes this Vec, wrapped by Arc, so we have a sync ref to it (the Arc introduces that signature change in ```TrustMultiIdentifiersPolicy``` that currently uses an unwrapped owned Vec:
[code]

[2022-09-01 12:39] Retamogordo commented on #3191
Yes, but it would be interesting to test how the authorized list printout works.
In this case the authorized list would always be empty, wouldn't it ?

[2022-09-01 17:05] Retamogordo commented on #3191
Hi @mrinalwadhwa,
not related to this issue, I face this phenomenon when running a ```list``` command:
[code]
Do you want me to check if the key already exists in registry prior to channel creation ? I already have this file checked out.

[2022-09-01 20:09] Retamogordo commented on #3191
Hi @mrinalwadhwa,
not related to this issue, I face this phenomenon when running a ```list``` command:
[code]
I think that this happens because when a channel is created they store it twice under different keys, but the list command outputs just everything. Maybe can be fixed by using a HashSet instead of Vec when producing the output of the list command ?

[2022-09-01 20:16] mrinalwadhwa commented on #3191
@Retamogordo thank you, would you mind filing a new issue for it?

[2022-09-01 20:18] mrinalwadhwa commented on #3191
It shouldn't be empty. But it's possible the current implementation doesn't handle this.
It should show the one shared identity's identifier as the only authorized identifier

[2022-09-01 20:19] mrinalwadhwa commented on #3191
Ah, I think that should be okay cc: @SanjoDeundiak

[2022-09-01 20:23] Retamogordo commented on #3191
If you consider this an issue maybe I could see what can be done about it right away, or you prefer to process it in a new thread ?

[2022-09-01 20:34] Retamogordo commented on #3191
This is not quite clear to me as I am not acquainted with the business logic of channel creation. I have a draft of the command implemented:
[code]
which outputs:
[code]
for the sequence you provided to me. The are no authorized identifiers. From the code I can just guess that ```TrustEveryonePolicy``` execution branch is taken in this case of channel creation. ??

[2022-09-01 20:41] mrinalwadhwa commented on #3191
if you could push what you have so far in a draft pr, I'll try it our and share more thoughts/pointers there.

that would be great, no need for a separate issue then. can be part of the same PR but maybe a separate commit.

[2022-09-01 20:44] Retamogordo commented on #3191
Two different commits on the same git branch ? One after another ?

[2022-09-01 20:56] mrinalwadhwa commented on #3191
Yes exactly.

[2022-09-01 21:34] SanjoDeundiak commented on #3191
@Retamogordo

I also think it's strange, so it'll be fixed here https://github.com/build-trust/ockam/pull/3397

I don't think we need to be able to modify this list after Secure Channel or Listener is started, so no need to wrap in an Arc, just clone the thing

[2022-09-02 18:05] michealkeines commented on #3380
Hi @mrinalwadhwa, Please review my PR(https://github.com/build-trust/ockam/pull/3407)

[2022-09-02 20:37] #3332 closed, assigned to nobody

[2022-09-03 02:09] mohitsaxenaknoldus commented on #3393
Hey, can I work on this?

[2022-09-03 02:16] mrinalwadhwa commented on #3393
@mohitsaxenaknoldus yes absolutely, all yours. Let us know if you have any questions.

[2022-09-03 09:21] mrinalwadhwa opened #3410 "Remove the `--node` argument from `ockam enroll` command"
The `--node` option defined here is not used anywhere in the enroll command, we want to remove it.

https://github.com/build-trust/ockam/blob/a3d0b3d5f01c69a5329ee3b73b1834920aa099d1/implementations/rust/ockam/ockam_command/src/enroll.rs#L36

---

_We love helping new contributors!_
_If you have questions or need help as you work on your first Ockam contribution, please leave a comment on [this di

[2022-09-03 10:05] mrinalwadhwa opened #3413 "Improve help for `ockam space` subcommand"
# Currently:

<img width="900" alt="Screen Shot 2022-09-03 at 2 56 56 AM" src="https://user-images.githubusercontent.com/159583/188265593-06f31030-6f1d-49d8-b6cd-0a967c067e98.png">

Note the location of where the help subcommand is displayed.

# Desired:

We want to make help for `ockam space` look more like `ockam secure-channel`

<img width="805" alt="Screen Shot 2022-09-03 at 3 01 04 AM" src="h

[2022-09-03 10:11] mrinalwadhwa opened #3414 "Remove generated name in `ockam space create` help"
# Currently

Note the generated name next to the NAME argument
<img width="640" alt="Screen Shot 2022-09-03 at 3 07 56 AM" src="https://user-images.githubusercontent.com/159583/188265944-bde33beb-4b2e-49eb-9cd7-598de5b2b390.png">

# Desired

We don't want to display the generated value (ex: e8218333) in help.

The code of `ockam space create` command is here
https://github.com/build-trust/ockam/bl

[2022-09-03 10:26] mrinalwadhwa commented on #3379
Fixed in https://github.com/build-trust/ockam/pull/3411
Thank you @elbart.

[2022-09-03 10:26] #3379 closed, assigned to nobody

[2022-09-03 20:26] mrinalwadhwa commented on #3380
Merged in https://github.com/build-trust/ockam/pull/3407.
Thank you @michealkeines 🙏

[2022-09-03 20:26] #3380 closed, assigned to nobody

[2022-09-04 15:55] mrinalwadhwa commented on #3191
Implemented in https://github.com/build-trust/ockam/pull/3403
Thank you @Retamogordo 🥳

[2022-09-04 15:55] #3191 closed, assigned to nobody

[2022-09-04 21:39] RajivTS commented on #3414
@rustbot claim

[2022-09-04 21:43] mrinalwadhwa commented on #3414
@RajivTS all yours

[2022-09-04 22:05] RajivTS commented on #3414
Thanks @mrinalwadhwa. Do we need a test for this change or is this simple enough that we don't require a test?

[2022-09-04 22:10] mrinalwadhwa commented on #3414
This is simple enough 👍

[2022-09-05 10:40] leonzchang commented on #3209
Hi @spacekookie , can you show the example using `ockam space create` ?
I try to  test `ockam space create` but the error occurs `No such node available.  Run 'ockam node list' to list available nodes`.

[2022-09-05 23:19] RajivTS commented on #3413
I can take this as well if that's ok?

[2022-09-05 23:29] #3414 closed, assigned to nobody

[2022-09-05 23:39] mrinalwadhwa commented on #3413
Of course, thank you for spending time on this. All yours

[2022-09-07 09:23] mrinalwadhwa opened #3434 "Show command help in $PAGER or less"
# Currently:

We have many help commands that show a long help, for example `ockam secure-channel --help`. This hides the command syntax above the fold.

# Desired:

1. Detect if $PAGER is set, if so invoke that and send all help output to it.
2. If $PAGER is not set, default to `less`

---

_We love helping new contributors!_
_If you have questions or need help as you work on your first Ockam con

[2022-09-07 19:31] mrinalwadhwa opened #3436 "Detect new release is available and display upgrade instructions in command"
We will continue to release often.

When any ockam command/subcommand is run, we want to check if a new version has been released and display upgrade instruction.

We'll do this by fetching this file over HTTP and checking if it is not empty.

[code]

Where `ockam_v0.72.0` would be replaced with the current version of the command binary.

The code for the check would likely go here before invoking

[2022-09-09 02:52] mrinalwadhwa commented on #3436
Added in https://github.com/build-trust/ockam/pull/3439
Thank you @leonzchang 🥳

[2022-09-09 02:55] #3436 closed, assigned to nobody

[2022-09-09 14:50] phillyphil91 commented on #3434
Hey, i would like to take a look at this, as a first contribution. I am not entirely sure, I understand the details fully though.
At what stage should the check for $PAGER happen? And once that's set to `less` instead of the normal display of the help commands, this should be "routed" as input to `less` ?

Edit: Found HELP_DETAIL or rather the place where `help::template` etc. is defined

[2022-09-09 17:24] #3410 closed, assigned to nobody

[2022-09-09 17:48] #3209 closed, assigned to nobody

[2022-09-09 17:54] mrinalwadhwa commented on #3392
fixed in https://github.com/build-trust/ockam/pull/3426
thank you @leonzchang 🥳

[2022-09-09 17:54] #3392 closed, assigned to nobody

[2022-09-09 19:11] phillyphil91 commented on #3434
In general it looks like only `man` uses the $MANPAGER or $PAGER env. So I guess I would have to find a way for the `help` output to use the tools specified by those ENVs as well. I can take a look if `clap` allows this or if there is any other way to do this.
If I'm going off into the wrong direction, please let me know.

[2022-09-09 19:49] mrinalwadhwa commented on #3434
@phillyphil91 thank you for spending time on this.
I think that is right direction.
We need to find a way in clap to override where the output goes.

[2022-09-09 19:52] mrinalwadhwa commented on #3434
The clap community has a friendly discussions page here https://github.com/clap-rs/clap/discussions so asking there for some guidance might be helpful as well.

[2022-09-09 19:55] hairyhum opened #3450 "Support TCP keepalive for TCP clients"
Current implementations of TCP clients need to rely on ad-hoc heartbeats in order to keep the TCP connection open.

Those heartbeats are implemented as empty Ockam Routing messages, which is not optimal both for encoding/decoding and for router monitoring.

We need to look into supporting more standard TCP keepalive mechanism.

Currently we have heartbeats in:
- Rust: [here](https://github.com/bui

[2022-09-09 20:02] mrinalwadhwa opened #3452 "Investigate why scorecards action is failing"
https://github.com/build-trust/ockam/runs/8277473384?check_suite_focus=true

[2022-09-09 20:02] phillyphil91 commented on #3434
Good idea. I will have a look there.

Clap allows you to write to stdout or to a io::Write object.
![image](https://user-images.githubusercontent.com/57916112/189432866-88d046c7-f7ba-4e4f-9c29-1fcb2d84d998.png)
The problem then still is how to get this into `less` for example. Maybe it would be easier to just allow the user to do `ockam secure-channel --help | less` if they want to. But i will hav

[2022-09-09 20:05] mrinalwadhwa commented on #3434
I was thinking if we can capture the help output, then maybe we can execute  `echo "$output" | less` in a subprocess

[2022-09-09 20:16] phillyphil91 commented on #3434
i was thinking the same, but was not able to get anything meaningful working yet. I'll have another look at spawning (sub)processes. Thanks

[2022-09-09 20:31] hairyhum commented on #3450
Currently we have heartbeats in
elixir: https://github.com/build-trust/ockam/blob/develop/implementations/elixir/ockam/ockam/lib/ockam/transport/tcp/client.ex#L90
rust: https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_transport_tcp/src/workers/sender.rs#L224

Instead we should configure TCP connection to use keepalives https://www.erlang.org/doc/man/gen_tcp.html#t

[2022-09-10 00:25] mrinalwadhwa opened #3454 "Implement `ockam reset` command"
Currently, to do a complete reset we do:

[code]

We want to add a new command `ockam reset` that will have the same behaviour as `ockam node delete --all --force`.

The command would prompt the user to confirm that really want a full reset. If they yes. Then delete everything. `ockam reset --yes|-y` would skip the prompt.

The code for  `ockam node delete --all --force` is here https://github.com

[2022-09-10 05:44] michealkeines commented on #3454
Hi @mrinalwadhwa, Please review my PR(https://github.com/build-trust/ockam/pull/3455)

[2022-09-10 10:07] phillyphil91 commented on #3434
I found something that allows you to open a sub-process for example for `less` ([How to run ‘less’ command for command line application](https://users.rust-lang.org/t/how-to-run-less-command-for-command-line-application/48803)) and wait until the sub-process exits but the question is if it's possible run this as a custom function or something if the help command is used. Disabling the help sub com

[2022-09-10 10:22] phillyphil91 commented on #3450
Hi. I would like to take a look at the TCP keepalive mechanism for the **Rust** implementation.

[2022-09-10 11:04] sanjayts commented on #3391
I'm interested in picking this up :)

Though I'm not able to replicate the output highlighted above:
[code]

Similar error when trying to list the channel for default --node. I'm assuming this is the correct command:

[code]

Assuming I create another node n3 and create a new channel from n3 to n2 (along with the one from n1 to n2), the output is something like:
[code]

I believe this needs to loo

[2022-09-10 11:36] phillyphil91 commented on #3450
It looks like tokio no longer has the `set_keepalive` method: https://github.com/rust-lang/rust/issues/69774#issuecomment-1159294804
But apparently the `socket2` crate has, which could be worth taking a look at.

[2022-09-10 17:03] sanjayts commented on #3391
I was able to figure out how to retrieve From (`/node/{cmd.at}`) and At (`route_to_multiaddr(&route![addr])`) but not sure where I could get the "To" from? Would that involve a separate RPC call?

[2022-09-10 19:20] #3413 closed, assigned to nobody

[2022-09-10 22:38] RajivTS commented on #3241
@mrinalwadhwa I would like to apply the new request handling pattern to `identity` commands if that's ok?

[2022-09-10 22:50] mrinalwadhwa commented on #3241
@RajivTS that would be great! Let us know if you have any questions.

[2022-09-11 03:22] mrinalwadhwa commented on #3391
@sanjayts Thank you for spending time on this!

Looks like you're on the right track, have a look at the show command for how to get the To field:
https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/secure_channel/show.rs#L37

[2022-09-11 18:13] phillyphil91 commented on #3450
I'm trying to wrap my head around this. So instead of using Ockam's heartbeats (in this case sending a `TcpSendWorkerMsg::Heartbeat` , you want to use the standard TCP keepalive mechanism which was provided by `tokio::net::TcpStream::set_keepalive` and is now provided by `socket2::Socket::set_keepalive` or possibly `socket2::Socket::set_tcp_keepalive`? So possibly use the aforementioned methods to

[2022-09-11 18:18] phillyphil91 commented on #3434
So according to https://github.com/clap-rs/clap/issues/4201, using a pager for the help output is currently being investigated by the `clap` team. So maybe this issue can be closed until further advancement is done on their side? Or are there any other suggestions?

[2022-09-11 19:21] mrinalwadhwa commented on #3450
Yes exactly!

We're not too particular. Both discussions and this issue are great. We'll try to help where possible.

[2022-09-11 19:23] mrinalwadhwa commented on #3434
@phillyphil91 Thank you for exploring this and engaging with the Clap community on that thread. I'll leave the issue open so we remember to come back to it.

In the meantime, maybe we should invest effort in making `-h` and `--help` should short and long help respectively. I feel this distinction is hard to discover for new users.

[2022-09-11 20:28] sanjayts commented on #3391
@mrinalwadhwa Awesome! I've made some good progress (calling RPCs in a loop is not simple!). Off the top of your head, would you know how I could convert the route string representation return by ShowSecureChannelResponse (1#127.0.0.1:60321 => 0#api) to something like (/node/n2/service/api (/ip4/127.0.0.1/tcp/60321/service/api)?

[2022-09-11 20:46] mrinalwadhwa commented on #3391
`route_to_multiaddr` is likely what you're looking for. Feel free to push a draft PR and we can help with suggestions to improve it.

[2022-09-11 21:00] mrinalwadhwa opened #3460 "Implement `ockam status` command"
Create a new command `ockam status` at the root of the [`ockam_command`](https://github.com/build-trust/ockam/tree/develop/implementations/rust/ockam/ockam_command/src) crate that will show the identities that have been enrolled.

An identity is enrolled when running the `ockam enroll` command, and currently, it doesn't support passing a specific node, so it's able to enroll only the `default_iden

[2022-09-11 21:13] mrinalwadhwa opened #3461 "Make `ockam identity show` command work without creating nodes"
## Currently

[code]

After enroll there is already an identity and it is stored in the `default_identity` key of our config file.

## Desired

In the above case `> ockam identity show` should show the default identity.

---

_We love helping new contributors!_
_If you have questions or need help as you work on your first Ockam contribution, please leave a comment on [this discussion](https://gith

[2022-09-11 21:17] mrinalwadhwa opened #3462 "CI - Improve Github Actions token permissions"
The Scorecard action currently shows this warning for some of our actions
https://github.com/build-trust/ockam/tree/develop/.github/workflows

We should change where the token permission is set:

<img width="949" alt="Screen Shot 2022-09-11 at 2 17 10 PM" src="https://user-images.githubusercontent.com/159583/189549218-2b50f190-e35d-443e-b5a1-d3d09144a988.png">

[code]

[2022-09-12 04:00] leonzchang commented on #3392
anytime.

[2022-09-12 18:35] neil2468 commented on #3180
Hi,

I took a look at some recent GitHub logs for scheduled `Rust` workflows, and ran some tests inside an `ockam-builder` docker.

It seems / I think...
* The `Rust Nightly Test` is always slower than `Rust Test`. It spends more time compiling tests and running tests (see log below). I suspect the tests take longer to run because some of the tests are also doing compilation (e.g. those which use

[2022-09-12 20:36] sanjayts commented on #3391
Created a WIP PR -- https://github.com/build-trust/ockam/pull/3467

There are a few more things to be done here but would appreciate your feedback, cheers!

[2022-09-12 20:51] metaclips commented on #3180
Thanks @neil2468 for the detailed investigation. We cache both `nightly and stable` build with same [cache key](https://github.com/build-trust/ockam/blob/6ac7fb82d25aca4b0aff7853603c084e793bd7a3/.github/actions/cargo_target_dir_cache/action.yml#L9) leading to a race on who is first to upload, which is dominantly `rust-stable` as this [step takes longer for rust-nightly](https://github.com/build-tr

[2022-09-12 20:51] phillyphil91 commented on #3450
I am trying to find out how `TcpSendWorker` is used, so here are some questions and (probably wrong) assumptions around the general flow of things in ockam_transport_tcp:

The entry point is the `TcpTransport` struct which calls `TcpRouter::register` which creates a new `TcpRouter` which itself in its function definition creates a `TcpRouteHandle` and then that gets assigned to route_handle attrib

[2022-09-12 21:33] epage commented on #3434
In clap v4 (working on wrapping up the final documentation for it), we've updated the help output in hopes to reduce confusion on this.  See https://github.com/clap-rs/clap/pull/4159

[2022-09-13 12:41] metaclips commented on #3462
Taking this up as it's release related

[2022-09-13 18:49] #3180 closed, assigned to nobody

[2022-09-14 06:33] mrinalwadhwa commented on #3434
@epage Thank you for that context. clap v4 sounds exciting, looking forward to upgrading to it!

[2022-09-14 18:56] mrinalwadhwa commented on #3452
Breaking change https://github.com/ossf/scorecard-action#breaking-changes-in-v2

[2022-09-14 18:57] mrinalwadhwa commented on #3452
@VectorStrike fixed it in 🥳
https://github.com/build-trust/ockam/pull/3458
https://github.com/build-trust/ockam/pull/3459

[2022-09-14 18:57] #3452 closed, assigned to nobody

[2022-09-14 19:56] mrinalwadhwa opened #3476 "Break down ockam command bats tests"
# Current

Currently we have some Ockam command [bats](https://bats-core.readthedocs.io/en/stable/index.html) tests here

https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/tests/commands.bats

These tests are run in CI here
https://github.com/build-trust/ockam/blob/develop/.github/workflows/ockam_command.yml#L45-L77

# Desired

We want to break these down i

[2022-09-15 14:01] phillyphil91 commented on #3434
So create different help messages according to if `-h` or `--help` was used?

And the `-h` one would only show the most important help info for the command and maybe refer to `--help` for a more detailed one. Or what were you thinking? @mrinalwadhwa

[2022-09-15 15:30] mrinalwadhwa commented on #3434
@phillyphil91 that's exactly what I was thinking. We maybe able to control it with a help_template or long_help related options in clap.

[2022-09-15 15:35] epage commented on #3434
If you want, with `arg.help` and `arg.long_help`, you can get the clap v4 behavior today.

If you aren't defining your own help, it can most likely work by doing something like `cmd.mut_arg("help", |arg| arg.help("...").long_help("..."))`

[2022-09-16 06:08] cailloumajor commented on #3434
Hello, maybe it can help, the great https://github.com/sharkdp/bat tool automatically (I guess it is configurable) uses pager if output is too long.

[2022-09-16 06:40] mrinalwadhwa commented on #3434
@cailloumajor 👋 If you have thoughts / ideas on how this could work until clap has it baked in. We'd love to learn more / explore them with you.

[2022-09-16 08:46] jdrachal commented on #3454
I'm new here. Let me look at it :)

[2022-09-16 12:19] epage commented on #3434
Some pre-built pager options
- `bat` though I'm unsure if there how heavy weight it is just for a help pager
- `minus` is focused on being a pager library and has feature flags to trim things down
- `pager` works by forking your process so any output is automatically sent to an external pager.  You need to make sure you do any terminal capability detection before the fork occurs
  - If colored hel

[2022-09-16 13:37] SanjoDeundiak opened #3480 "Disable Ockam Heartbeats for Tcp on server side"
While we don't support TCP-level keep-alive #3450, we occassionally send empty Ockam packets in tcp workers to:
1. Keep connection alive
2. Find out early if connection was closed
We call that Heartbeat. Thos packets are sent [here](https://github.com/build-trust/ockam/blob/8da9b54a9bab4aa4fddd7a83823b7baa5d6d477c/implementations/rust/ockam/ockam_transport_tcp/src/workers/sender.rs#L224) and they'

[2022-09-16 17:23] mrinalwadhwa commented on #3454
Added by @michealkeines in https://github.com/build-trust/ockam/pull/3455 🥳

[2022-09-16 17:23] #3454 closed, assigned to nobody

[2022-09-16 17:25] mrinalwadhwa commented on #3454
@jdrachal if you're looking for a similar issue to contribute, have a look at https://github.com/build-trust/ockam/issues/3460 .. let me know if you have questions.

[2022-09-16 18:33] phillyphil91 commented on #3434
but `help` and `long_help` only exists for arguments right? not for commands or subcommands. I can't set those for running subcommands like `ockam secure-channel --help` for example?

or would that be achievable via
`cmd.mut_arg("help", |arg| arg.help("...").long_help("..."))`?

[2022-09-16 18:51] epage commented on #3434
If you want the clap v4 behavior where the description for `-h, --help` adapts a hint per shot or long help, yes, you could call `mut_arg` on each `Command` to set that up.

ripgrep and bat take a different approach where they put it in either the command's` about` and `long_about` or in `after_help` and `after_long_help`.

[2022-09-17 03:53] mrinalwadhwa opened #3487 "Write a `curl | sh` script to install precompiled ockam binaries"
We release precompiled binaries in every release. We want to have a curl | sh script to make it easy for people to install these binaries.

https://github.com/build-trust/ockam/releases/tag/ockam_v0.75.0

[2022-09-17 06:21] michealkeines commented on #3480
Hi @SanjoDeundiak, can i work on this issue?

[2022-09-17 08:12] danieled-it commented on #3487
Hey @mrinalwadhwa , I'd like to work on this, can I get this issue assigned?

[2022-09-17 08:29] metaclips commented on #3487
Done! Thanks 🚀

[2022-09-17 08:53] danieled-it commented on #3487
Forgot to ask before: got any preferences on where the new script should be located and what its name should be?

[2022-09-17 09:37] sanjayts commented on #3391
@mrinalwadhwa Wondering if you had a chance to look at the PR and if the approach seems reasonable?

[2022-09-17 09:57] metaclips commented on #3487
We can have the script [here](https://github.com/build-trust/ockam/tree/develop/tools/scripts). I think `release-installer.sh` sounds cool 😎but it’s left to you if you have a better name 😎.

[2022-09-17 09:58] phillyphil91 commented on #3434
Sorry for being so persistent about this. But here is what I tried doing  from my understanding (see `mut_arg`:
![image](https://user-images.githubusercontent.com/57916112/190849700-62f0fb4b-437b-4021-ba84-b36d75e3aaca.png)
But this "only" changes the description of the -h and --help flag:
![image](https://user-images.githubusercontent.com/57916112/190850812-31dfde48-b56f-44fc-ad59-7ef8cc669788.pn

[2022-09-17 13:32] danieled-it commented on #3487
Probably a very dumb question, but what implementation scope would you guys like to see in the commit message for this? 😃
I got a first "working" copy on my machine but I don't want to get it wrong at commit time 😄

[2022-09-17 14:24] metaclips commented on #3487
😄 we can scope it under ci. `ci: add ockam release installer script` will be pretty neat 🥶

[2022-09-17 15:22] rtsuk commented on #3461
I made a start at this in https://github.com/rtsuk/ockam/tree/default_identity. I think it is correct for the command's full option, but I'm not sure how to covert the identity in the config file into a identity ID.

[2022-09-17 15:55] mrinalwadhwa commented on #3480
@michealkeines of course, all yours.

[2022-09-17 15:56] mrinalwadhwa commented on #3462
https://github.com/build-trust/ockam/pull/3464

[2022-09-17 15:56] #3462 closed, assigned to metaclips

[2022-09-17 16:24] mrinalwadhwa opened #3489 "Add a github workflow to run shellcheck on shellscripts"
Add shellcheck to the builder image https://github.com/build-trust/ockam/blob/develop/tools/docker/builder/Dockerfile

Add a new workflow here https://github.com/build-trust/ockam/tree/develop/.github/workflows
that will run whenever any shellscript in the repo is added or changed

[2022-09-17 16:25] mrinalwadhwa commented on #3489
Shellcheck also ships with an official container, if that is well maintained then we can just use that container instead of the ockam-builder image
https://github.com/koalaman/shellcheck

[2022-09-17 16:40] mrinalwadhwa commented on #3391
@sanjayts Sorry about the slow feedback on this. everyone on the team was working towards a release this week. I'll have a look today and leave some comments

[2022-09-17 17:23] michealkeines commented on #3480
I checked the `TcpSendWorker` struct

I have tried your solution, we can add `is_initiator` and call `schedule_heartbeat()` based on this value

[code]

TCP send worker pair could be created using `TcpSendWorker::new_pair`, we can update these two calls

[code]

Please correct me, if i have missed something. @mrinalwadhwa @SanjoDeundiak

[2022-09-17 20:13] mrinalwadhwa commented on #3461
@rtsuk thank you for spending time on this!
Would you mind turning your branch into a draft pull request?
I'll try to help with comments there.

Roughly, something like this should work:

[code]

https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_identity/src/public_identity.rs

[2022-09-17 20:50] rtsuk commented on #3461
Will do. The pull request template had a lot of text and the coffee hadn't quite kicked in enough for me to parse it all. 😀

[2022-09-17 23:11] mohitsaxenaknoldus commented on #3489
Hey, can I work on this?

[2022-09-17 23:44] mrinalwadhwa commented on #3489
@mohitsaxenaknoldus of course, all yours. Let me know if you have any questions

[2022-09-17 23:51] epage commented on #3434
I think what you are wanting to set is `after_long_help`.  That will allow you to add text after the auto-generated help content but only for `--help` / `help` subcommand.

[2022-09-18 17:39] mrinalwadhwa commented on #3487
Added in https://github.com/build-trust/ockam/pull/3488
Thank you @danieled-it 🥳 🎈

[2022-09-18 17:39] #3487 closed, assigned to danieled-it

[2022-09-18 18:14] mrinalwadhwa opened #3493 "Statically linked ockam command binaries"
Ockam Command binaries that we produce in this [workflow](https://github.com/build-trust/ockam/blob/develop/.github/workflows/release-binaries.yml#L184-L264), don't currently work in a scratch docker container or alpine containers since they dynamically link to some C dependencies.

The musl rustc targets statically link by default. Maybe we should default to musl
https://doc.rust-lang.org/referen

[2022-09-18 18:16] mrinalwadhwa commented on #3493
Static linking with glibc
https://msfjarvis.dev/posts/building-static-rust-binaries-for-linux/
https://github.com/rust-lang/rust/issues/65447

[2022-09-19 07:19] thaodt commented on #3460
hi, I didn't find the "state" directory or did you mean just write it somewhere in the fs?
Another question, its clear that enroll command initializes a default identity with Ockam Orchestrator. Which result should be displayed in this case? **Yes** in case the enrollment is already registered successfully and **No** in case it failed or it still didn't register yet or the enroll process is happen

[2022-09-19 08:25] thaodt commented on #3476
Hi, is there anyone working on this? Otherwise, I will give it a try.

[2022-09-19 08:28] SanjoDeundiak commented on #3480
@michealkeines sounds great!

[2022-09-19 08:29] SanjoDeundiak commented on #3480
@michealkeines hold on, we may have race condition with #3492

[2022-09-19 09:19] jdrachal commented on #3460
@thaodt are you assigned to it already? If not I'd like to take this one.

[2022-09-19 09:35] thaodt commented on #3460
No, just asked. Okay its yours 😁

[2022-09-19 10:59] mrinalwadhwa commented on #3476
No, all yours. Let us know if you have any questions

[2022-09-19 13:16] thaodt commented on #3476
I think I got it. But lemme clarify my understanding before implementation. :smile:
Basically we want to separate tests in [1 bats file](https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/tests/commands.bats) into smaller bats files and can reuse some of them to run as a group test. Am i right?

Also, I noticed both `setup()` and `teardown()` fn called `$OCK

[2022-09-19 15:24] mrinalwadhwa commented on #3493
@adrianbenavides & @polvorin reported that the v0.75.0 dynamically linked binaries don't work on x86_64 Ubuntu 22.04.1 LTS

[2022-09-19 15:34] mrinalwadhwa commented on #3493
From [this post](https://msfjarvis.dev/posts/building-static-rust-binaries-for-linux/#other-potential-problems), the following crates with the `-sys` suffix mandate dynamic linking.

[code]

[2022-09-19 16:28] hargut commented on #3493
I've had a look into that issue, and it seems that static linking using glibc is not really working out due to:
[code]
Which is not easy to resolve as glibc FAQ documents that the option available (--enable-static-nss) would require rebuilding glibc and is not recommended:
https://sourceware.org/glibc/wiki/FAQ#Even_statically_linked_programs_need_some_shared_libraries_which_is_not_acceptable_for_m

[2022-09-19 16:50] hargut commented on #3493
The glibc appearance in the library list is due to the fact that glibc6 is set as default on the system and located at the standard location.

[2022-09-19 17:21] mrinalwadhwa commented on #3493
@hargut thank you for exploring this. I think being statically linked using musl is the right first step for us.

[2022-09-19 17:58] mrinalwadhwa commented on #3493
I suspect the `libssl` and `libcrypto` may have come because of [reqwest](https://github.com/seanmonstar/reqwest) here:

https://github.com/build-trust/ockam/blob/92943069471cd6eface5bf0e64be5531394ded09/implementations/rust/ockam/ockam_command/Cargo.toml#L65

We should try rustls
https://docs.rs/reqwest/latest/reqwest/#optional-features

[2022-09-19 18:21] hargut commented on #3493
As per the tree it was `ockam_command` that pulled through `reqwest` the openssl part. Would need to either add the vendored feature for openssl to compile properly or as suggested use "rustls-tls" instead of "default-tls".

With "rustls-tls" compillation works on ubuntu-18-04.

[code]

[2022-09-19 18:49] mrinalwadhwa commented on #3493
@hargut nice, would you mind creating a PR with the `rustls-tls` change, that will run our tests and tell us if something else breaks with that change.

[2022-09-19 19:00] hargut commented on #3493
Dropping the openssl dependency also leads to a successful build with glibc:

[code]

Musl is not available as Mac target (aarch64-apple-darwin & x86_64-apple-darwin).

// edit: Will create the PR at later stage. The requirement list is long and I've not setup gpg signing at the moment.

[2022-09-19 19:22] mrinalwadhwa commented on #3493
Nice, static linking with glibc triggers license requirements that I want to research a bit. Let's start with static linking only for the linux targets with musl.

No need to setup GPG signing. If you do the CLA acceptance in github web UI, it will mark the CLA commit as verified. After that, I can amend any commit messages to comply with our linters..
https://github.com/build-trust/ockam-contribu

[2022-09-20 21:46] #3493 closed, assigned to nobody

[2022-09-21 06:03] mrinalwadhwa commented on #3476
yes exactly.

yes, currently we don't always run the tests in a new environment so it does help.

[2022-09-21 06:04] mrinalwadhwa commented on #3460
@jdrachal thank you for picking this up, let us know if if you have any questions.

[2022-09-21 18:43] mrinalwadhwa opened #3506 "Investigate switch to clap v4.0"
Clap now has a new release candidate

https://github.com/clap-rs/clap/blob/master/CHANGELOG.md#migrating
https://epage.github.io/blog/2022/09/clap4/

---

_We love helping new contributors!_
_If you have questions or need help as you work on your first Ockam contribution, please leave a comment on [this discussion](https://github.com/ockam-network/ockam/discussions/1081)._
_If you're looking for o

[2022-09-21 18:56] mrinalwadhwa opened #3507 "UDP NAT Puncturing"
# Background

https://www.youtube.com/watch?v=01ajHxPLxAw
https://en.wikipedia.org/wiki/UDP_hole_punching

A naive implementation of UDP NAT puncturing looks like this

[code]

Wikipedia has a good description of this flow:

[code]

Let's start with a prototype of this basic protocol.

# Integrating with Ockam

This basic prototype will help us explore how this should integrate with Ockam.

The UX

[2022-09-21 23:26] #3391 closed, assigned to nobody

[2022-09-22 02:28] Abhicodes-crypto commented on #3393
@mohitsaxenaknoldus Are you still working on this ? If not, I would like to take this up :)

[2022-09-22 04:25] mrinalwadhwa commented on #3506
https://github.com/build-trust/ockam/issues/3434 has some good discussion on why we need it.

[2022-09-22 09:02] mohitsaxenaknoldus commented on #3393
Go for it!

[2022-09-22 17:10] hargut commented on #3506
Hi all,

I've started to look a bit into the first steps of the upgrade, and linked a wip PR to the ticket. In case anyone wants to continue from here the first steps available.

Best regards,
Harald

[2022-09-23 02:29] Retamogordo commented on #3507
It would nice to explore this issue.
I think there are a couple of corner cases as for this kind of protocol implementation.
And I would to ask, for example:
Do you think that the destination peer must be aware that it is reached by relayed tunneling ?
And does it mean that any ockam peer implements the rendevouz relay or it must be a mesh of dedicated peers ?
And just out of curiosity: how ockam

[2022-09-23 07:51] mrinalwadhwa commented on #3507
Thank you for spending time on this!

Can't think of any reason why it must

For our use cases, we're okay with central well known nodes offering relay, forwarding, rendezvous like services - as long as the data integrity and confidentiality guarantees are end-to-end.

While there seem to be some similarities in the lowest level protocols. The use cases we're building for are vastly different.

[2022-09-23 13:04] Abhicodes-crypto commented on #3393
Okay. I'm taking this up.

[2022-09-24 15:34] karl-cardenas-coding opened #3521 "clang not found"
When attempting to go through the hello work example on my Mac (M1 Monterey 12.6) I keep getting the same error of `clang not found`. Regardless of the number of times I try to install clang through the automated prompt, the software is not found.

Below is a snipped out of the error output:

[code]

This error occurs when the `cargo build` command is invoked.

## Solution

I am sharing the soluti

[2022-09-24 21:41] mrinalwadhwa commented on #3521
@karl-cardenas-coding thank you for creating the issue, if someone else faces the same problem, this'll be helpful.

[2022-09-24 22:11] karl-cardenas-coding commented on #3521
@mrinalwadhwa happy to help. I have some ideas on how we can get around this issue all together with containers.

A really quick and easy way is to have people use the latest Rust container and do all exercises inside the container. That's what I did and it worked great.

Long-term, using a platform like Instruqt would probably be the best user experience. That way the user don't have to install a

[2022-09-24 22:42] mrinalwadhwa commented on #3521
Good ideas, there is container image currently that has all our build tools.

Give it a try:
[code]

[2022-09-24 23:06] karl-cardenas-coding commented on #3521
Oooo that's even better. Adding some introductory text to each lesson wouldn't be to bad of a task. @mrinalwadhwa would you be okay if I opened a PR that provided instructions on how to use the docker image for each lesson?

[2022-09-25 02:11] mrinalwadhwa commented on #3521
@karl-cardenas-coding not at all, we would love to get a PR.

[2022-09-26 10:29] SanjoDeundiak opened #3524 "Improve NodeManager resource management"
Currently [NodeManager](https://github.com/build-trust/ockam/blob/120869c0efe687aff97011a11d19d6f4afa57992/implementations/rust/ockam/ockam_api/src/nodes/service.rs#L86) plays 2 roles:
1. Being a worker that responds to requests
2. Owning node's main resources

That creates some complications, (e.g. mentioned in [this thread](https://github.com/build-trust/ockam/pull/3497#discussion_r977747449)).

[2022-09-26 13:08] SanjoDeundiak opened #3527 "Refactor `NodeManager` constructor"
Currently `NodeManager::create` function takes 10 arguments. It's time to move those arguments into into one or few structures

https://github.com/build-trust/ockam/blob/92943069471cd6eface5bf0e64be5531394ded09/implementations/rust/ockam/ockam_api/src/nodes/service.rs#L136-L151

---

_We love helping new contributors!_
_If you have questions or need help as you work on your first Ockam contributio

[2022-09-27 09:24] hargut commented on #3506
@mrinalwadhwa
Is there anything else within this ticket that should be investigated or can it be closed?

Best regards,
Harald

[2022-09-27 13:18] SanjoDeundiak opened #3531 "Improve `CowStr` Display"
Currently, we have some user-facing output that includes [CowStr](https://github.com/build-trust/ockam/blob/e4bea07f319dddbb0dbbcbaeee015f5eaceb0031/implementations/rust/ockam/ockam_core/src/cbor_utils/cow_str.rs), for example output of `ockam enroll` command looks something like this:

![Screenshot 2022-09-27 at 16 16 37](https://user-images.githubusercontent.com/6513916/192536866-e022ee2f-ca2f-4

[2022-09-27 13:57] twittner commented on #3531
I would add that the `Some` bit should also not show up here. If the authority access route is missing, [N/A](https://en.wikipedia.org/wiki/N/A) would be a suitable value.

[2022-09-27 13:59] twittner commented on #3531
To clarify I do not think that the `Debug` impl of `CowStr` should change as it should not be used at all for this purpose. Instead `fmt::Display` should be used.

[2022-09-27 15:57] SanjoDeundiak commented on #3480
@michealkeines I think this issue is superseded by #3492

[2022-09-27 15:57] #3480 closed, assigned to nobody

[2022-09-27 15:59] mrinalwadhwa commented on #3480
@michealkeines Thank you for spending time on this!

[2022-09-27 16:38] neil2468 commented on #3234
The abandoned PR #3456 determined that..
* The node does not restart its 'default services' because `--skip-defaults` is used when re-starting a node, and that this is the desired behaviour.
* To re-start 'default services' the node should record in a config file when it starts services, and then when a node starts it should read that config to re-start its services.
* The CLI (`ockam_command`) ha

[2022-09-27 17:15] mrinalwadhwa commented on #3234
@neil2468 of course, all yours.

[2022-09-28 12:28] metaclips opened #3535 "Reduce script command when downloading latest release"
To get latest release we currently retrieve all ockam releases and then grep JSON values.
https://github.com/build-trust/ockam/blob/4725c3efe5066dc1203b712982b34a3b5eb90320/install.sh#L150-L153
We can reduce this to a one-liner link that downloads latest release of an asset
[code]
The above link downloads the latest binary of `ockam.aarch64-apple-darwin` without specifying the tag.

[2022-09-28 12:30] metaclips commented on #3535
Want to take this up @danieled-it? 😃

[2022-09-28 16:20] neil2468 commented on #3234
@adrianbenavides commented (https://github.com/build-trust/ockam/pull/3533#issuecomment-1260682593)...

The #3519 feature could work to fix this issue. 👍

However its adoption would mean.. 🤔
* It would be `ockam_command` and not `ockam_api` that keeps track of what has been started within a node.
* Adding `ockam service start` commands for the node's "default" services (e.g. uppercase & echoer).
*

[2022-09-28 16:37] mrinalwadhwa commented on #3507
The UX of using UDP puncturing would be similar to using Forwarders today. We likely would also failover from NAT puncturing to forwarders if NAT puncturing doesn't succeed in establishing communication.

[code]

[2022-09-28 16:40] mrinalwadhwa commented on #3507
The rust library experience, I suspect, would be somewhat similar to example 4 in this guide
https://github.com/build-trust/ockam/tree/develop/documentation/use-cases/end-to-end-encrypt-all-application-layer-communication#04-end-to-end-encryption-over-two-tcp-connection-hops

[2022-09-28 17:21] mrinalwadhwa commented on #3234
@neil2468 Thank you for continuing to look into this.
I will try to write a longer thread on this soon, but in the meantime a quick point ... we don't want users to have to start all services. So there should be default list of services that are started when a node starts. Configuration should allow overriding this default list.

[2022-09-29 04:40] akki1306 commented on #3531
Hi, would like to work on this. Could you assign it to me? line no. 105 to 107 in output.rs needs to be updated as below. Please provide your input.

` write!(
            w,
            "\n  Authority access route: {}",
            self.authority_access_route.as_deref().unwrap_or_else("N/A")
        )?;`

[2022-09-29 08:20] michealkeines commented on #3524
Hi @mrinalwadhwa can i work this?

[2022-09-29 09:03] adrianbenavides opened #3539 "The `project delete` command should work with projects that failed to start"
When a user wants to delete a project from the CLI they have to pass the project name. The CLI will try to resolve the project's access route to communicate with the orchestrator. To do that translation we just need the `id` field. This information will be retrieved from the `lookup` table from the config file. If it's not found the command will try to fetch the project from the orchestrator.

Cur

[2022-09-29 13:18] polvorin commented on #3238
done

[2022-09-29 13:18] #3238 closed, assigned to nobody

[2022-09-29 13:35] polvorin opened #3540 "Validate project and space names"
# Current

[Project](https://github.com/build-trust/ockam/blob/39195e8039d61422286fff7002deac2750918a48/implementations/rust/ockam/ockam_command/src/project/create.rs#L23) and [space](https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/space/create.rs#L18) creation commands currently accept any string as a valid project|space names. But in reality *not* a

[2022-09-29 14:57] SanjoDeundiak commented on #3524
@michealkeines sure

[2022-09-29 16:24] mrinalwadhwa commented on #3524
@michealkeines of course, all yours

[2022-09-29 16:27] mrinalwadhwa commented on #3531
@akki1306 great all yours

[2022-09-29 17:18] michealkeines commented on #3524
Hi @SanjoDeundiak , I read the comments you mentioned.

from my understanding, i can rename the `NodeManager` to `NodeManagerWorker`, this `NodeManagerWorker` will impl `ockam::worker` which in turn will handle the requests

[code]

[code]

regarding the second one,

`Move all state to a separate structure (name NodeManager is still good here)`

if i move some state values into `NodeManager`, then

[2022-09-29 20:06] sanjayts commented on #3539
I'd be interested in picking this up.

[2022-09-29 23:59] mrinalwadhwa commented on #3539
@sanjayts awesome. all yours

[2022-09-30 06:46] yashwanthsinghm opened #3544 "File transfer between sender to multiple receiver nodes."
Hi we are trying to securely  transfer file between multiple nodes. We tried Ockam file transfer example  and tested few scenario and we have encountered some issues, we need some clarity on that.

1. When we transfer a file between 2 nodes we have noticed that data is flowing via Ockam pubic nodes (1.node.ockam.network). So wont that be any traffic of data at the public node when multiple nodes a

[2022-09-30 07:05] mrinalwadhwa commented on #3544
@yashwanthsinghm @sarath3192 @imrank03 👋 I assume from your questions in the last couple of days that maybe all of you are on the same team. Are you?

Sorry about the slow response. I am out of office this week and next.

1. The public nodes are setup for demo purposes. To get scalable nodes, you need a project in Ockam Orchestrator account.
2. If two IPs are public on the Internet. Then they can

[2022-09-30 07:14] mrinalwadhwa commented on #3544
@yashwanthsinghm @sarath3192 @imrank03 👋 I assume from your questions in the last couple of days that maybe all of you are on the same team. Are you?

1. The public nodes are setup for demo purposes. To get scalable nodes, you need a project in Ockam Orchestrator.

2. If two IPs are public on the Internet. Then they can exchange data without Orchestrator Relays. However this is rarely the case, us

[2022-09-30 07:26] yashwanthsinghm commented on #3544
Hi @mrinalwadhwa,
Thank you for the response.
Yes we are from same team , we work on rustBoot project from Bosch.

We are building secure firmware update, so we looked into that file transfer example. But in our case we will have multiple nodes and we don't want data to flow via Orchestrator which sitting in middle, do you have any suggestions for this?

[2022-09-30 10:43] SanjoDeundiak commented on #3524
@michealkeines Yes, perfect!

[2022-09-30 16:18] windlessStorm commented on #3540
Hi, I would like to take pick this up.

[2022-09-30 16:21] mrinalwadhwa commented on #3540
@windlessStorm awesome. All yours

[2022-10-01 04:48] SarvarVanoo commented on #3189
Hey @hairyhum, this issue looks interesting and I have some experience in Elixir, can i pick this issue and start working it ?

[2022-10-01 05:54] mrinalwadhwa commented on #3189
@SarvarVanoo of course, all yours.

[2022-10-01 06:02] mrinalwadhwa commented on #3506
clap v4 was released a couple of days ago https://github.com/clap-rs/clap/releases
@hargut thanks to your fantastic PR last week, I think the final switch from the release candidate to the released version should be pretty simple.

[2022-10-01 06:08] mrinalwadhwa commented on #3531
addressed in https://github.com/build-trust/ockam/pull/3543 by @akki1306 🥳

[2022-10-01 06:08] #3531 closed, assigned to akki1306

[2022-10-01 08:13] SarvarVanoo commented on #3189
Thankyou @mrinalwadhwa for letting me contribute.

[2022-10-01 12:42] michealkeines commented on #3524
@SanjoDeundiak the [PR](https://github.com/build-trust/ockam/pull/3548) is a sample, i had a hard time understanding which fields to move from old `NodeManager` into `NodeManagerWorker`, please check it out and let me know what else should be added.

Thankyou

[2022-10-02 05:33] vncsalencar commented on #3527
Hi, @SanjoDeundiak. Do you think this is a `good-first-issue` candidate? I'd like to give this a go if so.

[2022-10-02 18:42] mrinalwadhwa commented on #3527
@vncsalencar I think so. Go ahead an give it a try, if you get stuck, please don't hesitate to ask questions, we're here to help.

[2022-10-03 11:36] sarath3192 commented on #3544
Hi @mrinalwadhwa,
Thank for your time and elaborate answers,
Can you clarify this a bit

1. We know that Orchestrator helps in establishing trust between the nodes. After that, does the data also flows though Orchestrator ? **OR** Is there separate channel for the data flow between the nodes ?

[2022-10-03 12:16] adrianbenavides opened #3552 "`node` subcommands that act on existing nodes should not hide the `node_name` default value"
## Current

`node` subcommands have `node_name` as the first argument. The commands that act on existing nodes should default to the "default" node and should not hide this value.

Currently, this is only done correctly in the `node show` command.

## Desired

The following commands should not have the `hide_default_value = true` attribute in the `node_name` argument (take the `node show` command

[2022-10-03 12:32] adrianbenavides commented on #3461
Hey @rtsuk, let me know if you need any help with this, looking forward to that PR! :rocket:

[2022-10-03 19:24] akki1306 commented on #3552
Hey, I am interested to work on this, could you assign me?

[2022-10-03 21:02] mrinalwadhwa commented on #3552
@akki1306 great, it's all yours. Thank you

[2022-10-04 02:35] mrinalwadhwa commented on #3544
@yashwanthsinghm @sarath3192 Sorry about the slow responses. I'm on vacation till the end of this week.

Data doesn't need to flow through Relays in Orchestrator.
There are multiple ways to set this up based on your needs:

1. Expose a TCP Listener to the the internet. See [this example](https://github.com/build-trust/ockam/tree/develop/documentation/guides/rust/get-started/04-transport#transport)

[2022-10-04 05:30] BeenzSyed opened #3553 "Code Coverage Tool Errors"
# Current
We use [grcov](https://github.com/mozilla/grcov) as the code coverage tool for the Rust libraries. How to run the tool is located in [DEVELOP.md](https://github.com/build-trust/ockam/blob/develop/implementations/rust/DEVELOP.md#code-coverage).

When running the second line: `env CARGO_INCREMENTAL=0 RUSTFLAGS="-Zprofile -Ccodegen-units=1 -Copt-level=0 -Clink-dead-code -Coverflow-checks=of

[2022-10-04 06:55] adrianbenavides opened #3554 "Refactor get_final_element so it parses a MultiAddr and returns Result"
Function: https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/util/mod.rs#L456

## Current

The `get_final_element` function parses a string that could be either a valid `node` type `MultiAddr` or just contain the name of a node (i.e. either `/node/<name>` or `<name>`).

This function must return the node name.

Currently this is naively implemented, spli

[2022-10-04 07:21] #2527 closed

[2022-10-04 07:22] #2228 closed

[2022-10-04 07:22] #2029 closed

[2022-10-04 07:31] adrianbenavides opened #3555 "Refactor `get_node_port` so it returns a Result"
Function: https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/util/config.rs#L118

## Current

The `get_node_port` is calling the `std::process::exit` function when there is an error.

## Desired

We want to refactor this method so it returns an `anyhow::Result` instead of using `std::process::exit`.

For now, it doesn't matter if the callers of `get_node

[2022-10-04 08:46] adrianbenavides commented on #3506
I've created a new issue to address the upgrade to v.4.0 https://github.com/build-trust/ockam/issues/3556

[2022-10-04 08:46] #3506 closed, assigned to nobody

[2022-10-04 08:46] adrianbenavides opened #3556 "Upgrade clap to v4.0"
## Current

We recently upgraded from v.3 to one of the latest v4's release candidates at https://github.com/build-trust/ockam/issues/3506

## Desired

The first stable v.4.0 has been released, so we want to upgrade the `clap` dependency and make the needed changes to adapt the code to it.

The version on `cargo.toml` should be `version = "4.0"`.

---

_We love helping new contributors!_
_If you h

[2022-10-04 08:47] hargut commented on #3556
@adrianbenavides
In case this is not urgent, I can have a look within the next days.

[2022-10-04 08:58] adrianbenavides opened #3557 "Refactor `configuration get` command to stop mapping errors manually"
Command: [`configuration get`](https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/configuration/get.rs)

## Current

The current implementation is calling `std::process::exit`, which is something we want to stop using to handle errors properly and give the user a better-formatted output when a command fails.

## Desired

- `run` method (main entry point

[2022-10-04 09:00] adrianbenavides opened #3558 "Refactor `configuration get-default-node` command to stop mapping errors manually"
Command: [`configuration get-default-node`](https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/configuration/get_default_node.rs)

## Current

The current implementation is calling `std::process::exit`, which is something we want to stop using to handle errors properly and give the user a better-formatted output when a command fails.

## Desired

- `run`

[2022-10-04 09:01] adrianbenavides opened #3559 "Refactor `configuration set` command to stop mapping errors manually"
Command: [`configuration set`](https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/configuration/set.rs)

## Current

The current implementation is calling `std::process::exit`, which is something we want to stop using to handle errors properly and give the user a better-formatted output when a command fails.

## Desired

- `run` method (main entry point

[2022-10-04 09:02] adrianbenavides opened #3560 "Refactor `configuration set-default-node` command to stop mapping errors manually"
Command: [`configuration set-default-node`](https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/configuration/set_default_node.rs)

## Current

The current implementation is calling `std::process::exit`, which is something we want to stop using to handle errors properly and give the user a better-formatted output when a command fails.

## Desired

- `run`

[2022-10-04 09:16] adrianbenavides commented on #3556
Sure, all yours @hargut, thanks!

[2022-10-04 09:27] adrianbenavides opened #3561 "Refactor `identity create` command to use `rpc` abstraction and to stop mapping errors manually"
Command: [`identity create`](https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/identity/create.rs)

## Current

The current implementation is calling `std::process::exit`, which is something we want to stop using to handle errors properly and give the user a better-formatted output when a command fails.

It's also using the `connect_to` function, which

[2022-10-04 09:30] adrianbenavides opened #3562 "Refactor `identity show` command to use `rpc` abstraction and to stop mapping errors manually"
Command: [`identity show`](https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/identity/show.rs)

## Current

The current implementation is calling `std::process::exit`, which is something we want to stop using to handle errors properly and give the user a better-formatted output when a command fails.

It's also using the `connect_to` function, which can

[2022-10-04 09:34] adrianbenavides opened #3563 "Refactor `secure-channel listener create` command to use `rpc` abstraction and to stop mapping errors manually"
Command: [`secure-channel listener create`](https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/secure_channel/listener/create.rs)

## Current

The current implementation is calling `std::process::exit`, which is something we want to stop using to handle errors properly and give the user a better-formatted output when a command fails.

It's also using the

[2022-10-04 09:42] adrianbenavides opened #3564 "Refactor `vault create` command to use `rpc` abstraction and to stop mapping errors manually"
Command: [`vault create`](https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/vault/create.rs)

## Current

The current implementation is calling `std::process::exit`, which is something we want to stop using to handle errors properly and give the user a better-formatted output when a command fails.

It's also using the `connect_to` function, which can be

[2022-10-04 09:50] adrianbenavides commented on #3241
@RajivTS I've created separated issues with reduced scope for the `identity` commands, in case you want to check them out:
- https://github.com/build-trust/ockam/issues/3562
- https://github.com/build-trust/ockam/issues/3561

I'm closing this issue for now.

[2022-10-04 09:50] #3241 closed, assigned to nobody

[2022-10-04 10:55] neil2468 opened #3566 "Update `ockam service start` clap command to have consistent UX when providing address"
`ockam service start` has different UX for different services.

## For example...
* `vault`, `identity`, and `authenticated`, take the address as an argument...

[code]

* `verifier`, `credentials`, and `authenticator` take the address as an option...

[code]

[2022-10-04 11:31] #2529 closed

[2022-10-04 11:43] metaclips opened #3567 "Remove git-cliff config file from root directory"
We currently have git-cliff configuration in this [toml file](https://github.com/build-trust/ockam/blob/develop/cliff.toml) in the `root path`, we should move the config file to `./tools/cliff` and set the [changelog generation script](https://github.com/build-trust/ockam/blob/127df6de454784813cb69c785faf2e627afa41c5/tools/scripts/release/changelog.sh#L14) to use the `updated` config path ( passin

[2022-10-04 12:03] goverdhan07 commented on #3567
Heya! working on this issue, pls assign it to me, Thanks

[2022-10-04 12:49] AntoniosBarotsis commented on #3560
Hello! I'd like to work on this!

I'm relatively new to Rust and a bit confused with the issue. If you want `run` to return `()` then how are you going to bubble the error up?

Haven't opened a PR yet because I'm unsure how to continue but my code so far looks like this

[code]

The unwrapping example you link still ends up using `std::process::exit`.

Thanks in advance!

[2022-10-04 12:53] metaclips commented on #3567
All yours 🚀

[2022-10-04 13:17] metaclips opened #3569 "Remove cargo-deny config from root directory"
Move cargo-deny [config file](https://github.com/build-trust/ockam/blob/develop/deny.toml) from `root` path to `./tools/cargo-deny`. Doing this will also require indicating updated path in [build.gradle command line](https://github.com/build-trust/ockam/blob/127df6de454784813cb69c785faf2e627afa41c5/implementations/rust/build.gradle#L63)
[code]

[2022-10-04 14:01] adrianbenavides commented on #3560
Hey @AntoniosBarotsis, thanks for the comment! Let me clarify.

We have two kinds of commands:
1. Commands that need an async runtime and an `ockam::Context`. This is where no `std::process::exit` should be used explicitly, as it's handled internally by the `rpc` abstraction (like in the [subscription command](https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_comma

[2022-10-04 14:27] metaclips opened #3572 "Lint crago.lock file when updated"
When a PR updates `Cargo.lock` file, we should ensure that the lock file was generated by `cargo command` and not tampered with. This could entail a CI that
- Gets the current SHA of `Cargo.lock` generated by PR/user.
- Deleting the current `Cargo.lock`
- Generating a new `Cargo.lock`, possibly calling `cargo check` command.
- Getting the SHA of the new lock file
- Ensure the SHA generated by `use

[2022-10-04 14:36] AntoniosBarotsis commented on #3560
Makes sense now, thanks! Opened a PR.

[2022-10-04 14:38] twittner opened #3575 "Split schema.cddl"
[`schema.cddl`](https://github.com/build-trust/ockam/blob/127df6de454784813cb69c785faf2e627afa41c5/implementations/rust/ockam/ockam_core/src/schema.cddl) contains schema definitions for various API types. It was originally located in `ockam_api` but as use of API types spread it was moved to `ockam_core` along with supporting infrastructure (e.g. [to assert some CBOR value matches a certain rule](

[2022-10-04 15:50] metaclips opened #3576 "Test ockam command release across various architectures in CI"
On new Github release, we should test our ockam binary across various OSs in CI.
- macos
- ubuntu-latest
- ubuntu-18.04
- ubuntu-20.04

[2022-10-04 16:36] #3569 closed, assigned to nobody

[2022-10-04 20:45] hairyhum opened #3578 "Rust. ABAC Policy and Request format revision."
Current implementation of ABAC policies does not support rules for Resource and Action attributes.
https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_abac/src/policy.rs
Also it's using entire Resource or Action data structure to retrieve policies.
https://github.com/build-trust/ockam/blob/5af0e43e7156bcd97050baae6b60c3d48df42fdf/implementations/rust/ockam/ockam_abac

[2022-10-04 20:46] hairyhum commented on #3578
@twittner feel free to rephrase the issue and add more details.

[2022-10-04 21:05] hairyhum opened #3579 "ABAC policies API"
## Background

In order to share ABAC policies between Rust and Elixir nodes, there should be an Ockam API endpoint accepting and returning policies. The goal of this is to have a central sharing point for the policies.

### Ockam API

**Proposed API is to be discussed and can be modified**

Policy service address: "abac_policies_api"

Requests:

- get "" - list all policies
- get ":resource/:acti

[2022-10-04 21:10] hairyhum opened #3581 "Ockam CLI command to integrate with ABAC Policies API"
ABAC Policies API https://github.com/build-trust/ockam/issues/3579 should provide a way to create and delete policies.

In order to call this API, Ockam CLI can use the following commands:

To call the API on the project:

[code]

[2022-10-04 21:13] hairyhum opened #3582 "Elixir: persistent storage for ABAC Policies"
Current prototype of `ABAC.PolicyStorage` is using ETS tables and will not survive a restart: https://github.com/build-trust/ockam/pull/3580

There needs to be an integration with some persistent storage (DETS or DB) to store policies.

[2022-10-05 03:50] elliotwutingfeng commented on #3572
Can I try this?

[2022-10-05 03:52] mrinalwadhwa commented on #3572
@elliotwutingfeng that would be great! let us know if you have questions along the way.

[2022-10-05 03:53] mrinalwadhwa commented on #3556
Closed in https://github.com/build-trust/ockam/pull/3573

[2022-10-05 03:53] #3556 closed, assigned to hargut

[2022-10-05 12:29] michealkeines commented on #3554
Hi @adrianbenavides i would like to work on this.

[2022-10-05 14:36] kriogenia commented on #3564
Hi, I would like to try to contribute with this one if it's ok

[2022-10-05 14:57] mrinalwadhwa commented on #3564
@kriogenia awesome, all yours. Let us know if you have any questions

[2022-10-05 16:24] adrianbenavides commented on #3554
All yours! Let me know if you have any question :+1:

[2022-10-05 16:38] #3567 closed, assigned to goverdhan07

[2022-10-05 17:10] metaclips opened #3587 "Install shell format binary to ockam-builder docker image"
Install [shfmt](https://github.com/mvdan/sh) to our [docker builder image](https://github.com/build-trust/ockam/blob/develop/tools/docker/builder/Dockerfile).

[2022-10-05 17:13] metaclips opened #3588 "Lint shell scripts with shfmt"
Lint all ockam shell script with [shfmt](https://github.com/mvdan/sh) in CI. Requires #3587

[2022-10-05 21:41] Overflow0xFFFF commented on #3587
I'll take this one on!

[2022-10-06 01:30] #3587 closed, assigned to nobody

[2022-10-06 04:01] michealkeines commented on #3524
Hi @SanjoDeundiak is there anything else needs to be added for this issue?

[2022-10-06 07:02] #3560 closed, assigned to AntoniosBarotsis

[2022-10-06 07:17] #3561 closed, assigned to nobody

[2022-10-06 07:52] #3564 closed, assigned to kriogenia

[2022-10-06 07:59] #3552 closed, assigned to nobody

[2022-10-06 08:00] #3555 closed, assigned to nobody

[2022-10-06 11:14] adrianbenavides opened #3593 "Refactor `tcp connection create` command to use `rpc` abstraction and to stop mapping errors manually"
Command: [`tcp connection create`](https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/tcp/connection/create.rs)

## Current

The current implementation is calling `std::process::exit`, which is something we want to stop using to handle errors properly and give the user a better-formatted output when a command fails.

It's also using the `connect_to` func

[2022-10-06 11:14] adrianbenavides opened #3594 "Refactor `tcp connection delete` command to use `rpc` abstraction and to stop mapping errors manually"
Command: [`tcp connection delete`](https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/tcp/connection/delete.rs)

## Current

The current implementation is calling `std::process::exit`, which is something we want to stop using to handle errors properly and give the user a better-formatted output when a command fails.

It's also using the `connect_to` func

[2022-10-06 11:15] adrianbenavides opened #3595 "Refactor `tcp connection list` command to use `rpc` abstraction and to stop mapping errors manually"
Command: [`tcp connection list`](https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/tcp/connection/list.rs)

## Current

The current implementation is calling `std::process::exit`, which is something we want to stop using to handle errors properly and give the user a better-formatted output when a command fails.

It's also using the `connect_to` function

[2022-10-06 11:16] adrianbenavides opened #3596 "Refactor `tcp inlet create` command to use `rpc` abstraction and to stop mapping errors manually"
Command: [`tcp inlet create`](https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/tcp/inlet/create.rs)

## Current

The current implementation is calling `std::process::exit`, which is something we want to stop using to handle errors properly and give the user a better-formatted output when a command fails.

It's also using the `connect_to` function, whic

[2022-10-06 11:16] adrianbenavides opened #3597 "Refactor `tcp listener create` command to use `rpc` abstraction and to stop mapping errors manually"
Command: [`tcp listener create`](https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/tcp/listener/create.rs)

## Current

The current implementation is calling `std::process::exit`, which is something we want to stop using to handle errors properly and give the user a better-formatted output when a command fails.

It's also using the `connect_to` function

[2022-10-06 11:17] adrianbenavides opened #3598 "Refactor `tcp listener delete` command to use `rpc` abstraction and to stop mapping errors manually"
Command: [`tcp listener delete`](https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/tcp/listener/delete.rs)

## Current

The current implementation is calling `std::process::exit`, which is something we want to stop using to handle errors properly and give the user a better-formatted output when a command fails.

It's also using the `connect_to` function

[2022-10-06 11:18] adrianbenavides opened #3599 "Refactor `tcp listener list` command to use `rpc` abstraction and to stop mapping errors manually"
Command: [`tcp listener list`](https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/tcp/listener/list.rs)

## Current

The current implementation is calling `std::process::exit`, which is something we want to stop using to handle errors properly and give the user a better-formatted output when a command fails.

It's also using the `connect_to` function, wh

[2022-10-06 11:18] adrianbenavides opened #3600 "Refactor `tcp outlet create` command to use `rpc` abstraction and to stop mapping errors manually"
Command: [`tcp outlet create`](https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/tcp/outlet/create.rs)

## Current

The current implementation is calling `std::process::exit`, which is something we want to stop using to handle errors properly and give the user a better-formatted output when a command fails.

It's also using the `connect_to` function, wh

[2022-10-06 11:20] adrianbenavides opened #3601 "Refactor `node show` command to use `rpc` abstraction and to stop mapping errors manually"
Command: [`node show`](https://github.com/build-trust/ockam/blob/develop/implementations/rust/ockam/ockam_command/src/node/show.rs)

## Current

The current implementation is calling `std::process::exit`, which is something we want to stop using to handle errors properly and give the user a better-formatted output when a command fails.

It's also using the `connect_to` function, which can be simpl

[2022-10-06 16:19] kriogenia commented on #3557
I have a bit of free time, enough to do this easy refactoring. I'll have the PR soon.

[2022-10-07 01:34] Overflow0xFFFF commented on #3553
I'll take this one! I've been poking around and think I may have found a fix.

[2022-10-07 03:31] #3553 closed, assigned to nobody

[2022-10-07 06:37] #3557 closed, assigned to nobody

[2022-10-07 06:55] #3558 closed, assigned to nobody

[2022-10-07 11:31] michealkeines commented on #3554
Hi @adrianbenavides I have added the changes in [PR](https://github.com/build-trust/ockam/pull/3608), Please review it and let me if there are any changes needed.

Thank you.

[2022-10-07 11:49] #3527 closed, assigned to nobody

[2022-10-07 12:39] SanjoDeundiak commented on #3524
No, I think we're fine. Thank you @michealkeines !

[2022-10-07 12:39] #3524 closed, assigned to michealkeines

[2022-10-07 15:06] hargut commented on #3231
Hi @adrianbenavides,

the ticket is not really clear how this should be handled. Just hiding the argument leads to issues, as the randomly generated nodenames are not available during start/stop. Config is missing or running node is missing when stopping/starting.

How should this be solved? Possible approaches could be:

Start:
- checking existing configuration and using the one existing node in

[2022-10-07 16:02] adrianbenavides opened #3609 "Command `message send` deletes node's config directory"
When executing the `message send` command, the `from` node's directory is deleted, no matter the command result.

### How to reproduce

[code]

Then, blue's directory is there, but green's is not.

[2022-10-07 16:08] Abhicodes-crypto commented on #3393
Hi @BeenzSyed , In the desired output code , you have Identity identifier, but you have mentioned

So do you want the Identity Identifier to be in the output or not ? (I have the changes ready will PR as soon as this is clarified)

Also, the solution that I have figured out is changing the output implementation of project. Please confirm if this is the right approach.

This is how the output looks

[2022-10-07 17:37] adrianbenavides commented on #3231
Let me give you more details. When you run `ockam node start --help` you will see the following:

[code]

Now, if you add the `hide_default_value = true` attribute in the `node_name` argument, you will hide the `[default: 2f4f983b]` part only, not the argument itself:

[code]

We want to hide that text because it's not really a default value, as it's different every time you run the command.

Let

[2022-10-07 20:20] Abhicodes-crypto commented on #3601
I would like to take this up.

[2022-10-07 20:21] Abhicodes-crypto commented on #3597
I would like to take this up

[2022-10-07 20:22] Abhicodes-crypto commented on #3593
I would like to take this up.

[2022-10-07 20:23] Abhicodes-crypto commented on #3594
I would like to take this up

[2022-10-07 20:23] Abhicodes-crypto commented on #3596
I would like to take this up.

[2022-10-07 23:18] mrinalwadhwa commented on #3596
Awesome, all yours

[2022-10-08 02:25] mrinalwadhwa opened #3617 "Github Action for Semgrep Rules"
Semgrep is static analysis tool to lint code for patterns we want to forbid in our code.
https://github.com/returntocorp/semgrep

It has an official docker container.
https://github.com/returntocorp/semgrep#getting-started

We want to create a Github Actions workflow that would evaluate a series of semgrep rules on every new pull request. The rules will live in `tools/semgrep/rules` directory.

Th

[2022-10-08 03:17] galbwe commented on #3617
Hi! Can I pick up this issue?

[2022-10-08 03:46] mrinalwadhwa opened #3619 "CI: Partition rust test jobs with nextest"
We run our tests using [nextest](https://nexte.st/)
https://github.com/build-trust/ockam/blob/develop/.github/workflows/rust.yml#L125
https://github.com/build-trust/ockam/blob/develop/.github/workflows/rust.yml#L215

These test take 7 to 10 minutes to run and this time keeps increasing as we add more tests.

nextest supports partitioning tests to run tests in parallel
https://nexte.st/book/partiti

[2022-10-08 04:26] mrinalwadhwa commented on #3617
@galbwe of course, all yours.
Let us know if you need help or have any questions.

[2022-10-08 04:49] galbwe commented on #3617
Sweet. Thanks! I do have some questions.

- Which files do you want semgrep to include? Are there any file patterns you want ignored in `.semgrepignore`?
- What kinds of rules do you want defined in `tools/semgrep/rules` to start?
- Do you want the workflow to run on all pull requests, or only for specific branches?

[2022-10-08 05:45] mrinalwadhwa commented on #3617
Great, answers below:

It can include everything for now.
If possible, we'll want to keep the `.semgrepignore` file in `tools/semgrep/.semgrepignore` instead of in the repo root. We're trying to limit the number of files in the repo root.

For now, let's start with some very basic hello world type rule. I'll think about rules we need over the next couple of days.

All pull requests. The following

[2022-10-08 09:16] hargut commented on #3231
@adrianbenavides
That part was clear, but it looks like the headline of the ticket got me to over-think the task.

The indication that "subcommands that create new nodes" brought me into the direction of assuming the argument should as well be optional, which raised the questions.

Sorry for complicating the request. The PR to just hide the value is linked.

[2022-10-08 13:02] hargut commented on #3434
The above PR implements the approach of using `after_long_help` which I do think is a good start to address this topic. Nevertheless it is another solution as the requested `$PAGER` usage.

Personally I'm not a fan of using pagers as default in help, as it typically requires to quit that pager. Most of the time when help is displayed options are either missing, typos or order issues occurred, ther

[2022-10-08 15:36] #3617 closed, assigned to nobody

[2022-10-08 15:45] Overflow0xFFFF commented on #3599
I'd like to take this one on as well, if that's okay!

[2022-10-08 15:57] mrinalwadhwa commented on #3599
@Overflow0xFFFF of course, go for it.

[2022-10-08 17:15] hargut commented on #3434
To address the issue of the early line wraps I've opened a ticket & PR on clap.
https://github.com/clap-rs/clap/issues/4360 # issue
https://github.com/clap-rs/clap/pull/4361 # pr

[2022-10-08 18:14] mrinalwadhwa opened #3625 "Move `cargo release` config file to `tools/scripts/release`"
We use `cargo release` to release rust crates.

This is called in scripts that live in this folder [`tools/scripts/release`](https://github.com/build-trust/ockam/tree/develop/tools/scripts/release)

The config file for `cargo release` is currently in the root of our repo [release.toml](https://github.com/build-trust/ockam/blob/develop/release.toml).

We want to keep the number of files in the repo

[2022-10-08 18:24] mrinalwadhwa commented on #3609
Closed in https://github.com/build-trust/ockam/pull/3615

[2022-10-08 18:24] #3609 closed, assigned to nobody

[2022-10-08 18:55] mrinalwadhwa opened #3626 "Move `cross` configuration to Cargo.toml and `tools/cross`"
We use [cross](https://github.com/cross-rs/cross) to cross compile ockam command binaries.

Currently the configuration from cross lives in [Cross.toml](https://github.com/build-trust/ockam/blob/develop/Cross.toml), [Cross.Dockerfile.aarch64](https://github.com/build-trust/ockam/blob/develop/Cross.Dockerfile.aarch64) & [Cross.Dockerfile.armv7](https://github.com/build-trust/ockam/blob/develop/Cros

[2022-10-09 06:46] #3599 closed, assigned to nobody

[2022-10-09 07:29] hargut commented on #3434
The clap PR was accepted and the version has been updated. This was included in #3622

[2022-10-09 08:19] adrianbenavides opened #3628 "ci: failing the `Ockam Command Test / Test Ockam Command` stage doesn't stop a PR from merging"
Example: https://github.com/build-trust/ockam/pull/3624/checks

@metaclips

[2022-10-09 08:32] metaclips commented on #3628
@mrinalwadhwa is Ockam command test added to mergify rule 🤔

[2022-10-09 09:36] constantinosgeorgiou commented on #3625
I can create a fix for this issue. Please assign it to me.

[2022-10-09 15:16] mrinalwadhwa commented on #3625
@constantinosgeorgiou great! all yours.

[2022-10-09 15:29] #3628 closed, assigned to nobody

[2022-10-09 16:02] sanjayts commented on #3539
I had a quick look at this and would appreciate some clarification. IIUC, the concern here is readiness check can fail and we want to persist the `project` before doing the readiness check. But trying to persist (`config::set_project(&opts.config, &project).await?;`) before the project is ready results in an error **"Project is not ready yet, wait a few seconds and try again"**.

Commenting out th

[2022-10-09 17:33] constantinosgeorgiou commented on #3625
Created PR #3630

[2022-10-09 18:32] mrinalwadhwa opened #3631 "Hacktoberfest - No Code - Try Ockam Command (CLI) and give user experience feedback"
We are trying to gather UX feedback on the first example of Ockam Command that is part of [our README](https://github.com/build-trust/ockam#readme).

Hacktoberfest is highlighting No Code contributions this year including testing and User Experience. We love that!

Here's how you can contribute to Ockam with user experience feedback.

1. Read [our README](https://github.com/build-trust/ockam#readm

[2022-10-10 10:08] adrianbenavides commented on #3539
We want to keep the current `set` method as it is. What I'd rather do is to create another method called `set_unchecked` which will do exactly the same as `set` but without the `!project.is_ready()` check and without unwrapping the `project.identity`. To do this you'll need to refactor a little the `ProjectLookup` structure so it matches the types from `Project`. More specifically, `ProjectLookup`

[2022-10-10 12:15] kriogenia commented on #3600
I'm picking this up

[2022-10-10 14:47] mrinalwadhwa commented on #3625
Merged in https://github.com/build-trust/ockam/pull/3630, thank you @constantinosgeorgiou 🥳

[2022-10-10 14:47] #3625 closed, assigned to nobody

[2022-10-10 15:23] #3600 closed, assigned to nobody

[2022-10-10 20:52] sanjayts commented on #3539
Thanks; this definitely makes sense -- I was under the impression that all fields need to be populated before storing the config, but that doesn't seem to be the case. I've created a rough draft PR -- do you mind taking a look so that I know I'm on the right track? I'll clean up the unwraps and use error handling once you give your go-ahead.

https://github.com/build-trust/ockam/pull/3635/files

[2022-10-11 06:42] #3598 closed, assigned to nobody

[2022-10-11 15:19] mrinalwadhwa commented on #3476
@thaodt checking in to see if you still have time to work on this or if you need any help. Totally okay if you don't have time we can open it up for other contributors. thank you.

[2022-10-11 15:57] thaodt commented on #3476
hi @mrinalwadhwa yeah still want to work on this. Sorry im just back from holiday, I'm checking my list of issues one by one :sweat_smile:

[2022-10-11 16:01] mrinalwadhwa commented on #3476
Great, let us know if you need help.

[2022-10-11 19:41] hairyhum commented on #1233
Closing due to inactivity. The test failure was not detected in a while also.

[2022-10-11 19:41] #1233 closed

[2022-10-11 20:14] hairyhum commented on #2496
I think we will need to revive that discussion as we need to start implementing OpenTelemetry https://github.com/build-trust/ockam/discussions/2319 integration between Rust and Elixir as we need to accomodate telemetry metadata in the message format.

[2022-10-12 01:58] duttaANI commented on #3626
Hi @mrinalwadhwa . I wanted to confirm if the following is the base image https://hub.docker.com/r/kbushminkin/rust-aarch64-unknown-linux-musl since we have to calculate the SHA.

[2022-10-12 04:46] mrinalwadhwa commented on #3626
@duttaANI thank you for spending time on this.
No that is not the image.

The images are

- [ghcr.io/cross-rs/aarch64-unknown-linux-musl:0.2.4](https://github.com/cross-rs/cross/pkgs/container/aarch64-unknown-linux-musl/28076437?tag=0.2.4)
- [ghcr.io/cross-rs/armv7-unknown-linux-musleabihf:0.2.4](https://github.com/cross-rs/cross/pkgs/container/armv7-unknown-linux-musleabihf/28076418?tag=0.2.4)

[2022-10-12 09:11] thaodt commented on #3476
@mrinalwadhwa it seems some new tests didn't pass after some weeks i didn't touch to `ockam` code. maybe im missing something, could you please point it out?
The errors i got below:
<details><summary>Error details</summary>

[code]
</details>

Command I used:  `ORCHESTRATOR_TESTS=1 LONG_TESTS=1 bats implementations/rust/ockam/ockam_command/tests/commands.bats`

[2022-10-12 11:02] twittner commented on #3476
@thaodt: It looks like the tests are running against an outdated ockam binary. Try compiling the current develop version, e.g.

[code]

[2022-10-12 13:27] h3athen commented on #3631
Hello, I just posted a feedback and RP for this issue
PR: https://github.com/build-trust/ockam-contributors/pull/127
Discussion: https://github.com/build-trust/ockam/discussions/3638

[2022-10-13 07:04] #3540 closed, assigned to windlessStorm

[2022-10-13 07:44] thaodt commented on #3476
@twittner yeah, I already built before asking, its weird a bit, just clean and rebuilt, then it worked. But right now, there are 2 failed tests.
<details><summary>Details</summary>

[code]

</details>

I checked the code but nothing seems out of the ordinary.

[2022-10-13 09:44] metaclips opened #3644 "Remove deprecated set-output command in `Create Release Pull Request` workflow"
[Set-output command is deprecated](https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/), we currently use said command in our workflow https://github.com/build-trust/ockam/blob/dd9088eb8ab7cb43da12896a66f16fdbfb81af1a/.github/workflows/create-release-pull-request.yml#L59 we should update command to [output parameter](https://docs.github.com/en/ac

[2022-10-13 09:48] metaclips opened #3645 "Remove deprecated set-output command in `Documentation` workflow"
[Set-output command is deprecated](https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/), we currently use said command in our workflow https://github.com/build-trust/ockam/blob/dd9088eb8ab7cb43da12896a66f16fdbfb81af1a/.github/workflows/documentation.yml#L62 we should update command to use [output parameter](https://docs.github.com/en/actions/usin

[2022-10-13 09:51] metaclips opened #3646 "Remove deprecated set-output command in `Ockam Container Release` workflow"
[Set-output command is deprecated](https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/), we currently use said command in our workflow here
https://github.com/build-trust/ockam/blob/dd9088eb8ab7cb43da12896a66f16fdbfb81af1a/.github/workflows/ockam-package.yml#L57 and here https://github.com/build-trust/ockam/blob/dd9088eb8ab7cb43da12896a66f16fdbfb

[2022-10-13 09:54] metaclips opened #3647 "Remove deprecated set-output command in `Create Draft Release` workflow"
[Set-output command is deprecated](https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/), we currently use said command in our workflow here
https://github.com/build-trust/ockam/blob/dd9088eb8ab7cb43da12896a66f16fdbfb81af1a/.github/workflows/release-binaries.yml#L159-L160  we should update command to use [output parameter](https://docs.github.com/

[2022-10-13 09:56] divyank-aggarwal commented on #3562
Hi, I'd like to contribute to this project.

I have a few queries related to this issue:

1) Is there a test I can run to see if I've refactored the code correctly?
2) I'm assuming the old `show_identity` function that is in use should now be deprecated (and hence deleted)
3) There is an error that was not directly convertible to the `crate::Result` error type, namely `api::show_identity().to_vec(

[2022-10-13 14:40] elliotwutingfeng commented on #3572
Thanks! I believe this can be closed now.

[2022-10-13 15:11] bahelms commented on #3645
I'd like to pick this up!

Do we want to move to using an environment variable or an [output parameter](https://docs.github.com/en/actions/using-workflows/workflow-commands-for-github-actions#setting-an-output-parameter)?

[2022-10-13 15:59] metaclips commented on #3645
Thanks @bahelms. Output parameter works just fine.

[2022-10-13 16:03] metaclips commented on #3645
I also updated the issue to indicate using output-parameter instead as that's much better

[2022-10-13 16:11] h20220145 commented on #3597
Would like to take this issue up .

[2022-10-13 16:12] h20220145 commented on #3595
Can I take this issue up ?

[2022-10-13 17:04] h20220145 commented on #3595
@adrianbenavides

[2022-10-13 18:01] Rishav-12 commented on #3644
Hey, can I pick this up?

[2022-10-13 18:18] metaclips commented on #3644
Sure 😀. Assigning you now.

[2022-10-13 18:50] mrinalwadhwa commented on #3595
@h20220145 great, all yours! Let us know if you have any questions.

[2022-10-13 20:36] hairyhum opened #3650 "Elixir: Refactor identity secure channel files"
Currently located in `lib/ockam/secure_channel/identity` modules need to be moved to `lib/ockam/identity/secure_channel` to be more consistent with the module names.

Modules in `lib/ockam/secure_channel/identity/identity_channel.ex` should be split to multiple files/directories to be consistent with module names.

`Ockam.Identity.SecureChannel.IdentityChannelMessage` should be renamed to `Ockam.I